title = '店铺预览'
url = '/shops/shop/:id'
layout = 'default'

[b7Shop]
==

<section class="user dp-see">
    <div class="content">
        {% if shop.checked %}
        <div class=" see-left">
            <h4>{{ shop.name }}</h4>
            {% if user.id == shop.user.id %}
            <p style="color:green">您提交的店铺信息已经通过审核</p>
            {% endif %}
            {{ shop.description|raw }}
        </div>
        {% endif %}

        <div class=" see-right">
            {% if shop.checked %}
            <div style="text-align: center">
                <a style="color: #969696" href="">
                    <img class="margin-bottom-10" src="{{ shop.getAvatarThumb(400,200) }}" alt="">
                </a>
            </div>
            {% endif %}
            <div class="seeR-content">
                {% if shop.checked %}
                <div class="seeR-title" style="margin: 15px 35px">
                    <a href="{{ shop.links }}" target="_blank"><strong> 进入店铺</strong></a>
                </div>
                {% endif %}
                {% if user.id == shop.user.id %}
                    {% if not shop.checked %}
                        <div class="seeR-title">
                            <strong> 店铺审核状态</strong>
                        </div>
                        {% if shop.status == 'committed' %}
                        <div class="alert alert-info">
                            <i class="fa fa-spinner fa-pulse margin-left-right-10"></i> <span>您的店铺信息已经提交,我们将尽快审核.</span>
                        </div>
                        {% elseif shop.status == 'checking' %}
                        <div class="alert alert-info">
                            <i class="fa fa-spinner fa-pulse margin-left-right-10"></i> <span>审核进行中，请注意查看。</span>
                        </div>
                        {% elseif shop.status == 'passed' %}
                        <div class="alert alert-success">
                            <i class="fa fa-american-sign-language-interpreting margin-left-right-10 "></i>
                            <span>恭喜,您提交的店铺信息已经通过审核,我们将会在店铺中心展示您的店铺</span>
                        </div>
                        {% elseif shop.status == 'not_passed' %}
                        <div class="callout callout-danger">
                            <h4>审核未通过</h4>
                            <p>
                                <strong>原因:</strong>
                                {{ shop.not_passed_message }}
                            </p>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>

        </div>


    </div>
</section>
