<ul class="step-contain">
    <li class="step">1、邮箱验证</li>
    <li class="step">2、查看邮箱</li>
    <li class="step">3、输入激活码</li>
    <li class="step active">4、完成</li>
</ul>
<div class="form-containR">
    <span>恭喜您！重置密码成功</span>
    <span>赶快返回 <a href="login.html">登录页面</a>试试吧！</span>
</div>
<div class="sip-bottom">
    <span class="title-sp">温馨提示</span>
    <span>1、设置密码要复杂，同时便于记忆。</span>
    <span> 2、在公共场所上网时不要选择记住密码功能服务。</span>
    <span>3、可以定期更新密码，避免密码泄露。</span>
    <span>4、可以申请密码保护，在密码丢失或泄露时维护自己的权益。</span>
    <span>6、经常对电脑进行病毒查杀，运行游戏时开启杀毒软件和防火墙。 </span>
</div>