<ul>
    <li class="{% if viewBag.userActiveMenu == 'account' %}active{% endif %} ">
        <a href="/user/center/account">
            <i class="fa fa-drivers-license"></i>
            账号
        </a>
    </li>
    <li class="{% if viewBag.userActiveMenu == 'avatar' %}active{% endif %}">
        <a href="/user/center/avatar">
            <i class="fa fa-user-circle-o"></i>
            头像
        </a>
    </li>
    <li class="{% if viewBag.userActiveMenu == 'statisticones' %}active{% endif %}">
        <a href="/user/center/statisticones">
            <i class="fa fa-area-chart"></i>
            数据统计
        </a>
    </li>
    <li class="{% if viewBag.userActiveMenu == 'companies' %}active{% endif %} ">
        <a href="/user/center/companies">
            <i class="fa fa-institution"></i>
            公司信息
        </a>
    </li>
    <li class="{% if viewBag.userActiveMenu == 'shops' %}active{% endif %} ">
        <a href="/user/center/shops">
            <i class="fa fa-archive"></i>
            我的店铺
        </a>
    </li>
    <li class="{% if viewBag.userActiveMenu == 'courses' %}active{% endif %} ">
        <a href="/user/center/courses">
            <i class="fa fa-fw fa-folder-open"></i>
            收藏课程
        </a>
    </li>
    <li class="{% if viewBag.userActiveMenu == 'needs' %}active{% endif %} ">
        <a href="/user/center/needs">
            <i class="fa fa-fw fa-feed"></i>
            我的发布
        </a>
    </li>
    <li class="{% if viewBag.userActiveMenu == 'settings' %}active{% endif %} ">
        <a href="/user/center/settings">
            <i class="fa fa-fw fa-gear"></i>
            设置
        </a>
    </li>
</ul>