
/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
.idea
.env
.env.*.php
.env.php
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
sftp-config.json
selenium.php

# for netbeans
nbproject

# IntelliJ project files
*.iml
out
gen


/bootstrap
/config/*
!/config/dev
!/config/production
/modules
/plugins/indikator
/plugins/netsti
/plugins/october
/plugins/rainlab
/storage
/tests
/themes/demo

.htaccess
.gitattributes
artisan
index.php
/composer.json
composer.lock
.travis.yml
CHANGELOG.md
/CONTRIBUTING.md
ISSUE_TEMPLATE.md
phpunit.xml
server.php
