.DS_Store
*.log
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

/bootstrap
/config
/modules
/plugins/indikator
/plugins/netsti
/plugins/october
/plugins/rainlab
/storage
/themes/demo
/vendor
.htaccess
artisan
index.php
