title = "课程"
url = "/courses/course/:id"
layout="default"

[coursesCourse]
==
function onEnd(){

if(!Auth::check()) return Redirect::to('/user/login');

if(!$this['post']){
    return Redirect::to('/404');
}

// count views++
$id=$this->param('id');
if($id){
    $course=\Buuug7\Courses\Models\Course::where('id', $id)->isPublished()->first();
    if(!$course){
        return Redirect::to('/404');
    }
    if(!$course->views){
        $course->views=1;
        $course->save();
    }else{
        $course->views=$course->views+1;
        $course->save();
    }
}

}
==
<section class="box xspx-video">
    {% if post.videos %}
    {% for item in post.videos %}
    <div class="vid-wrapper">
        <h4 class="title">视频教程</h4>
        <video src="{{ item.file_path|media }}" width="800" height="550" controls preload></video>
    </div>
    {% endfor %}
    {% endif %}
    <div class="vid-cont clearfix">
        <div class="divfelt">
            <div class="vid-body">
                <!--content-->

                <div class="vid-title">
                    <h3> {{ post.title }}</h3>
                </div>

                <h5><span>一、课程简介</span></h5>
                <p>{{ post.summary }}</p>

                <h5><span> 二、课程详情</span></h5>
                {{ post.content|raw }}

            </div>
        </div>
        <div class="float-right dszx-kjnav">
            <div class="vid-message">
                {% if post.shouCang %}

                <a class="btn btn-line-success " data-request="onDetachShouCang"
                   data-request-data="id:{{post.id}}"
                   data-attach-loading
                >
                    <i class="fa fa-star-o margin-right-5"></i>取消收藏
                </a>

                {% else %}

                <a class="btn btn-line-success "
                   data-request="onShouCang"
                   data-request-data="id:{{post.id}}"
                   data-attach-loading
                >
                    <i class="fa fa-star-o margin-right-5"></i>收藏
                </a>
                {% endif %}

                {% if post.previousPost %}
                <a class="btn btn-line-primary" href="/courses/course/{{ post.previousPost.id }}"><i
                        class="fa fa-fast-backward margin-right-5"></i>上一课</a>
                {% endif %}
                {% if post.nextPost %}
                <a class="btn btn-line-primary" href="/courses/course/{{ post.nextPost.id }}"><i
                        class=" fa fa-fast-forward margin-right-5"></i>下一课</a>
                {% endif %}
                <p>
                    {% if post.categories.count %}
                    <i class="fa fa-file-movie-o"></i>发布在
                    {% for category in post.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                    栏目
                    {% endif %}
                </p>
            </div>
            <div class="kj-dszx rmkc">
                <div class="kj-title">
                    <a href="xspx-list.html" target="_blank"> <span>课程列表</span></a>
                </div>
                <ul>
                    {% for post in post.relatedPostsAll %}
                    <li>
                        <em class="{% if loop.index <= 5 %}topSpan{% endif %}">{{ loop.index }}</em>
                        <a href="/courses/course/{{ post.id }}" target="_blank"> <span> {{ post.title }}</span> </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</section>
<section class="box xspx-list  bdds-list" style="margin: 40px auto">
    <div class="hd"><i>相关课程</i></div>

    <div class="dd">
        <ul>
            {% for post in post.relatedPosts %}
            <li>
                <a href="/courses/course/{{ post.id }}" target="_blank">
                    <img src="{{ post.image|media }}" alt="">
                </a>
                <p><a href="/courses/course/{{ post.id }}" target="_blank">{{ post.title }}</a></p>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
