{{ form_ajax(method,{ model: need ,'data-request-flash' : 'true'}) }}
<input type="hidden" name="id" value="{{ form_value('id') }}">
<div class="form-group">
    <label for="needTitle">需求名称</label>
    <input type="text" name="title" id="needTitle" value="{{ form_value('title') }}" class="form-control"
           placeholder="请输入需求标题">
</div>


<div class="form-group">
    <label for="" class=" control-label">分类</label>
    <select class="form-control" id="needCategory" name="category">
        <option value="qita" {% if form_value(
        'category') == "qita" %} selected {% endif %}>其他</option>
        <option value="zhaopin" {% if form_value(
        'category') == "zhaopin" %} selected {% endif %}>招聘</option>
        <option value="jianzhi" {% if form_value(
        'category') == "jianzhi" %} selected {% endif %}>兼职</option>
        <option value="fangchan" {% if form_value(
        'category') == "fangchan" %} selected {% endif %}>房产</option>
        <option value="ershou" {% if form_value(
        'category') == "ershou" %} selected {% endif %}>二手</option>
        <option value="chongwu" {% if form_value(
        'category') == "chongwu" %} selected {% endif %}>宠物</option>
        <option value="bendifuwu" {% if form_value(
        'category') == "bendifuwu" %} selected {% endif %}>本地服务</option>
        <option value="jiaoyou" {% if form_value(
        'category') == "jiaoyou" %} selected {% endif %}>交友</option>

    </select>
</div>

<div class="form-group">
    <label for="needDescription">需求描述</label>
    <textarea name="description" rows="8" id="needDescription"
              class="form-control" placeholder="请输入需求描述">{{ form_value('description') }}</textarea>

</div>

<button type="submit" class="btn btn-default" data-attach-loading>发布</button>

{{ form_close() }}

{% put scripts %}
<script>
    $("textarea[name='description']").summernote({
        lang: 'zh-CN',
        height: 200,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link']],
            ['view', ['fullscreen']]
        ],
    });
</script>
{% endput %}