title = "公司"
url = "/user/center/company"
layout="default"

[b7Company]
==

function onStart()
{

if(!Auth::check()){
    return Redirect::to('/user/login');
}

$this->addCss('https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css');
$this->addCss('assets/vendor/summernote-0.8.3-dist/dist/summernote.css');
$this->addJs('assets/vendor/summernote-0.8.3-dist/dist/summernote.min.js');
$this->addJs('assets/vendor/summernote-0.8.3-dist/dist/lang/summernote-zh-CN.js');

}
==

<section class="box user ">
    <div class="mainLeft float-left">
        <ul>
            <li class=" ">
                <span class="icon-notice"></span>
                <i class="fa fa-drivers-license"></i>
                <a href="/user/center/account">账号</a>
            </li>
            <li class="active">
                <span class="icon-notice1"></span>
                <a href="/user/center/company">公司</a>
            </li>
            <li class="">
                <span class="icon-notice1"></span>
                <a href="/user/center/shoucang">收藏课程</a>
            </li>
            <li class="">
                <span class="icon-notice2"></span>
                <a href="/user/center/needs">我的发布</a>
            </li>
        </ul>
    </div>
    <div class="mainRight float-right  ">
        <div class="panel panel-default">
            <div class="panel-heading">
                公司信息
            </div>
            <div class="panel-body">
                {% if company %}
                {% if not company.checked %}
                {% if company.status == 'committed' %}
                <p>您的公司信息已经提交.</p>
                {% elseif company.status == 'checking' %}
                <p>您提交的信息正在审核过程中</p>
                {% elseif company.status == 'passed' %}
                <p>您提交的公司信息已经通过审核!</p>
                {% elseif company.status == 'not_passed' %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>您提交的公司信息未通过审核,具体原因如下,修复后可重新提交进行审核</p>
                        <p class="text-danger">{{ userRelatedCompany.not_passed_message|md }}</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% partial 'user/company_form' company=company method='onUpdateCompany' %}
                    </div>
                </div>
                {% endif %}
                {% else %}
                <p class="text-success">您提交的公司信息已经通过审核</p>
                {% partial 'user/company_form' company=company method='onUpdateCompany' %}
                {% endif %}
                {% else %}
                {% partial 'user/company_form' company=company method='onCreateCompany' %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
