{{ form_ajax(method,{ model: need }) }}
<input type="hidden" name="id" value="{{ form_value('id') }}">
<div class="form-group">
    <label for="needTitle">需求名称</label>
    <input type="text" name="title" id="needTitle" value="{{ form_value('title') }}" class="form-control">
</div>

<div class="form-group">
    <label for="needContactPhone">联系电话</label>
    <input type="text" name="contact_phone" id="needContactPhone" value="{{ form_value('contact_phone') }}" class="form-control">
</div>

<div class="form-group">
    <label for="needDescription">需求描述</label>
    <textarea name="description" rows="8" id="needDescription" class="form-control">{{ form_value('description') }}</textarea>
</div>

<button type="submit" class="btn btn-default">保存</button>

{{ form_close }}