<footer>
    <ul>
        <li>
            <img src="/themes/wy-theme-v2/assets/images/footer.png" alt="" class="footer1-img">
        </li>
        <li>
            <img class="footer1-wxH" src="/themes/wy-theme-v2/assets/images/icon/qrcode_for_gh_5ad6a003f706_258.jpg" alt="">
            <p>官方微信服务号</p>
        </li>
        <li class="footer3">
            <p>播种创业梦想 分享创新服务</p>
            <p>创业地图与您相伴</p>
        </li>
    </ul>
    <div class="box footer-bottom">
        <p>版权所有：渭源县电子商务公众服务中心</p>
        <p>Copyright 2015 甘ICP备123546224 <i></i> 甘公网安备 3323430240号 </p>
    </div>
</footer>