<style>
    a:hover{
        cursor: pointer;
    }
</style>
<header>
    <div class="topbar">
        <div class="inner">
            <div class="left">
                {% if user %}
                <span>欢迎归来 : <a href="/user/center/account">{{ user.name }}</a></span>
                {% endif %}
                渭源县电子商务公共服务平台
                <span class="time" id="current-time"></span>
            </div>
            <ul class="right">
                {% if user %}
                <li><a href="/user/center/account">个人中心</a></li>
                <li><a data-request="onLogout" data-request-data="redirect: '/'">退出</a></li>
                {% else %}
                <li><a href="/user/login">登陆</a></li>
                <li><a href="/user/register">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="head-long">
        <div class="float-left logo">
            <a href="/"><img src="/themes/wy-theme-v2/assets/images/logo2.png" alt=""></a>
        </div>
        <div class="float-right head-right">
            <ul>
                <li>
                    <a href="/login"> <img src="/themes/wy-theme-v2/assets/images/icon4.png" alt=""></a>
                    <p> 注册登录</p>

                </li>
                <li>
                    <a href="/lian-xi-wo-men"> <img src="/themes/wy-theme-v2/assets/images/icon2.png" alt=""></a>
                    <p> 联系我们</p>

                </li>
                <li>
                    <a href="/mian-ze-sheng-ming"> <img src="/themes/wy-theme-v2/assets/images/icon5.png" alt=""></a>
                    <p>免责声明</p>
                </li>
                <li>
                    <a href="/shi-yong-shuo-ming2"> <img src="/themes/wy-theme-v2/assets/images/icon1.png" alt=""></a>
                    <p>使用说明</p>

                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/news/categories/dian-shang-dong-tai">电商动态</a></li>
            <li><a href="/news/categories/zheng-ce-jie-du">政策解读</a></li>
            <li><a href="/news/categories/tong-zhi-gong-gao">通知公告</a></li>
            <li><a href="/xian-shang-pei-xun">线上培训</a></li>
            <li><a href="/ben-di-dian-shang">本地电商</a></li>
            <li><a href="/fu-wu-shi-chang">服务市场</a></li>
            <li><a href="/statistics">数据统计</a></li>
            <li><a href="http://1.jq2.com:8085/" target="_blank">电商学院</a></li>
        </ul>
    </nav>
</header>