title = "本地电商"
url = "/ben-di-dian-shang"
layout="default"

==
function onStart(){
$this['companies']=\Buuug7\User\Models\Company::displayChecked(5);
$this['featuredCompanies']=\Buuug7\User\Models\Company::displayFeatured(5);
}
==

<section class="box cpyx-list ">
    <div class="cpyx-qypp">
        <div class="hd"><i>推荐电商</i></div>
        <div class="dd">
            <ul>
                {% for post in featuredCompanies %}
                <li>
                    <a href="/companies/company/{{ post.id }}">
                        <img src="{{ post.getAvatarThumb(200) }}" alt="">
                        <p>{{ post.name }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section class="box cpyx-list ">
    <div class="cpyx-qypp">
        <div class="hd"><i>本地电商</i></div>
        <div class="dd">
            <ul>
                {% for post in companies %}
                <li>
                    <a href="/companies/company/{{ post.id }}">
                        <img src="{{ post.getAvatarThumb(200) }}" alt="">
                        <p>{{ post.name }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
