title = "本地电商"
url = "/ben-di-dian-shang"
layout="default"

==
function onStart(){
$this['companies']=\Buuug7\User\Models\Company::displayChecked(5);
$this['featuredCompanies']=\Buuug7\User\Models\Company::displayFeatured(5);
}
==

<section class="box cpyx-list ">
    <div class="cpyx-qypp">
        <div class="hd"><i>推荐电商</i><a href="ppqy-list.html"><span>more+</span></a></div>
        <div class="dd">
            <ul>
                {% for post in featuredCompanies %}
                <li><a href="/company/{{ post.id }}"><img src="{{ post.getAvatarThumb(200) }}" alt="">
                    <p>微商软件开发/APP开发</p></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section class="box cpyx-list">
    <div class="cpyx-bdds">
        <div class="hd"><i>本地电商</i></div>

        <div class="scrollpic">
            <div id="mybtns">
                <a href="javascript:;" id="left"></a>
                <a href="javascript:;" id="right"></a>
            </div>
            <div id="myscroll">
                <div id="myscrollbox">
                    <ul>
                        {% for post in companies %}
                        <li>
                            <a href="/company/{{ post.id }}">
                                <img src="{{ post.getAvatarThumb(200) }}" width="242" height="390">
                                <span class="intro"><h5><i>渭源井泓信息技术有限公司1</i></h5>
                                    <p>
                                        {{ post.description }}
                                    </p>
                                </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
