title = '服务市场'
url = '/fu-wu-shi-chang'
layout = 'default'

==
function onStart(){

$this['checkedNeeds']=\Buuug7\User\Models\Need::displayChecked(8);
$this['featuredNeeds']=\Buuug7\User\Models\Need::displayFeatured(8);

$this['categoryZhaoPin']=\Buuug7\User\Models\Need::displayByCategory('zhaopin',5);
$this['categoryFangChan']=\Buuug7\User\Models\Need::displayByCategory('fangchan',5);
$this['categoryErShow']=\Buuug7\User\Models\Need::displayByCategory('ershou',5);
$this['categoryQiTa']=\Buuug7\User\Models\Need::displayByCategory('qita',5);

//var_dump($this->categoryZhaoPin->count());
}
==

<div class="box fwsc-list">
    <div class="jumbotron">
        <div class="container">
            <h2>服务市场</h2>
            <p>
                快速发布您个人或者公司的需求
            </p>
            <p>
                <a href="/needs/need/create">
                    <button>发布需求</button>
                </a>
            </p>
        </div>
    </div>

</div>


<section class="box fwsc-list ">
    <div class="fwsc-zxfb">
        <div class="hd"><i>最新发布</i></div>
        <div class="dd">
            <ul>
                {% for need in checkedNeeds %}
                <li>
                    <a href="/needs/need/{{ need.id }}" target="_blank">
                        <span>{{ need.title }}</span>
                    </a>
                    <span class="time">{{ need.checked_at|time_diff }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section class="box fwsc-list" style="margin-bottom: 30px">
    <div class="hd"><i>推荐</i></div>
    <div class="dd">
        <ul>
            {% for need in featuredNeeds %}
            <li>
                <a href="/needs/need/{{ need.id }}" target="_blank">
                    <span>{{ need.title }}</span>
                </a>
                <span class="time">{{ need.checked_at|time_diff }}</span></li>
            {% endfor %}

        </ul>
    </div>
</section>
<section class="box fwsc-list" style="margin-bottom: 30px">
    <div class="hd"><i>招聘</i><a href="/needs/category/zhaopin"><span>more+</span></a></div>
    <div class="dd">
        <ul>
            {% for need in categoryZhaoPin %}
            <li>
                <a href="/needs/need/{{ need.id }}" target="_blank">
                    <span>{{ need.title }}</span>
                </a>
                <span class="time">{{ need.checked_at|time_diff }}</span></li>
            {% endfor %}
        </ul>
    </div>
</section>
<section class="box fwsc-list " style="margin-bottom: 30px">
    <div class="hd"><i>房产</i><a href="/needs/category/fangchan"><span>more+</span></a></div>
    <div class="dd">
        <ul>
            {% for need in categoryFangChan %}

            <li>
                <a href="/needs/need/{{ need.id }}" target="_blank">
                    <span>{{ need.title }}</span>
                </a>
                <span class="time">{{ need.checked_at|time_diff }}</span></li>
            {% endfor %}

        </ul>
    </div>
</section>

<section class="box fwsc-list " style="margin-bottom: 30px">
    <div class="hd"><i>二手</i><a href="/needs/category/ershou"><span>more+</span></a></div>
    <div class="dd">
        <ul>
            {% for need in categoryErShow %}

            <li>
                <a href="/needs/need/{{ need.id }}" target="_blank">
                    <span>{{ need.title }}</span>
                </a>
                <span class="time">{{ need.checked_at|time_diff }}</span></li>
            {% endfor %}

        </ul>
    </div>
</section>
<section class="box fwsc-list " style="margin-bottom: 30px">
    <div class="hd"><i>其他</i><a href="/needs/category/qita"><span>more+</span></a></div>
    <div class="dd">
        <ul>
            {% for need in categoryQiTa %}
            <li>
                <a href="/needs/need/{{ need.id }}" target="_blank">
                    <span>{{ need.title }}</span>
                </a>
                <span class="time">{{ need.checked_at|time_diff }}</span></li>
            {% endfor %}

        </ul>
    </div>
</section>