title = '生活信息'
url = '/gong-qiu-xin-xi'
layout = 'default'

==
function onStart(){

$this['categories']=\Buuug7\User\Models\Need::getCategories();

$this['checkedNeeds']=\Buuug7\User\Models\Need::displayChecked(5);
$this['featuredNeeds']=\Buuug7\User\Models\Need::displayFeatured(5);

}

function onLoadMore(){
$result= \Buuug7\User\Models\Need::loadMore(post('offset'));

if(!count($result[1])){
Flash::info('没有更多的信息了!');
}
$this['categories']=\Buuug7\User\Models\Need::getCategories();
$this['needs']=$result[1];
$this['offset']=$result[0];

}
==

<section class="box fwsc-fl-list ">
    <div class="fwsc-fl-header">
        {% for key,category in categories %}
        <a class="nav-cat" href="/needs/category/{{ key }}">
            <i class="nav-cat__icon nav-cat_icon-{{ key }}"></i>
            <h4 class="nav-cat__name">{{ category }}</h4>
        </a>
        {% endfor %}
    </div>
</section>
<section class="box fwsc-fl-list clearfix">

    <div class="fl-Lfet float-left">
        <div class="dd">
            <ul class="fl-dd-post">
                {% partial 'needs/list-need' needs=checkedNeeds %}
                <div class="loadMorePlaceholder"></div>
                <li class="le loadMore">
                    <a href="#"
                       class=""
                       data-request="onLoadMore"
                       data-request-data="offset: 5"
                       data-request-update="'needs/list-need':'@.loadMorePlaceholder','needs/load-button':'.loadMore'"
                       data-request-flash
                       data-attach-loading
                    >
                        加载更多
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="float-right fl-Right">
        <div class="Publish-button">
            <a href="/needs/need/create"> <i class="fa fa-hand-pointer-o "></i> 点我发布新需求</a>
        </div>
        <div class=" Column ">
            <div>
                <div class="Column-header">
                    <i class="fa fa-star"></i>

                    <h3 class="box-title">推荐信息</h3>
                </div>
                <ul class="Column-body">
                    {% for need in featuredNeeds %}
                    <li>
                        <a href="/needs/need/{{ need.id }}" class="item">
                            <i class="fa fa-sun-o"></i>
                            <span class="">{{ need.title }}</span>
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
            <div>
                <div class="Column-header">
                    <i class="fa fa-tags"></i>

                    <h3 class="box-title">分类</h3>
                </div>
                <div class="Column-body">
                    {% for key,category in categories %}
                    <a href="/needs/category/{{ key }}" class="item">{{ category }}</a>
                    {% endfor %}

                    <p>
                        <a href="/needs/tag/featured" class="item">推荐</a>
                        <a href="/needs/tag/newly" class="item">最新</a>
                    </p>
                </div>

            </div>
        </div>
    </div>


</section>
