title = "首页"
url = "/"
layout = "default"
==
function onStart()
{
// 推荐 特色
$this['featuredPosts'] = \Buuug7\News\Models\Post::displayFeatured(5);

// 置顶 资讯
$this['topPosts'] = \Buuug7\News\Models\Post::displayTop(5);

// 电商动态
$this['dianShangDongTai'] = \Buuug7\News\Models\Post::displayByCategory('dian-shang-dong-tai',6);

// 政策解读
$this['zhenCeJieDu'] = \Buuug7\News\Models\Post::displayByCategory('zheng-ce-jie-du',15);

// 通知公告
$this['tongZhiGongGao'] = \Buuug7\News\Models\Post::displayByCategory('tong-zhi-gong-gao',9);

// 推荐课程
$this['tagTuiJian']=\Buuug7\Courses\Models\Course::displayByTags(['tui-jian'],4);

// 电商基础知识
$this['courses']=\Buuug7\Courses\Models\Course::displayByCategories(['dian-zi-shang-wu-ji-chu-jiao-cheng','dian-zi-shang-wu-jin-jie-jiao-cheng'],16);


// 推荐店铺
$this['featuredShops']=\Buuug7\User\Models\Shop::displayFeatured();

// 推荐电商 知名企业
$this['featuredCompanies']=\Buuug7\User\Models\Company::displayFeatured(10);

}
==

<!--电商动态-->
<section class="box dszx">
    <div class="dszx-left float-left ">
        {% if dianShangDongTai.count %}
        <div class="th">
            <div class="hd">电商动态 <a href="/news/categories/dian-shang-dong-tai"><span>more+</span></a></div>
            <div class="dd td">
                <ul>
                    {% for post in dianShangDongTai %}
                    <li>
                        <a href="/news/post/{{ post.id }}" target="_blank"><span>{{ post.title }}</span></a>
                        <span class="time">{{ post.published_at|date('Y-m-d') }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if tongZhiGongGao.count %}
        <div class="th">
            <div class="hd">通知公告 <a href="/news/categories/tong-zhi-gong-gao"><span>more+</span></a></div>
            <div class="dd td1">
                <ul>
                    {% for post in tongZhiGongGao %}
                    <li>
                        <a href="/news/post/{{ post.id }}" target="_blank"><span>{{ post.title }}</span></a>
                        <span class="time">{{ post.published_at|date('Y-m-d') }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>

    {% if topPosts.count %}
    <div class="dszx-right float-right">
        <div id="slide">
            <ul class="list">
                {% for post in topPosts %}
                <li>
                    <a href="/news/post/{{ post.id }}"><img src="{{ post.image|media }}" alt="{{ post.title }}"></a>
                    <div class="title"><p>{{ post.title }}</p></div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</section>

<!--政策解读-->
<section class="box zcdx">
    <div class="hd"><i>政策解读</i><a href="/news/categories/zheng-ce-jie-du"><span>more+</span></a></div>
    <div class="dd">

        {% for chunk in zhenCeJieDu.chunk(5) %}
        <ul>
            {% for post in chunk %}
            {% if loop.index == 1 %}
            <li>
                <a href="/news/post/{{ post.id }}">
                    {% if post.image %}
                    <img class="float-left" src="{{ post.image|media }}" alt="">
                    {% else %}
                    <img class="float-left" src="http://placehold.it/800x400?text=no images" alt="">
                    {% endif %}
                </a>
                <p>{{ post.title|slice(0,18) }}</p>
                <span>{{ post.summary|raw|slice(0,25) }}</span>
            </li>
            {% else %}
            <li>
                <a href="/news/post/{{ post.id }}" target="_blank">
                    <span>{{ post.title }}</span>
                </a>
                <span class="time">{{ post.published_at|date('Y-m-d') }}</span>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}

    </div>
</section>

<!--优秀网店-->
<section class="box yxwd">
    <div class="hd"><i>网店展示</i><a href="/shops"><span>more+</span></a></div>
    <div class="dd ">
        <div id="img-slider" class="zzsc margin-top-10 ">
            <button id="prev"><i class="fa fa-angle-double-left"></i></button>
            <div class="slider-wrap">
                <ul>
                    {% for shop in featuredShops %}
                    <li><a href="/shops/shop/{{ shop.id }}">
                        <img src="{{ shop.getAvatarThumb(400,200) }}" class="rotates rotatesimg"/>
                        <p>{{ shop.name }}</p>
                    </a></li>
                    {% endfor %}
                </ul>
            </div>
            <button id="next"><i class="fa fa-angle-double-right"></i></button>
        </div>
    </div>
</section>

<!--广告位-->
<section class="box">
    <a href="#"><img src="/themes/wy-theme-v2/assets/images/gog-1.png" alt=""></a>
</section>

<!--线上培训-->
<section class="box xspx">
    <div class="hd"><i>线上培训</i><a href="/pei-xun"><span>more+</span></a></div>
    <div class="dd">
        {% if tagTuiJian.count %}
        <div class="float-left xspx-left">
            <ul>
                {% for post in tagTuiJian %}
                <li>
                    <a href="/courses/course/{{ post.id }}">
                        <img class="" src="{{ post.image|media }}" alt="">
                        <p>{{ post.title }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if courses.count %}
        <div class="float-right xspx-right">
            <ul>
                {% for chunk in courses.chunk(8) %}
                <li>
                    <ol>
                        {% for post in chunk %}
                        <li><a href="/courses/course/{{ post.id }}"><span>{{ post.title }}</span></a></li>
                        {% endfor %}
                    </ol>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</section>

<!--服务市场-->
<section class="box fwsc fwsc1">
    <div class="hd">
        <i class="">服务市场
            <a href="/gong-qiu-xin-xi"><span>more+</span></a>
        </i>
    </div>
    <div class="dd ">
        <ul class="float-left ul-left">
            <li><a href="/needs/tag/newly" class=""><i class="fa fa-cloud-upload"></i><span>最新发布</span></a></li>
            <li class="margin-top-10 ul-li1"><a href="/needs/tag/featured"><i class="fa fa-free-code-camp"></i><span>热门推荐</span></a>
            </li>
        </ul>
        <ul class="float-left ul-center">
            <li class="margin-left-right-10 float-left cen-li">
                <div class="cen-li-top">
                    <a href="/needs/category/fangchan"> <img src="/themes/wy-theme-v2/assets/images/come/fc.png" alt="" class=""></a>
                </div>
                <div class="cen-li-top">
                    <a href="/needs/category/ershou" class=""> <img src="/themes/wy-theme-v2/assets/images/come/es.png" alt="" class=""></a>

                </div>
            </li>
            <li class=" float-left">
                <div class="cen-li-top cen-li-chang">

                    <a href="/needs/category/zhaopin"><img src="/themes/wy-theme-v2/assets/images/come/zp.png" alt="" class="list-zp-img"></a>
                </div>

            </li>

        </ul>
        <ul class="float-left ul-right" style="">
            <li class="float-left ">
                <!--    <img src="images/come/jy.png" alt="">-->
                <a href="/needs/category/jiaoyou" class=""> <span>交友</span>
                    <i class="fa fa-eercast"></i>
                </a>
            </li>
            <li class="float-left li1">
                <a href="/needs/category/chongwu" class="">
                    <span>宠物</span>
                    <i class="fa fa-eercast"></i>

                </a>
                <!--    <img src="images/come/cw.png" alt="">-->

            </li>
            <li class="float-left  li2 ">
                <a href="/needs/category/bendifuwu" class="">
                    <span>本地服务</span>
                    <i class="fa fa-eercast"></i>
                </a>
            </li>
            <li class="float-left li3">

                <a href="/needs/category/qita" class=""> <span>其他</span>
                    <i class="fa  fa-eercast"></i></a>
            </li>
        </ul>
    </div>


</section>

<!--便民服务-->
<section class="box bmfw">
    <div class="hd"><i>便民服务</i><a href="/bian-min-fu-wu"><span>more+</span></a></div>
    <div class="dd ">
        <ul>
            <li>
                <a href="/bian-min-fu-wu#wu-liu-pei-song"> <img src="/themes/wy-theme-v2/assets/images/fwsc/bm-1.jpg" alt=""></a>
                <div class="info-box__content">
                    <a href="/bian-min-fu-wu#wu-liu-pei-song" class="color-666 m-b-sm">物流配送</a>
                    <p>Logistics Distribution</p>
                </div>
            </li>
            <li>
                <a href="/bian-min-fu-wu#jian-kang-yi-liao"><img src="/themes/wy-theme-v2/assets/images/fwsc/bm-2.jpg" alt=""></a>

                <div class="info-box__content">
                    <a href="/bian-min-fu-wu#jian-kang-yi-liao" class="color-666 m-b-sm">健康医疗</a>

                    <p>Health Care</p>
                </div>
            </li>
            <li>

                <a href="/bian-min-fu-wu#sheng-huo-fu-wu"> <img src="/themes/wy-theme-v2/assets/images/fwsc/bm-3.jpg" alt=""></a>

                <div class="info-box__content">
                    <a href="/bian-min-fu-wu#sheng-huo-fu-wu" class="color-666 m-b-sm">生活服务</a>

                    <p>Convenience Payment</p>
                </div>
            </li>
            <li>

                <a class="bm-fw-img" href="/fu-wu-shi-chang">
                    <img src="/themes/wy-theme-v2/assets/images/fwsc/bm-4.jpg" alt="">
                </a>

                <div class="info-box__content">
                    <a href="/fu-wu-shi-chang" class="color-666 m-b-sm">供求市场</a>

                    <p>Household Service</p>
                </div>
            </li>

        </ul>


    </div>

</section>

<!--品牌企业-->
<section class="box ppqy">
    <div class="hd"><i>品牌企业</i><a href="/ben-di-dian-shang"><span>more+</span></a></div>
    <div class="dd">
        {% for chunk in featuredCompanies.chunk(5) %}
        <ul class="margin-bottom-10">
            {% for post in chunk %}
            <li class="margin-right-5">
                <a href="/company/{{ post.id }}"><img src="{{ post.getAvatarThumb(300) }}" alt=""></a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</section>
