title = "线上培训"
url = "/pei-xun"
layout = "default"
==
function onStart(){
if(!Auth::check()) return Redirect::to('/user/login');

// filter by tags
$this['tagTuiJian']=\Buuug7\Courses\Models\Course::displayByTags(['tui-jian'],4);
$this['tagReMen']=\Buuug7\Courses\Models\Course::displayByTags(['re-men'],4);

// filter by categories
$this['categoryDianShangJiChuZhiShi']=\Buuug7\Courses\Models\Course::displayByCategories(['dian-shang-ji-chu-zhi-shi'],8);
$this['categoryDianShangJinJieZhiShi']=\Buuug7\Courses\Models\Course::displayByCategories(['dian-shang-jin-jie-zhi-shi'],8);

$this['categories']=\Buuug7\Courses\Models\Category::getNested();

}
==

<section class="box xspx-list-classify-wy-v1 clearfix ">
    <ol class=" breadcrumb">
        <li><a href="/" target="_blank">首页</a></li>
        <li class="active">线上培训</li>
    </ol>

    {% for category in categories %}
    <div class="thumbnail ">
        <a href="/courses/categories/{{ category.slug }}" target="_blank">
            {% if category.image %}
            <img src="{{ category.image|media }}" style="max-width: 100%" alt="">
            {% else %}
            <img src="http://placehold.it/800x400?text=No Image" alt="">
            {% endif %}
        </a>
        <div class="caption">
            <h3>{{ category.name }}</h3>
            <p class="color-999" style="height: 44px;line-height: 22px;">
                {{ str_limit(category.description,70,'...') }}
            </p>
            <p class="color-888">
                共包含 {{ category.courses.count }} 课时
            </p>
            <p>
                <a href="/courses/categories/{{ category.slug }}" class="btn btn-warning margin-bottom-10" target="_blank"><i class="fa fa-book margin-right-5"></i>开始学习</a>
            </p>
        </div>
    </div>
    {% endfor %}
</section>

<section class="box xspx-list-wy-v2">
    <!--推荐课程-->
    {% if tagTuiJian %}
    <div class="xspx-list-title ">
        <p><span>推荐课程</span></p>
    </div>
    <div class="xspx-list-body clearfix ">
        {% partial 'courses/block-v1' posts=tagTuiJian s_tag="推荐" %}
    </div>
    {% endif %}

    <!--热门课程-->
    {% if tagReMen %}
    <div class="xspx-list-title ">
        <p><span>热门课程</span></p>
    </div>
    <div class="xspx-list-body clearfix ">
        {% partial 'courses/block-v1' posts=tagReMen s_tag="热门" %}
    </div>
    {% endif %}
</section>
