title = "线上培训"
url = "/xian-shang-pei-xun/:page?"
layout = "default"
==
function onStart(){

$this->addCss('assets/style/cubeportfolio.min.css');
$this->addJs('assets/script/jquery.cubeportfolio.min.js');

if(!Auth::check()) return Redirect::to('/user/login');

// filter by tags
$this['tagTuiJian']=\Buuug7\Courses\Models\Course::displayByTags(['tui-jian'],4);
$this['tagReMen']=\Buuug7\Courses\Models\Course::displayByTags(['re-men'],8);

// filter by categories
$this['courses']=\Buuug7\Courses\Models\Course::displayByCategories(['dian-zi-shang-wu-ji-chu-jiao-cheng','dian-zi-shang-wu-jin-jie-jiao-cheng']);

}

==

<ol class="box breadcrumb">
    <li><a href="index.html">首页</a></li>
    <li class="active">线上培训</li>
</ol>

<!--活动项目-->
<section class="xspx-list-wy-v1 margin-bottom-25">
    <!--标题按钮-->
    <div id="js-xspx-title-wy-v1" class="cbp-l-filters-alignCenter  ">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            全部
            <div class="cbp-filter-counter"></div>
        </div>
        /
        <div data-filter=".dian-zi-shang-wu-ji-chu-jiao-cheng" class="cbp-filter-item">
            电子商务基础教程
            <div class="cbp-filter-counter"></div>
        </div>
        /
        <div data-filter=".dian-zi-shang-wu-jin-jie-jiao-chengi" class="cbp-filter-item">
            电子商务进阶教程
            <div class="cbp-filter-counter"></div>
        </div>
    </div>
    <!--正文-->
    <div id="js-xspx-work-wy-v1" class="cbp cbp-l-grid-work">
        <!--title u-->
        {% for post in courses %}
        <div class="cbp-item {% for category in post.categories %} {{ category.slug }} {% endfor %} ">
            <a href="/courses/course/{{ post.id }}" class="cbp-caption " rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    {% if post.image %}
                    <img src="{{ post.image|media }}" alt="{{ post.title }}">
                    {% else %}
                    <img src="http://placehold.it/800x400" alt="{{ post.title }}">
                    {% endif %}
                </div>
            </a>
            <a href="#!" class="cbp-l-grid-work-title " rel="nofollow">{{ post.categories[0].name }}</a>
            <div class="cbp-l-grid-work-desc">
                <p><a href="#!" class="">{{ post.title }}</a></p>
                <i class="fa fa-hourglass-1" title="课时"><span class="margin-left-5">{{ post.published_at|date('Y,m月 d') }}</span></i>
                <i class="fa fa-binoculars float-right" title="学习人数">
                    <span class="margin-left-right-10">{{ post.views ? post.views: 0 }} 浏览次数</span>
                </i>
            </div>
            {% if post.tags.count %}
            <u class="{{ post.tags[0].slug}}"><i class="xb">{{ post.tags[0].name}}</i></u>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>

{% put scripts %}
<script>
    //线上培训-列表
    $('#js-xspx-work-wy-v1').cubeportfolio({
        filters: '#js-xspx-title-wy-v1',
        loadMore: '#js-xspx-gengduo-wy-v1',
        loadMoreAction: 'click',
        layoutMode: 'grid',
        defaultFilter: '*',
        animationType: 'scaleSides',
        gapHorizontal: 30,
        gapVertical: 30,
        gridAdjustment: 'responsive',
        mediaQueries: [{
            width: 1500,
            cols: 5,
        }, {
            width: 1100,
            cols: 3,
        }, {
            width: 800,
            cols: 3,
        }, {
            width: 480,
            cols: 2,
            options: {
                caption: '',
            },
        }, {
            width: 320,
            cols: 1,
            options: {
                caption: '',
            },
        },],
        caption: 'zoom',
        displayType: 'fadeIn',
        displayTypeSpeed: 400,

    });
</script>
{% endput %}