title = '统计'
url = '/statistics'
layout = 'default'

[b7Statistics]
==
function onStart(){
$this->addJs('https://cdn.bootcss.com/Chart.js/2.5.0/Chart.bundle.min.js');

}
==

<ol class="box breadcrumb">
    <li><a href="index.html">首页</a></li>
    <li class="active">数据统计</li>
</ol>
<div class="box sjtj-list">
    <div class="jumbotron">
    </div>
</div>

{% for chunk in statistics.chunk(2) %}
<section class="sjtj-list clearfix ">
{% for post in chunk %}
    <div class="sjtj-pos1 {% if loop.index == 1 %} float-left {% else %} float-right {% endif %} margin-bottom-25">
        <header>
            <h3 class="margin-left-25">{{ post.title }}</h3>
        </header>
        <div class="tbody">
            <canvas id="line-chart-{{ loop.index }}"></canvas>
        </div>
    </div>
{% endfor %}
</section>
{% endfor %}

{% for chunk in statistics.chunk(2) %}
<section class="sjtj-list clearfix">
{% for post in chunk %}

    <div class="sjtj-pos1 {% if loop.index == 1 %} float-left {% else %} float-right {% endif %} margin-bottom-25">
        <header>
            <h3 class="margin-left-25">{{ post.title }}</h3>
        </header>
        <div class="tbody">
            <canvas id="bar-chart-{{loop.index}}"></canvas>
        </div>
    </div>
{% endfor %}
</section>
{% endfor %}


{% put scripts %}
<script>
  {% for post in statistics %}
    // line chart
    var ctxLineChart = document.getElementById('line-chart-{{ loop.index }}');
    var lineChartData = {
        labels: [{% for item in post.detail %}"{{ item.name }}",{% endfor %}],
        datasets: [
            {
                label: "{{ post.title }}",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [{% for item in post.detail%}{{ item.price*item.quantity }},{% endfor %}],
                spanGaps: false,
            }
        ]
    };
    var lineChartOptions = {};
    var lineChart = new Chart(ctxLineChart, {
        type: 'line',
        data: lineChartData,
        options: lineChartOptions
    });
   {% endfor %}


   {% for post in statistics %}
    // bar chart
    var ctxBarChart = document.getElementById('bar-chart-{{loop.index}}');
    var barChartData = {
        datasets: [
            {
                label: '2016前半年销售统计',// for legend
                borderWidth: 1,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
            data: [{% for item in post.detail%}{{ item.price*item.quantity }},{% endfor %}],
            }
        ],
                labels: [{% for item in post.detail %}"{{ item.name }}",{% endfor %}],
    };
    var barChartOptions = {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    };
    var barChart = new Chart(ctxBarChart, {
        type: 'bar',
        data: barChartData,
        options: barChartOptions
    });
    {% endfor %}
</script>
{% endput %}
