<header class="bar bar-nav">
    <a class="icon icon-me pull-left open-panel" data-panel=".side-panel"></a>
    <a class="button button-link button-nav pull-right open-popup" data-popup=".popup-about">
        <span class="icon icon-menu"></span>
    </a>
    <h1 class="title">{{ this.theme.site_name }}</h1>
</header>


<div class="popup-overlay"></div>
<div class="popup popup-about">
    <div class="content-block">
        <h2 class="text-center">关于我们</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis error, est harum impedit ipsa libero
           maxime, quasi quis repellendus reprehenderit repudiandae sed tenetur. Aspernatur laudantium libero
           praesentium quos repellendus.</p>
        <p><a href="#" class="button close-popup">好的</a></p>
    </div>
</div>