<nav class="bar bar-tab">
    <a class="tab-item active" href="#">
        <span class="icon icon-home"></span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item" href="#">
        <span class="icon icon-star"></span>
        <span class="tab-label">资讯</span>
    </a>
    <a class="tab-item" href="#">
        <span class="icon icon-edit"></span>
        <span class="tab-label">培训</span>
    </a>
    <a class="tab-item" href="#">
        <span class="icon icon-share"></span>
        <span class="tab-label">营销</span>
    </a>
    <a class="tab-item" href="#">
        <span class="icon icon-message"></span>
        <span class="tab-label">生活</span>
    </a>
    <a class="tab-item" href="#">
        <span class="icon icon-settings"></span>
        <span class="tab-label">设置</span>
    </a>
</nav>