title = '需求 | 搜索'
url = '/needs/search/:q?'
layout= 'default'

==
<?php
function onEnd(){
    $search=$this->param('q');
$this['q']=$search;
if($search){
$this['needs']=\Buuug7\User\Models\Need::search($search);
}
}
?>
==

{% if needs.count %}
<section class="box sousou">
    <p class="sou-p">
        <span>获得约  {{ needs.count }} 条结果</span>
    </p>
    <ul class="sou-list margin-bottom-25">
        {% for post in needs %}
        <li>
            <a class="sou-list-title" href="/needs/need/{{ post.id }}" target="_blank">{{ post.title }}</a>
            <p class="sou-list-des">
                <small>{{ post.checked_at|time_diff }} / {{ post.user.name }}</small>
            </p>
        </li>
        {% endfor %}
    </ul>
    {{ needs.render|raw }}
</section>
{% else %}
<section class="box sousou souNo">
    <p class="sou-p">
        <span>获得约  0 条结果</span>
        <span class="margin-left-25">用时约 16 毫秒</span>
    </p>
    <div class="noPagesou">
        <div class="sou-leadP">
            <p class=" sou-txt">很抱歉！没有找与 <span class="text-danger">{{ q }}</span> 相关内容<br>

            </p>
            <p>请重新编写搜索信息！</p>
        </div>
    </div>
</section>
{% endif %}


