title = "本地电商"
url = "/ben-di-dian-shang"
layout="default"

[b7Company]
==
function onEnd(){
//var_dump($this->companies);
}
==

<div class="container margin-top-20">
    <div class="jumbotron">
        <div class="container">
            <h2>{{ this.page.title }}</h2>
            <p>
                增加企业曝光率,让每一个电商企业真正成长起来,也是本平台的初衷
            </p>
        </div>
    </div>
</div>

<div class="container margin-top-20">
    <div class="row">
        <div class="page-header">
            <a href=""><h2>本地电商</h2></a>
        </div>
        {% if companies %}
        {% for company in companies %}
        <div class="col-md-2 com-sm-4">
            <div class="thumbnail">
                <img data-src="3" alt="" src="{{ company.getAvatarThumb(200) }}">
                <div class="caption">
                    <h4>{{ company.name }}</h4>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ companies.render|raw }}
        </div>
    </div>
</div>