title = '服务市场'
url = '/fu-wu-shi-chang'
layout = 'default'

==
function onStart(){

$this['checkedNeeds']=\Buuug7\User\Models\Need::displayChecked(8);
$this['featuredNeeds']=\Buuug7\User\Models\Need::displayFeatured(8);

$this['categoryZhaoPin']=\Buuug7\User\Models\Need::displayByCategory('zhaopin',5);
$this['categoryFangChan']=\Buuug7\User\Models\Need::displayByCategory('fangchan',5);
$this['categoryErShow']=\Buuug7\User\Models\Need::displayByCategory('ershou',5);
$this['categoryQiTa']=\Buuug7\User\Models\Need::displayByCategory('qita',5);

//var_dump($this->categoryZhaoPin->count());
}
==

<div class="container m-t">
    <div class="jumbotron">
        <div class="container">
            <h2>{{ this.page.title }}</h2>
            <p style="font-size: 22px">
                快速发布您个人或者公司的需求
            </p>
            <p>
                <a href="/needs/need/create" class="btn btn-primary"><i class="icon icon-plus"></i> 需求发布</a>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <!--最新 + 推荐-->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default panel-list-group-time">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="title">最新发布</span>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    {% for need in checkedNeeds %}
                    <li class="list-group-item overflow-h text-overflow-ellipsis">
                        <a href="/needs/need/{{ need.id }}" class="">{{ need.title }}</a>
                        <span class="small time">{{ need.checked_at|time_diff }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default panel-list-group-time">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="title"><i class="fa fa-star color-danger"></i> 推荐</span>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    {% for need in featuredNeeds %}
                    <li class="list-group-item overflow-h text-overflow-ellipsis">
                        <a href="/needs/need/{{ need.id }}" class="">{{ need.title }}</a>
                        <span class="small time">{{ need.checked_at|time_diff }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!--按照分类显示-->
    <div class="row">
        {% if categoryZhaoPin.count %}
        <div class="col-md-6">
            <div class="panel panel-default panel-list-group-time">
                <div class="panel-heading">
                    <span class="title">招聘</span>
                    <a href="/needs/category/zhaopin" class="pull-right">更多 <i class="fa fa-angle-double-right"></i></a>
                </div>
                <ul class="list-group">
                    {% for need in categoryZhaoPin %}
                    <li class="list-group-item overflow-h text-overflow-ellipsis">
                        <a href="/needs/need/{{ need.id }}" class="">{{ need.title }}</a>
                        <span class="small time">{{ need.checked_at|time_diff }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if categoryFangChan.count %}
        <div class="col-md-6">
            <div class="panel panel-default panel-list-group-time">
                <div class="panel-heading">
                    <span class="title">房产</span>
                    <a href="/needs/category/fangchan" class="pull-right">更多 <i class="fa fa-angle-double-right"></i></a>
                </div>
                <ul class="list-group">
                    {% for need in categoryFangChan %}
                    <li class="list-group-item overflow-h text-overflow-ellipsis">
                        <a href="/needs/need/{{ need.id }}" class="">{{ need.title }}</a>
                        <span class="small time">{{ need.checked_at|time_diff }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if categoryErShow.count %}
        <div class="col-md-6">
            <div class="panel panel-default panel-list-group-time">
                <div class="panel-heading">
                    <span class="title">二手</span>
                    <a href="/needs/category/ershou" class="pull-right">更多 <i class="fa fa-angle-double-right"></i></a>
                </div>
                <ul class="list-group">
                    {% for need in categoryErShow %}
                    <li class="list-group-item overflow-h text-overflow-ellipsis">
                        <a href="/needs/need/{{ need.id }}" class="">{{ need.title }}</a>
                        <span class="small time">{{ need.checked_at|time_diff }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if categoryQiTa.count %}
        <div class="col-md-6">
            <div class="panel panel-default panel-list-group-time">
                <div class="panel-heading">
                    其他
                    <a href="/needs/category/qita" class="pull-right">更多 <i class="fa fa-angle-double-right"></i></a>
                </div>
                <ul class="list-group">
                    {% for need in categoryQiTa %}
                    <li class="list-group-item overflow-h text-overflow-ellipsis">
                        <a href="/needs/need/{{ need.id }}" class="">{{ need.title }}</a>
                        <span class="small time">{{ need.checked_at|time_diff }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>
