title = '生活信息'
url = '/gong-qiu-xin-xi'
layout = 'default'

==
function onStart(){

$this['categories']=\Buuug7\User\Models\Need::getCategories();

$this['checkedNeeds']=\Buuug7\User\Models\Need::displayChecked(5);
$this['featuredNeeds']=\Buuug7\User\Models\Need::displayFeatured(8);

}

function onLoadMore(){
$result= \Buuug7\User\Models\Need::loadMore(post('offset'));

if(!count($result[1])){
    Flash::info('没有更多的信息了!');
}
$this['categories']=\Buuug7\User\Models\Need::getCategories();
$this['needs']=$result[1];
$this['offset']=$result[0];

}
==

<div class="container m-y">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-white block-with-shadown" style="white-space: nowrap;overflow-x: auto">
                {% for key,category in categories %}
                <a class="nav-cat" href="/needs/category/{{ key }}">
                    <i class="nav-cat__icon nav-cat_icon-{{ key }}"></i>
                    <h4 class="nav-cat__name">{{ category }}</h4>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group list-group--needs">
                <li class="list-group-item text-center">
                    <a href="/needs/need/create" class="btn btn-warning"><i class="fa fa-plus"></i> 发布新需求</a>
                </li>
                {% partial 'needs/list-need' needs=checkedNeeds %}
                <div class="loadMorePlaceholder"></div>
                <li class="list-group-item text-center loadMore">
                    <a href="#"
                       class="btn btn-default load-button"
                       data-request="onLoadMore"
                       data-request-data="offset: 5"
                       data-request-update="'needs/list-need':'@.loadMorePlaceholder','needs/load-button':'.loadMore'"
                       data-request-flash
                       data-attach-loading
                    >
                        加载更多
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-header with-border" style="color: #f39c12">
                    <i class="fa fa-star"></i>
                    <h4 class="box-title">推荐信息</h4>
                </div>
                <div class="box-body" style="padding:15px 20px;">
                    <ul class="list-unstyled">
                        {% for need in featuredNeeds %}
                        <li style="line-height: 2.5"><a href="/needs/need/{{ need.id }}" class="color-777">{{ need.title
                                                                                                           }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header with-border" style="color: #f39c12">
                    <i class="fa fa-tags"></i>
                    <h4 class="box-title">分类</h4>
                </div>
                <div class="box-body">
                    {% for key,category in categories %}
                    <a href="/needs/category/{{ key }}" class="item">{{ category }}</a>
                    {% endfor %}
                    <hr>
                    <p>
                        <a href="/needs/tag/featured" class="item">推荐</a>
                        <a href="/needs/tag/newly" class="item">最新</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
