title = '供求信息'
url = '/fu-wu-shi-chang'
layout = 'default'

==
function onStart(){


$this['categoriesLimit']=\Buuug7\User\Models\Need::getAllNeedsGroupedByCategory(2);

$this['categories']=\Buuug7\User\Models\Need::getCategories();

$this['checkedNeeds']=\Buuug7\User\Models\Need::displayChecked(8);
$this['featuredNeeds']=\Buuug7\User\Models\Need::displayFeatured(8);

}
==


<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>{{ this.page.title }}</h2>
                <p>
                    快速发布您的供求信息
                </p>
                <p>
                    <a href="/needs/need/create" class="btn btn-line-warning"><i class="icon icon-plus"></i> 发布新需求</a>
                </p>
            </div>
            <div class="col-md-4">
                <div class="tags-v4 p-t-md">
                    <ul class="list-inline">
                        {% for key,category in categories %}
                        <li>
                            <a href="/needs/category/{{ key }}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!--最新 + 推荐-->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default panel-list-group-time">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="title">最新发布</span>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    {% for need in checkedNeeds %}
                    <li class="list-group-item overflow-h text-overflow-ellipsis">
                        <a href="/needs/need/{{ need.id }}" class="">{{ need.title }}</a>
                        <span class="small time">{{ need.checked_at|time_diff }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default panel-list-group-time">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="title"><i class="fa fa-star color-danger"></i> 推荐</span>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    {% for need in featuredNeeds %}
                    <li class="list-group-item overflow-h text-overflow-ellipsis">
                        <a href="/needs/need/{{ need.id }}" class="">{{ need.title }}</a>
                        <span class="small time">{{ need.checked_at|time_diff }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        {% for key, category in needs %}
        <div class="col-md-6">
            <div class="panel panel-default panel-list-group-time">
                <div class="panel-heading">
                    <span class="title">{{ category.name }}</span>
                    <a href="/needs/category/{{ key }}" class="pull-right">
                        更多 <i class="fa fa-angle-double-right"></i>
                    </a>
                </div>
                <ul class="list-group">
                    {% for need in category.data %}
                    <li class="list-group-item overflow-h text-overflow-ellipsis">
                        <a href="/needs/need/{{ need.id }}" class="">{{ need.title }}</a>
                        <span class="small time">{{ need.checked_at|time_diff }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
