title = "首页"
url = "/"
layout = "default"
==
function onStart()
{
// 推荐 特色
$this['featuredPosts'] = \Buuug7\News\Models\Post::displayFeatured(15);

// 电商动态
$this['dianShangDongTai'] = \Buuug7\News\Models\Post::displayByCategory('dian-shang-dong-tai',5);

// 政策解读
$this['zhenCeJieDu'] = \Buuug7\News\Models\Post::displayByCategory('zheng-ce-jie-du',2);

// 通知公告
$this['tongZhiGongGao'] = \Buuug7\News\Models\Post::displayByCategory('tong-zhi-gong-gao',15);

// 推荐课程
$this['tagTuiJian']=\Buuug7\Courses\Models\Course::displayByTags(['tui-jian'],4);

// 电商基础知识
$this['categoryDianShangJiChuZhiShi']=\Buuug7\Courses\Models\Course::displayByCategories(['dian-shang-ji-chu-zhi-shi','dian-shang-jin-jie-zhi-shi'],4);

// 推荐电商
$this['featuredCompanies']=\Buuug7\User\Models\Company::displayFeatured(5);
}
==
<div class="container margin-top-20">
    <div class="jumbotron">
        <div class="container">
            {% content "welcome.htm" %}
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <!--dian-shang-dong-tai category-->
        {% if dianShangDongTai %}
        <div class="col-md-6">
            <div class="page-header">
                <a href="{{ '/news/categories/dian-shang-zi-xun' }}"><h2>电商动态</h2></a>
            </div>
            <div class="list-group">
                {% for post in dianShangDongTai %}
                <a href="/news/post/{{ post.slug }}" class="list-group-item buuug7-no-border buuug7-no-padding">
                    <h4 class="list-group-item-heading">{{ post.title }}</h4>
                    <p class="list-group-item-text">{{ post.summary|raw }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <!--featured 推荐-->
        {% if featuredPosts %}
        <div class="col-md-6">
            <div class="page-header">
                <h2>推荐资讯</h2>
            </div>
            <div id="carousel-id" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for post in featuredPosts %}
                    {% if post.image %}
                    <li data-target="#carousel-id" data-slide-to="{{ loop.index0 }}" class="{% if loop.index0 == 0 %}active{% endif %}"></li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for post in featuredPosts %}
                    {% if post.image %}
                    <div class="item {% if loop.index0 == 0 %}active{% endif %}">
                        <a href="/news/post/{{ post.slug }}">
                            <img data-src="" alt="{{ post.title }}" src="{{ post.image|media }}">
                        </a>
                        <div class="carousel-caption">
                            <p>{{ post.title }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <!--zhen-ce-jie-du category-->
        {% if zhenCeJieDu %}
        <div class="col-md-6">
            <div class="page-header">
                <a href="/news/categories/zheng-ce-jie-du"><h2>政策解读</h2></a>
            </div>
            {% for post in zhenCeJieDu %}
            <div class="media">
                {% if post.image %}
                <a class="media-left" href="/news/post/{{ post.slug }}">
                    <img src="{{ post.image|media }}" style="width: 160px; height: 90px;">
                </a>
                {% endif %}
                <div class="media-body">
                    <a href="/news/post/{{ post.slug }}">
                        <h4 class="media-heading">{{ post.title }}</h4>
                    </a>
                    <p>{{ post.summary|raw }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!--tong-zhi-gong-gao-->
        {% if tongZhiGongGao %}
        <div class="col-md-6">
            <div class="page-header">
                <a href="/news/categories/tong-zhi-gong-gao">
                    <h2>通知公告</h2>
                </a>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-unstyled">
                        {% for post in tongZhiGongGao %}
                        <li class="padding-top-20">
                            <a href="/news/post/{{ post.slug }}">{{ post.title }}</a> <span class="small">{{ post.created_at |date('Y-m-d')}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

    {% if tagTuiJian %}
    <div class="page-header">
        <a href="/courses/tag/tui-jian"><h2>推荐课程</h2></a>
    </div>
    <div class="row">
        {% partial 'courses/thumbnail-block' posts=tagTuiJian %}
    </div>
    {% endif %}

    <!--filter by categories-->
    {% if categoryDianShangJiChuZhiShi %}
    <div class="page-header">
        <a href="/courses/categories/dian-shang-ji-chu-zhi-shi"><h2>电商基础知识</h2></a>
    </div>
    <div class="row">
        {% partial 'courses/thumbnail-block' posts=categoryDianShangJiChuZhiShi %}
    </div>
    {% endif %}


    <div class="page-header">
        <a href="#"><h2>本地电商</h2></a>
    </div>
    <div class="row">
        {% partial 'companies/thumbnail-block' companies=featuredCompanies %}
    </div>


</div>
