title = "首页"
url = "/"
layout = "default"
==
function onStart()
{
$this->addJs('https://cdn.bootcss.com/jquery-backstretch/2.0.4/jquery.backstretch.min.js');

// 推荐 特色
$this['featuredPosts'] = \Buuug7\News\Models\Post::displayFeatured(5);

// 置顶 资讯
$this['topPosts'] = \Buuug7\News\Models\Post::displayTop(5);


// 电商动态
$this['dianShangDongTai'] = \Buuug7\News\Models\Post::displayByCategory('dian-shang-dong-tai',4);

// 政策解读
$this['zhenCeJieDu'] = \Buuug7\News\Models\Post::displayByCategory('zheng-ce-jie-du',4);

// 通知公告
$this['tongZhiGongGao'] = \Buuug7\News\Models\Post::displayByCategory('tong-zhi-gong-gao',8);

// 推荐课程
$this['tagTuiJian']=\Buuug7\Courses\Models\Course::displayByTags(['tui-jian'],4);

// 电商基础知识
$this['categoryDianShangJiChuZhiShi']=\Buuug7\Courses\Models\Course::displayByCategories(['dian-shang-ji-chu-zhi-shi'],4);

// 服务市场
$this['fuwu']=\Buuug7\User\Models\Need::displayFeatured(12);
$this['categoryZhaoPin']=\Buuug7\User\Models\Need::displayByCategory('zhaopin',12);
$this['categoryFangChan']=\Buuug7\User\Models\Need::displayByCategory('fangchan',12);
$this['categoryErShow']=\Buuug7\User\Models\Need::displayByCategory('ershou',12);
$this['categoryQiTa']=\Buuug7\User\Models\Need::displayByCategory('qita',12);


// 推荐电商 知名企业
$this['featuredCompanies']=\Buuug7\User\Models\Company::displayFeatured(10);

}

==


<!--<div class="container m-t m-b">
    <div class="jumbotron jumbotron-v1">
        <div class="container">
            <div class="clearfix">
                <div class="header-container loaded">
                    <div class="col-lg-7">
                        <h1 class="hidden-xs">渭源电商平台</h1>
                        <h2>渭源县电子商务公共服务平台</h2>
                        <p>
                            建设实现数据统一化、组织网络化、功能社会化、服务产业<br>
                            化、手段现代化的一个全县电子商务资源信息集散平台
                        </p>
                        {% if user %}
                        <a href="/user/center/account" class="btn btn-line-warning btn-line-theme m-b">用户中心</a>
                        {% else %}
                        <a href="/user/login" class="btn btn-line-warning btn-line-theme m-b">登录 / 注册</a>
                        {% endif %}
                        <a href="/needs/need/create" class="btn btn-warning btn-theme m-b">发布信息</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->


<div class="container m-t-lg">
    <!--置顶资讯-->
    <div class="row">
        <div class="col-sm-6 m-b">
            <div class="owl-carousel owl-carousel-v3">
                {% for post in topPosts %}
                <a class="item" href="/news/post/{{ post.id }}">
                    <img src="{{ post.image|media }}" alt="{{ post.title }}">
                    <p class="title">
                        {{ post.title }}
                    </p>
                </a>
                {% endfor %}
            </div>
        </div>
        {% if featuredPosts %}

        <!--推荐资讯-->
        <div class="col-sm-6 hidden-xs">
            <div class="row">
                <div class="col-sm-6 m-b">
                    <a class="news-wrap" href="/news/post/{{ featuredPosts[1].slug }}">
                        <img src="{{ featuredPosts[1].image|media }}" alt="{{ featuredPosts[1].title }}" class="img-responsive">
                        <p class="title">{{ featuredPosts[0].title }}</p>
                    </a>
                    <p style="width:5px;height: 5px"></p>
                    <a class="news-wrap" href="/news/post/{{ featuredPosts[2].slug }}">
                        <img src="{{ featuredPosts[2].image|media }}" alt="{{ featuredPosts[2].title }}" class="img-responsive">
                        <p class="title">{{ featuredPosts[1].title }}</p>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="news-wrap" href="/news/post/{{ featuredPosts[3].slug }}">
                        <img src="{{ featuredPosts[3].image|media }}" alt="{{ featuredPosts[3].title }}" class="img-responsive">
                        <p class="title">{{ featuredPosts[2].title }}</p>
                    </a>
                    <p style="width:5px;height: 5px"></p>
                    <a class="news-wrap" href="/news/post/{{ featuredPosts[4].slug }}">
                        <img src="{{ featuredPosts[4].image|media }}" alt="{{ featuredPosts[4].title }}" class="img-responsive">
                        <p class="title">{{ featuredPosts[3].title }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <!--通知公告-->
    <div class="headline">
        <h2>通知公告</h2>
    </div>
    <div class="owl-carousel owl-carousel-v1 m-b">
        {% for post in tongZhiGongGao %}
        <div class="item">
            <a href="/news/post/{{ post.id }}" class="color-444">
                {{ post.title }}
            </a>
            &nbsp;
            <small class="color-777">
                {{ post.published_at|date('Y,m月 d')}}
            </small>
        </div>
        {% endfor %}
    </div>

    <!--电商动态+政策解读-->
    <div class="tab-v1 m-t-lg">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab2" data-toggle="tab" aria-expanded="true" style="font-size: 20px">电商动态</a>
            </li>
            <li class=""><a href="#tab3" data-toggle="tab" aria-expanded="false" style="font-size: 20px">政策解读</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab2">
                <div class="row">
                    {% for post in dianShangDongTai %}
                    <div class="col-md-3 col-sm-4 m-b">
                        <h5 class="color-444" style="height: 40px;line-height: 1.3;overflow: hidden">
                            <a class="color-444" href="/news/post/{{ post.id }}">
                                {{ str_limit(post.title, 60, '...') }}
                            </a>
                        </h5>
                        <small class="color-777">
                            {{ post.published_at|date('Y,m月 d')}}
                        </small>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="tab3">
                <div class="row">
                    {% for post in zhenCeJieDu %}
                    <div class="col-md-3 col-sm-4 m-b">
                        <h5 class="color-444" style="height: 40px;line-height: 1.3;overflow: hidden">
                            <a class="color-444" href="/news/post/{{ post.id }}">
                                {{ str_limit(post.title, 60, '...') }}
                            </a>
                        </h5>
                        <small class="color-777">
                            {{ post.published_at|date('Y,m月 d')}}
                        </small>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!--推荐课程-->
    {% if tagTuiJian %}
    <div class="headline">
        <h2><a href="/courses/tag/tui-jian">推荐课程</a></h2>
    </div>
    {% partial 'courses/block-v2' posts=tagTuiJian s_tag='推荐' %}
    {% endif %}

    <!--电商基础知识-->
    {% if categoryDianShangJiChuZhiShi %}
    <div class="headline">
        <h2><a href="/courses/categories/dian-shang-ji-chu-zhi-shi">电商基础知识</a></h2>
    </div>
    {% partial 'courses/block-v1' posts=categoryDianShangJiChuZhiShi s_tag='最新' %}
    {% endif %}

    <!--服务市场-->
    <div class="tab-v1 m-b">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#fw-1" data-toggle="tab" aria-expanded="true" style="font-size: 20px;">服务市场 /
                                                                                                               推荐</a>
            </li>
            <li class=""><a href="#fw-2" data-toggle="tab" aria-expanded="false" style="font-size: 20px">招聘</a>
            </li>
            <li class=""><a href="#fw-3" data-toggle="tab" aria-expanded="false" style="font-size: 20px">房产</a>
            </li>
            <li class=""><a href="#fw-4" data-toggle="tab" aria-expanded="false" style="font-size: 20px">二手</a>
            </li>
            <li class=""><a href="#fw-5" data-toggle="tab" aria-expanded="false" style="font-size: 20px">其他</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="fw-1">
                <div class="row">
                    {% for chunk in fuwu.chunk(6) %}
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            {% for post in chunk %}
                            <li style="line-height: 2">
                                <a href="/needs/need/{{ post.id }}" class="color-666">{{ post.title}}</a>
                                <span class="time small pull-right">{{ post.checked_at|time_diff }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="fw-2">
                <div class="row">
                    {% for chunk in categoryZhaoPin.chunk(6) %}
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            {% for post in chunk %}
                            <li>
                                <a href="/needs/need/{{ post.id }}" class="color-666">{{ post.title}}</a>
                                <span class="time small pull-right">{{ post.checked_at|time_diff }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="fw-3">
                <div class="row">
                    {% for chunk in categoryFangChan.chunk(6) %}
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            {% for post in chunk %}
                            <li>
                                <a href="/needs/need/{{ post.id }}" class="color-666">{{ post.title}}</a>
                                <span class="time small pull-right">{{ post.checked_at|time_diff }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="fw-4">
                <div class="row">
                    {% for chunk in categoryErShow.chunk(6) %}
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            {% for post in chunk %}
                            <li>
                                <a href="/needs/need/{{ post.id }}" class="color-666">{{ post.title}}</a>
                                <span class="time small pull-right">{{ post.checked_at|time_diff }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="fw-5">
                <div class="row">
                    {% for chunk in categoryQiTa.chunk(6) %}
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            {% for post in chunk %}
                            <li>
                                <a href="/needs/need/{{ post.id }}" class="color-666">{{ post.title}}</a>
                                <span class="time small pull-right">{{ post.checked_at|time_diff }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <!--知名企业-->
    {% if featuredCompanies %}
    <div class="headline">
        <h2><a href="/courses/categories/dian-shang-ji-chu-zhi-shi">知名企业</a></h2>
    </div>
    <div class="owl-carousel owl-carousel-v2 m-b-lg">
        {% for post in featuredCompanies %}
        <div class="item">
            <a href="/company/{{ post.id }}">
                <img src="{{ post.getAvatarThumb(300) }}" alt="">
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <!--便民服务-->
    <div class="headline ">
        <h2><a href="/bian-min-fu-wu">便民服务</a></h2>
    </div>
    <div class="row m-b-lg">
        <div class="col-sm-6 col-md-3">
            <div class="info-box-v2">
                <a class="info-box__header info-box__header-icons1" href="/bian-min-fu-wu#sheng-huo-fu-wu">

                </a>
                <div class="info-box__content">
                    <a href="/bian-min-fu-wu#sheng-huo-fu-wu" class="color-666 m-b-sm">生活服务</a>
                    <p>Convenience Payment</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="info-box-v2">
                <a class="info-box__header info-box__header-icons2" href="/fu-wu-shi-chang"></a>
                <div class="info-box__content">
                    <a href="/fu-wu-shi-chang" class="color-666 m-b-sm">供求市场</a>
                    <p>Household Service</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="info-box-v2">
                <a class="info-box__header info-box__header-icons3" href="/bian-min-fu-wu#wu-liu-pei-song"></a>
                <div class="info-box__content">
                    <a href="/bian-min-fu-wu#wu-liu-pei-song" class="color-666 m-b-sm">物流配送</a>
                    <p>Logistics Distribution</p>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-3">
            <div class="info-box-v2">
                <a class="info-box__header info-box__header-icons4" href="/bian-min-fu-wu#jian-kang-yi-liao"></a>
                <div class="info-box__content">
                    <a href="/bian-min-fu-wu#jian-kang-yi-liao" class="color-666 m-b-sm">健康医疗</a>
                    <p>Health Care</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script>

    $('.owl-carousel-v1').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        autoplay: true,
        navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            1000: {
                items: 4
            }
        }
    });

    $('.owl-carousel-v2').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
        autoplay: true,
        responsive: {
            0: {
                items: 2
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    });

    $('.owl-carousel-v3').owlCarousel({
        loop: true,
        margin: 10,
        nav: false,
        dots: true,
        navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
        animateOut: 'fadeOut',
        autoplay: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            1000: {
                items: 1
            }
        }
    });

    $(".jumbotron-v1 .container > div").backstretch([
        "themes/wy-theme/assets/images/home-header-bg-3.jpg",
        "themes/wy-theme/assets/images/home-header-bg-1.jpg",
        "themes/wy-theme/assets/images/home-header-bg-4.png",
    ], {
        duration: 5000,
        transition: 'cover_left'
    });
</script>
{% endput %}
