title = "线上培训"
url = "/xian-shang-pei-xun/:page?"
layout = "default"
==
function onStart(){

// filter by tags
$this['tagTuiJian']=\Buuug7\Courses\Models\Course::displayByTags(['tui-jian'],4);
$this['tagReMen']=\Buuug7\Courses\Models\Course::displayByTags(['re-men','tui-jian'],4);

// filter by categories
$this['categoryDianShangJiChuZhiShi']=\Buuug7\Courses\Models\Course::displayByCategories(['dian-shang-ji-chu-zhi-shi','dian-shang-jin-jie-zhi-shi'],4);
$this['categoryDianShangJinJieZhiShi']=\Buuug7\Courses\Models\Course::displayByCategories(['dian-shang-jin-jie-zhi-shi'],4);
}
==
<div class="container margin-top-20">
    <div class="jumbotron">
        <div class="container">
            <h2>{{ this.page.title }}</h2>
            <p>
                一站式培训,知识创造财富,电商铸就未来
            </p>
        </div>
    </div>
</div>

<div class="container">
    <!--filter by tas-->
    {% if tagTuiJian %}
    <div class="row">
        <div class="page-header">
            <a href="/courses/tag/tui-jian"><h2>推荐课程</h2></a>
        </div>
        {% partial 'courses/thumbnail-block' posts=tagTuiJian %}
    </div>
    {% endif %}

    {% if tagReMen %}
    <div class="row">
        <div class="page-header">
            <a href="/courses/tag/re-men"><h2>热门课程</h2></a>
        </div>
        {% partial 'courses/thumbnail-block' posts=tagReMen %}
    </div>
    {% endif %}

    <!--filter by categories-->
    {% if categoryDianShangJiChuZhiShi %}
    <div class="row">
        <div class="page-header">
            <a href="/courses/categories/dian-shang-ji-chu-zhi-shi"><h2>电商基础知识</h2></a>
        </div>
        {% partial 'courses/thumbnail-block' posts=categoryDianShangJiChuZhiShi %}
    </div>
    {% endif %}

    {% if categoryDianShangJinJieZhiShi %}
    <div class="row">
        <div class="page-header">
            <a href="/courses/categories/dian-shang-jin-jie-zhi-shi"><h2>电商进阶知识</h2></a>
        </div>
        {% partial 'courses/thumbnail-block' posts=categoryDianShangJinJieZhiShi %}
    </div>
    {% endif %}

</div>
