title = "线上培训"
url = "/xian-shang-pei-xun/:page?"
layout = "default"
==
function onStart(){
if(!Auth::check()) return Redirect::to('/user/login');

// filter by tags
$this['tagTuiJian']=\Buuug7\Courses\Models\Course::displayByTags(['tui-jian'],4);
$this['tagReMen']=\Buuug7\Courses\Models\Course::displayByTags(['re-men'],4);

// filter by categories
$this['categoryDianShangJiChuZhiShi']=\Buuug7\Courses\Models\Course::displayByCategories(['dian-shang-ji-chu-zhi-shi'],8);
$this['categoryDianShangJinJieZhiShi']=\Buuug7\Courses\Models\Course::displayByCategories(['dian-shang-jin-jie-zhi-shi'],8);

$this['categories']=\Buuug7\Courses\Models\Category::getNested();

//var_dump($this['categories']);
}

==
<div class="container m-t">
    <div class="jumbotron">
        <div class="container">
            <h2>{{ this.page.title }}</h2>
            <p>
                一站式培训,知识创造财富,电商铸就未来
            </p>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        {% for category in categories %}
        {% for child in category.children %}
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                {% if child.image %}
                <img src="{{ child.image|media }}" style="max-width: 100%" alt="">
                {% else %}
                <img src="http://placehold.it/800x400?text=No Image" alt="">
                {% endif %}
                <div class="caption">
                    <h4>{{ child.name }}</h4>
                    <p class="color-777">
                        {{ child.description }}
                    </p>
                    <P class="color-777">
                        共包含 {{ child.courses.count }} 课时
                    </P>
                    <p>
                        <a href="/courses/categories/{{ child.slug }}" class="btn btn-warning">学习</a>
                        <a href="/courses/categories/{{ child.slug }}" class="btn btn-line-warning">收藏</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>

    <!--filter by tas-->
    {% if tagTuiJian %}
    <div class="headline">
        <h2><a href="/courses/tag/tui-jian">推荐课程</a></h2>
    </div>
    {% partial 'courses/block-v2' posts=tagTuiJian s_tag="推荐" %}
    {% endif %}

    {% if tagReMen %}
    <div class="headline">
        <h2><a href="/courses/tag/re-men">热门课程</a></h2>
    </div>
    {% partial 'courses/block-v1' posts=tagReMen s_tag="热门" %}
    {% endif %}
</div>
