/*
 * Text
 */
.oc-text-gray {
  color: #AAA !important;
}

.oc-text-bordered {
  border-top: solid 1px #222;
  border-bottom: solid 1px #222;
  padding: 10px 0;
}

.oc-text-spaced {
  letter-spacing: 1px;
}

.oc-text-uppercase {
  text-transform: uppercase;
}

/*
 * Links
 */
a.oc-link-strong {
  font-weight: 700;
}

a.oc-link-green {
  color: green;
}

/*
 * Table
 */
table.oc-dashed-borders td,
table.oc-dashed-borders th {
  border-style: dashed;
}

table.oc-alternate-rows tbody tr:nth-child(2n) {
  background: #f5f5f5;
}

/*
 * Table cell
 */
table td.oc-cell-highlighted,
table th.oc-cell-highlighted {
  border: 1px double red;
}

table td.oc-cell-thick-border,
table th.oc-cell-thick-border {
  border-width: 2px;
}

/*
 * Images
 */
img.oc-img-rounded {
  border-radius: 100%;
  background-clip: padding-box;
}

img.oc-img-bordered {
  border: solid 10px #CCC;
  box-sizing: content-box;
}

/*
* from here
**/

//Primary
@light-blue: #3c8dbc;
//Danger
@red: #dd4b39;
//Success
@green: #00a65a;
//Info
@aqua: #00c0ef;
//Warning
@yellow: #f39c12;
@blue: #0073b7;
@navy: #001F3F;
@teal: #39CCCC;
@olive: #3D9970;
@lime: #01FF70;
@orange: #FF851B;
@fuchsia: #F012BE;
@purple: #605ca8;
@maroon: #D81B60;
@black: #111;
@gray-lte: #d2d6de;

.bg-light-blue{
  background-color: @light-blue;
}
.bg-red{
  background-color: @red;
}
.bg-green{
  background-color:@green;
}
.bg-aqua{
  background-color:@aqua;
}
.bg-yellow{
  background-color:@yellow;
}
.bg-blue{
  background-color: @blue;
}
.bg-navy{
  background-color:@navy;
}
.bg-teal{
  background-color:@teal;
}
.bg-olive{
  background-color:@olive;
}
.bg-lime{
  background-color:@lime;
}
.bg-orange{
  background-color: @orange;
}
.bg-fuchsia{
  background-color: @fuchsia;
}
.bg-purple{
  background-color: @purple;
}
.bg-maroon{
  background-color: @maroon;
}
.bg-black{
  background-color: @black;
}
.bg-gray-lte{
  background-color: @gray-lte;
}

.buuug7-no-border {
  border: none !important;
}

.buuug7-no-padding {
  padding: 0 !important;
}

a:hover, a:visited {
  text-decoration: none;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.bg-white {
  background: #fff;
}

.bg-wrap-f7f7f7 {
  background: #f7f7f7;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}


.page-header {
  margin: 20px 15px 20px 15px;
  border-bottom: 1px solid #eeeeee;
  h2{
    font-size: 22px;
    padding:0;
    margin:0;
  }
}



/*
* news content page
*/
.news-post-detail {
  .post-image{
    img{
      width:100%;
    }
  }

  .post-info ul{
    list-style: none;
    border-radius: 0;
    background-color: #fff;
    margin-left: 0;
    padding: 15px 15px 0 15px;
    > li {
      display: inline-block;
      font-style: italic;
      + li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
      }
    }
    > li a {
      //color: red;
    }
  }

  .post-title{
    padding:0 15px 20px 15px;
  }
  .post-content{
    padding:0 15px 20px 15px;
  }
}

