/*
 * Text
 */
.oc-text-gray {
  color: #AAA !important;
}

.oc-text-bordered {
  border-top: solid 1px #222;
  border-bottom: solid 1px #222;
  padding: 10px 0;
}

.oc-text-spaced {
  letter-spacing: 1px;
}

.oc-text-uppercase {
  text-transform: uppercase;
}

/*
 * Links
 */
a.oc-link-strong {
  font-weight: 700;
}

a.oc-link-green {
  color: green;
}

/*
 * Table
 */
table.oc-dashed-borders td,
table.oc-dashed-borders th {
  border-style: dashed;
}

table.oc-alternate-rows tbody tr:nth-child(2n) {
  background: #f5f5f5;
}

/*
 * Table cell
 */
table td.oc-cell-highlighted,
table th.oc-cell-highlighted {
  border: 1px double red;
}

table td.oc-cell-thick-border,
table th.oc-cell-thick-border {
  border-width: 2px;
}

/*
 * Images
 */
img.oc-img-rounded {
  border-radius: 100%;
  background-clip: padding-box;
}

img.oc-img-bordered {
  border: solid 10px #CCC;
  box-sizing: content-box;
}

/*
*  buuug7 from here
**/

.buuug7-no-border {
  border: none !important;
}

.buuug7-no-padding {
  padding: 0 !important;
}

a:hover, a:visited {
  text-decoration: none;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.bg-white {
  background: #fff;
}

.bg-wrap-f7f7f7 {
  background: #f7f7f7;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}
.color-gray{
  color:darken(#fff,30%);
}

.color-primary {
  color: @brand-primary;
}

.color-success {
  color: @brand-success;
}

.color-info {
  color: @brand-info;
}

.color-danger {
  color: @brand-danger;
}

.color-warning {
  color: @brand-warning;
}

.bg-color-primary {
  background-color: @brand-primary;
}

.bg-color-success {
  background-color: @brand-success;
}

.bg-color-info {
  background-color: @brand-info;
}

.bg-color-danger {
  background-color: @brand-danger;
}

.bg-color-warning {
  background-color: @brand-warning;
}

.overflow-h {
  overflow: hidden;
}

.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.btn-social-icon {
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 34px;
  width: 34px;
  padding: 0;
  > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border: none;
    width: 100%;
  }
}

.btn-github {
  color: #fff;
  background-color: #444;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-qq {
  color: #fff;
  background-color: @blue;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-wechat {
  color: #fff;
  background-color: @green;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-weibo {
  color: #fff;
  background-color: @red;
  border-color: rgba(0, 0, 0, 0.2);
}

.page-header {
  //margin: 20px 15px 20px 15px;
  border-bottom: 1px solid #eeeeee;
  h2 {
    font-size: 22px;
    padding: 0;
    margin: 0;
  }
}

// headline
.headline {
  display: block;
  margin: 35px 0 20px 0;
  border-bottom: 1px dotted #e4e9f0;
  h2 {
    font-size: 22px;

  }
  h2, h3, h4 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 3px solid @orange;
  }
}

.headline-primary {
  h2, h3, h4 {
    border-bottom: 3px solid @brand-primary;
  }
}

.headline-success {
  h2, h3, h4 {
    border-bottom: 3px solid @brand-success;
  }
}

.headline-info {
  h2, h3, h4 {
    border-bottom: 3px solid @brand-info;
  }
}

.headline-danger {
  h2, h3, h4 {
    border-bottom: 3px solid @brand-danger;
  }
}

.headline-warning {
  h2, h3, h4 {
    border-bottom: 3px solid @brand-warning;
  }
}

// Easy block V1
.easy-block-v1 {
  position: relative;
  img {
    width: 100%;
  }

  .carousel-indicators {
    top: 10px;
    left: 65%;
    text-align: right;
  }

  .carousel-indicators .active {
    background: #555;
  }

  .carousel-indicators li {
    border-color: #555;
  }

  .carousel-inner > .item {
    margin: 0;
  }

  .overflow-h h3 {
    width: 60%;
    float: left;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .easy-block-v1-badge {
    left: 0px;
    top: 10px;
    z-index: 1;
    color: #fff;
    padding: 4px 10px;
    position: absolute;
  }
  .star-vote {
    float: right;
    margin-top: 8px;
    ul {
      font-size: 13px;
      margin-bottom: 0;
      li {
        padding: 0;
      }
    }
  }

}

// Easy block v2
.easy-block-v2 {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  img {
    width: 100%;
  }
  .easy-bg-v2 {
    top: 5px;
    color: #fff;
    width: 100px;
    padding: 5px;
    right: -32px;
    font-size: 13px;
    position: absolute;
    text-align: center;
    letter-spacing: 2px;
    transform: rotate(45deg);
  }
}

// alert
.alert-danger {
  background-color: @brand-danger;
  color: #fff;
}

.alert-success {
  background-color: @brand-success;
  color: #fff;
}

.alert-warning {
  background-color: @brand-warning;
  color: #fff;
}

.alert-info {
  background-color: @brand-info;
  color: #fff;
}

/*
* news content page
*/
.news-post-detail {
  .post-image {
    img {
      width: 100%;
    }
  }

  .post-info ul {
    list-style: none;
    border-radius: 0;
    background-color: #fff;
    margin-left: 0;
    padding: 15px 15px 0 15px;
    > li {
      display: inline-block;
      font-style: italic;
      + li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
      }
    }
    > li a {
      //color: red;
    }
  }

  .post-title {
    padding: 0 15px 20px 15px;
  }
  .post-content {
    padding: 0 15px 20px 15px;
  }
}

.news-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  .title {
    position: absolute;
    left:0;
    bottom: 0;
    color:#fff;
    margin:0;
    padding: 10px;
    opacity: 0.8;
  }

}


