/*
 * Text
 */
.oc-text-gray {
  color: #AAA !important;
}

.oc-text-bordered {
  border-top: solid 1px #222;
  border-bottom: solid 1px #222;
  padding: 10px 0;
}

.oc-text-spaced {
  letter-spacing: 1px;
}

.oc-text-uppercase {
  text-transform: uppercase;
}

/*
 * Links
 */
a.oc-link-strong {
  font-weight: 700;
}

a.oc-link-green {
  color: green;
}

/*
 * Table
 */
table.oc-dashed-borders td,
table.oc-dashed-borders th {
  border-style: dashed;
}

table.oc-alternate-rows tbody tr:nth-child(2n) {
  background: #f5f5f5;
}

/*
 * Table cell
 */
table td.oc-cell-highlighted,
table th.oc-cell-highlighted {
  border: 1px double red;
}

table td.oc-cell-thick-border,
table th.oc-cell-thick-border {
  border-width: 2px;
}

/*
 * Images
 */
img.oc-img-rounded {
  border-radius: 100%;
  background-clip: padding-box;
}

img.oc-img-bordered {
  border: solid 10px #CCC;
  box-sizing: content-box;
}

/*
*  buuug7 from here
**/

.bg-white {
  background-color: #fff;
}

.bg-wrap-f7f7f7 {
  background-color: darken(#f7f7f7,3%);
}

.text-shadow {
  text-shadow: 2px 0 2px #000;
}

.buuug7-no-border {
  border: none !important;
}

.buuug7-no-padding {
  padding: 0 !important;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

a:hover, a:visited {
  text-decoration: none;
}

.color-gray {
  color: darken(#fff, 30%);
}

.color-primary {
  color: @brand-primary;
}

.color-success {
  color: @brand-success;
}

.color-info {
  color: @brand-info;
}

.color-danger {
  color: @brand-danger;
}

.color-warning {
  color: @brand-warning;
}

.color-666{
  color:#666;
}

.bg-color-primary {
  background-color: @brand-primary;
}

.bg-color-success {
  background-color: @brand-success;
}

.bg-color-info {
  background-color: @brand-info;
}

.bg-color-danger {
  background-color: @brand-danger;
}

.bg-color-warning {
  background-color: @brand-warning;
}



.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.btn-social-icon {
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 34px;
  width: 34px;
  padding: 0;
  > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border: none;
    width: 100%;
  }
}

.btn-github {
  color: #fff;
  background-color: #444;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-qq {
  color: #fff;
  background-color: @blue;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-wechat {
  color: #fff;
  background-color: @green;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-weibo {
  color: #fff;
  background-color: @red;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.btn-line {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  &:hover, &:visited {
    color: #fff;
  }
}

.page-header {
  //margin: 20px 15px 20px 15px;
  border-bottom: 1px solid #eeeeee;
  h2 {
    font-size: 22px;
    padding: 0;
    margin: 0;
  }
}

.news-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  .title {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    margin: 0;
    padding: 10px;
    opacity: 0.8;
  }
}