title = "栏目"
url = "/news/categories/:slug?/:page?"
layout="default"

[newsPosts]
categoryFilter = "{{ :slug }}"
postPage='news/post'
categoryPage='news/category'
postsPerPage = 10

==
function onEnd()
{
// 最新发布
$this['latestPosts'] = \Buuug7\News\Models\Post::displayLatest(5);

// 推荐 特色
$this['featuredPosts'] = \Buuug7\News\Models\Post::displayFeatured(5);

if ($this->category) $this->page->title = $this->category->name;

$categorySlug=$this->param('slug');

$this['nestedCategory']=\Buuug7\News\Models\Category::where('slug',$categorySlug)->first()->getChildren();


}

==

<div class="jumbotron">
    <div class="container">
        <h2>{{ this.page.title }}</h2>
        <p>{{ category.description }}</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            {% partial 'news/news-list' posts=posts %}
        </div>
        <div class="col-md-3">

            <!--子分类-->
            {% if nestedCategory.count %}
            <div class="headline-v2">
                <h2>子分类</h2>
            </div>

            <ul class="list-inline tags-v2 m-b-md">
                {% for child in nestedCategory %}
                <li><a href="/news/categories/{{ child.slug }}">{{ child.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}

            <!--最新发布-->
            {% if latestPosts %}
            <div class="headline-v2">
                <h2>最新发布</h2>
            </div>
            <ul class="list-unstyled latest-news m-b-md">
                {% for post in latestPosts %}
                <li class="m-b">
                    <a class="color-444" href="/news/post/{{ post.slug }}">
                        <h3> {{ str_limit(post.title, 60, '...') }}</h3>
                    </a>
                    <small class="color-777">{{ post.published_at|date('Y,m月 d')}} / {{ post.user.first_name }}</small>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            <!--推荐 特色-->
            {% if featuredPosts %}
            <div class="headline-v2">
                <h2>推荐</h2>
            </div>
            <ul class="list-unstyled latest-news m-b-md">
                {% for post in featuredPosts %}
                <li class="m-b">
                    <h3>
                        <a class="color-444" href="/news/post/{{ post.slug }}">
                            {{ str_limit(post.title, 60, '...') }}
                        </a>
                    </h3>
                    <small class="color-777">
                        {{ post.published_at|date('Y,m月 d')}} / {{ post.user.first_name }}
                    </small>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>
    </div>
</div>


