{% for post in posts %}
<div class="xspx-list-body-post ribbon">
    <a href="/courses/course/{{ post.id }}">
        <img src="{{ post.getImage() }}" alt="">
    </a>
    <div class="des ">
        <h3>{{ post.categories[0].name }}</h3>
        <a href="/courses/course/{{ post.id }}" class="">{{ str_limit(post.title, 60, '...') }}</a>
        <p class="clearfix">
            <i class="fa fa-clock-o" title="时间"><span class="margin-left-5">{{ post.published_at|date('Y-m-d') }}</span></i>
            <i class="fa fa-eye float-right" title="浏览次数">
                <span class="margin-left-5">浏览次数</span>{{ post.views }}</i>
        </p>
    </div>
    {% if post.tags.count %}
    <span class=" ribbon6 {% if post.tags[0].name == '热门' %} red {% else %} green {% endif %}">{{ post.tags[0].name }}</span>
    {% endif %}
</div>
{% endfor %}
