title = '数据分析'
url = '/statisticones/analysis'
layout = 'default'
==
function onStart(){

$this->addJs('https://cdn.bootcss.com/Chart.js/2.5.0/Chart.bundle.min.js');

$this['analysisByMonth']=\Buuug7\Statistics\Models\StatisticOne::getAnalysisByDateRange('2016-04-30','2017-12-31','%Y-%m');

$this['analysisByYear']=\Buuug7\Statistics\Models\StatisticOne::getAnalysisByDateRange('2016-04-30','2017-12-31','%Y');

//var_dump($this['analysis']);
}
==
<div class="container m-t">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="/user/center/account">用户中心</a></li>
                <li><a href="/user/center/statisticones">数据统计</a></li>
                <li class="active">数据分析</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading">
                    数据分析 ( 按年统计 )
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>时间</th>
                                <th>购进(万元)(平均值)</th>
                                <th>外销(万元)(平均值)</th>
                                <th>贫困电商交易额(万元)(平均值)</th>
                                <th>电商交易额(万元)(平均值)</th>
                                <th>购进(万元)(总和)</th>
                                <th>外销(万元)(总和)</th>
                                <th>贫困电商交易额(万元)(总和)</th>
                                <th>电商交易额(万元)(总和)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in analysisByYear %}
                            <tr>
                                <td>{{ item.dates }}</td>
                                <td>{{ item.avgBuy }}</td>
                                <td>{{ item.avgSales }}</td>
                                <td>{{ item.avgPovertyTotal }}</td>
                                <td>{{ item.avgTotal }}</td>
                                <td>{{ item.sumBuy }}</td>
                                <td>{{ item.sumSales }}</td>
                                <td>{{ item.sumPovertyTotal }}</td>
                                <td>{{ item.sumTotal }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    数据分析 ( 按月统计 )
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>时间</th>
                                <th>购进(万元)(平均值)</th>
                                <th>外销(万元)(平均值)</th>
                                <th>贫困电商交易额(万元)(平均值)</th>
                                <th>电商交易额(万元)(平均值)</th>
                                <th>购进(万元)(总和)</th>
                                <th>外销(万元)(总和)</th>
                                <th>贫困电商交易额(万元)(总和)</th>
                                <th>电商交易额(万元)(总和)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in analysisByMonth %}
                            <tr>
                                <td>{{ item.dates }}</td>
                                <td>{{ item.avgBuy }}</td>
                                <td>{{ item.avgSales }}</td>
                                <td>{{ item.avgPovertyTotal }}</td>
                                <td>{{ item.avgTotal }}</td>
                                <td>{{ item.sumBuy }}</td>
                                <td>{{ item.sumSales }}</td>
                                <td>{{ item.sumPovertyTotal }}</td>
                                <td>{{ item.sumTotal }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="m-t">
                        <canvas id="line-chart-by-month"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script>
    //
    // line chart for group by month
    //
    var ctxLineChartByMonth = document.getElementById('line-chart-by-month');
    var lineChartDataByMonth = {
        labels: [{% for item in analysisByMonth %}"{{ item.dates }}",{% endfor %}],
        datasets:[
            {
                label:'电商交易额(万元)(总和)',
                fill: true,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointRadius: 3,
                data: [{% for item in analysisByMonth %}{{ item.sumTotal }},{% endfor%}],
            },
            {
                label:'贫困电商交易额(万元)(总和)',
                fill: true,
                backgroundColor: "rgba(153,51,0,0.4)",
                borderColor: "rgba(153,51,0,1)",
                pointBorderColor: "rgba(5,192,192,1)",
                pointBackgroundColor: "#fff",
                pointRadius: 3,
                data: [{% for item in analysisByMonth %}{{ item.sumPovertyTotal }},{% endfor%}],
            },
            {
                label:'外销(万元)(总和)',
                fill: true,
                backgroundColor: "rgba(0,51,204,0.4)",
                borderColor: "rgba(0,51,204,1)",
                pointBorderColor: "rgba(5,192,192,1)",
                pointBackgroundColor: "#fff",
                pointRadius: 3,
                data: [{% for item in analysisByMonth %}{{ item.sumSales }},{% endfor%}],
            },
            {
                label:'购进(万元)(总和)',
                fill: true,
                backgroundColor: "rgba(0,204,0,0.4)",
                borderColor: "rgba(0,204,0,1)",
                pointBorderColor: "rgba(5,192,192,1)",
                pointBackgroundColor: "#fff",
                pointRadius: 3,
                data: [{% for item in analysisByMonth %}{{ item.sumBuy }},{% endfor%}],
            }
        ]
    };
    var lineChartOptionsByMonth = {};
    var lineChartByMonth = new Chart(ctxLineChartByMonth, {
        type: 'line',
        data: lineChartDataByMonth,
        options: lineChartOptionsByMonth
    });
</script>
{% endput %}