{% for comment in comments %}
<li class="list-group-item">
    {% if comment.user.social_avatar %}
    <img src="{{ comment.user.social_avatar}}" class="img-circle" alt="">
    {% else %}
    <img src="{{ comment.user.getAvatarThumb(100) }}" class="img-circle" alt="">
    {% endif %}
    <span class="title">{{ comment.user.name }}</span>
    <span class="time">{{ comment.updated_at|time_diff }}</span>
    <div class="comments-body">
        {{ comment.content }}
    </div>

    <div class="secondary-content">
        <a href="#!">
            <i class="fa fa-reply"></i>
        </a>
        <a data-request="onLikeCount"
           data-request-data="id:{{comment.id}}"
           data-request-success="$(this).closest('div').find('.like').text($(this).closest('div').find('.like').text()*1+1*1)"
           data-request-flash
        >
            <i class="fa fa-thumbs-o-up"></i>
        </a>
        <span class="like">
                {% if comment.like_count %} {{comment.like_count}} {% else %} 0 {% endif %}
        </span>
    </div>
</li>
{% endfor %}