{% if posts %}
{% for post in posts %}
<div class="row post-list">
    {% if post.image %}
    <div class="col-sm-4 hidden-xs">
        <img class="img-responsive" src="{{ post.image|media }}" alt="{{ post.title }}">
    </div>
    {% endif %}
    <div class="{% if not post.image %}col-sm-12{% else %}col-sm-8{% endif %}">
        <ul class="list-inline posted-info small color-777">
            <li>{{ post.user.first_name }}</li>
            {% if post.categories.count %}
            <li>
                {% for category in post.categories %}
                <a href="{{ category.url }}">{{ category.name }}</a>
                {% endfor %}
            </li>
            {% endif %}
            <li>{{ post.published_at|date('Y, m月 d') }}</li>
        </ul>
        <h4 class="title">
            <a class="color-444" href="{{ post.url }}">{{ str_limit(post.title, 60, '...') }}</a>
        </h4>
        <p class="color-888 small">
            {{ str_limit(post.summary, 150, '...') }}
        </p>
    </div>
</div>
<div class="clearfix m-b">
    <hr>
</div>
{% endfor %}
{{ posts.render|raw }}
{% endif %}