<div class="container-fluid footer-v2">
    <div class="container">
        <div class="row margin-bottom-25">
            <div class="col-sm-5 margin-top-30">
                <h3 class="m-b">关于我们</h3>
                <p>
                    渭源县电子商务公共服务中心是渭源县商务委员会主办的服务机构，采用“O2O”模式，
                    将电商服务资源和电商企业的业务需求进行对，接为广大企业开展电子商务提供一站式服务。
                </p>
                <p class="social-links-b7 m-t">
                    <a href=""><i class="fa fa-qq"></i></a>
                    <a href=""><i class="fa fa-weibo"></i></a>
                    <a href=""><i class="fa fa-weixin"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                </p>
            </div>


            <div class="col-sm-3 margin-top-30">
                <h3 class="m-b">快捷导航</h3>
                <ul class="list-unstyled links-b7">
                    <li><a href="/news/categories/dian-shang-dong-tai">电商动态</a></li>
                    <li><a href="/news/categories/zheng-ce-jie-du">政策解读</a></li>
                    <li><a href="/xian-shang-pei-xun">线上培训</a></li>
                    <li><a href="/fu-wu-shi-chang">服务市场</a></li>
                </ul>
            </div>

            <div class="col-sm-4 margin-top-30">
                <h3 class="m-b">播种创业梦想 分享创新服务</h3>
                <img src="/themes/wy-theme/assets/images/qrcode.png" class="w-120 m-b" alt="qrcode">
                <p>
                    <a href="/account" class="btn btn-line"><i class="fa fa-plus"></i> 加入我们</a>
                </p>
            </div>

        </div>
    </div>
</div>

<div class="copyrights-v2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline terms-menu">
                    <li><i class="fa fa-copyright"></i> 2017 渭源县电子商务公共服务平台</li>
                    <li><a href="/declare">免责申明</a></li>
                    <li><a href="/about-us">关于我们</a></li>
                    <li><a href="/contact-us">联系我们</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>