<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}">渭源县电子商务公共服务平台</a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'dian-shang-dong-tai' %}active {% endif %}">
                    <a href="/dian-shang-dong-tai">电商动态</a></li>
                <li class="{% if this.page.id == 'tong-zhi-gong-gao' %}active {% endif %}">
                    <a href="/tong-zhi-gong-gao">通知公告</a></li>
                <li class="{% if this.page.id == 'zheng-ce-jie-du' %}active {% endif %}">
                    <a href="/zheng-ce-jie-du">政策解读</a></li>
                <li class="{% if this.page.id == 'xian-shang-pei-xun' %}active {% endif %}">
                    <a href="/xian-shang-pei-xun">线上培训</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if user %}{{ user.name }}{% else %}登陆/注册{% endif %} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if user %}
                        <li><a href="/account">账号</a></li>
                        <li><a href="/user/company">公司</a></li>
                        <li><a href="/shoucang">收藏课程</a></li>
                        <li><a data-request="onLogout" data-request-data="redirect: '/'">登出</a></li>
                        {% else %}
                        <li><a href="/account">登陆</a></li>
                        <li><a href="/account">注册</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
