<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}">{{ this.theme.site_name }}</a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse navbar-right">
            <ul class="nav navbar-nav">

                <li class="{% if this.page.id == 'news' %}active{% endif %}">
                    <a href="/news">资讯</a>
                </li>
                <li class="{% if this.page.id == 'xian-shang-pei-xun' %}active {% endif %}">
                    <a href="/xian-shang-pei-xun">培训</a></li>
                <li class="{% if this.page.id == 'ben-di-dian-shang' %}active {% endif %}">
                    <a href="/ben-di-dian-shang">本地电商</a></li>
                <li class="{% if this.page.id == 'fu-wu-shi-chang' %}active {% endif %}">
                    <a href="/fu-wu-shi-chang">服务市场</a></li>
                <li class="{% if this.page.id == 'statistics-statistics' %}active {% endif %}">
                    <a href="/statistics">统计</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if user %}{{ user.name }}{% else %}登陆/注册{% endif %} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if user %}
                        <li><a href="/user/center/account">账号</a></li>
                        <li><a href="/user/center/avatar">头像</a></li>
                        <li><a href="/user/center/company">公司</a></li>
                        <li><a href="/user/center/shoucang">收藏课程</a></li>
                        <li><a href="/user/center/needs">我的发布</a></li>
                        <li><a href="/user/center/settings">设置</a></li>

                        <li><a data-request="onLogout" data-request-data="redirect: '/user/login'">登出</a></li>
                        {% else %}
                        <li><a href="/user/login">登陆</a></li>
                        <li><a href="/user/register">注册</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
