<div class="search">
    <a class="btn btn-warning btn-search" data-toggle="modal" href="#modal-id-search">
        <i class="fa fa-search"></i>
    </a>
    <div class="modal fade" id="modal-id-search">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">搜索</h4>
                </div>
                <div class="modal-body">
                    <form
                            data-request="b7Search::onSearch"
                            data-request-flash
                            class="form-horizontal"
                    >

                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择分类</label>
                            <div class="radio col-sm-10">
                                <label>
                                    <input type="radio" name="category"  value="news" checked="checked">
                                    新闻资讯
                                </label>
                                <label>
                                    <input type="radio" name="category"  value="course" >
                                    课程
                                </label>
                                <label>
                                    <input type="radio" name="category"  value="need">
                                    供求信息
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">关键字</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="q" placeholder="请输入关键字">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-warning" data-attach-loading="">搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<style>
    .search .btn-search{
        position: fixed;
        right:15px;
        bottom: 20px;
        z-index: 10000;
    }
</style>