.easy-block-v1 {
  position: relative;
}
.easy-block-v1 img {
  width: 100%;
}
.easy-block-v1 .carousel-indicators {
  top: 10px;
  left: 65%;
  text-align: right;
}
.easy-block-v1 .carousel-indicators .active {
  background: #555;
}
.easy-block-v1 .carousel-indicators li {
  border-color: #555;
}
.easy-block-v1 .carousel-inner > .item {
  margin: 0;
}
.easy-block-v1 .overflow-h h3 {
  width: 60%;
  float: left;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.easy-block-v1 .easy-block-v1-badge {
  left: 0px;
  top: 10px;
  z-index: 1;
  color: #fff;
  padding: 4px 10px;
  position: absolute;
}
.easy-block-v1 .star-vote {
  float: right;
  margin-top: 8px;
}
.easy-block-v1 .star-vote ul {
  font-size: 13px;
  margin-bottom: 0;
}
.easy-block-v1 .star-vote ul li {
  padding: 0;
}
.easy-block-v2 {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.easy-block-v2 img {
  width: 100%;
}
.easy-block-v2 .easy-bg-v2 {
  top: 5px;
  color: #fff;
  width: 100px;
  padding: 5px;
  right: -32px;
  font-size: 13px;
  position: absolute;
  text-align: center;
  letter-spacing: 2px;
  transform: rotate(45deg);
}
