.footer-v1 {
  margin-top: 40px;
  padding: 50px 0;
  background-color: #252525;
  color: #888;
}
.footer-v1 h3 {
  color: #eee;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}
.footer-v1 .links-b7 li {
  height: 45px;
}
.footer-v1 .links-b7 li > a {
  color: #777;
  font-weight: 700;
}
.footer-v1 .social-links-b7 {
  padding: 0 0 20px 0;
}
.footer-v1 .social-links-b7 a {
  display: inline-block;
  padding-right: 15px;
  font-size: 20px;
  color: #eee;
}
.copyrights-v1 {
  background-color: #202020;
  padding: 12px 0;
}
.copyrights-v1 .terms-menu {
  margin: 6px 0 0;
  font-size: 14px;
}
.copyrights-v1 p {
  margin: 0;
  padding: 10px 0;
  color: #bbb;
  font-size: 14px;
}
.footer-v2 {
  margin-top: 40px;
  padding: 50px 0;
  background-color: #fff;
  color: #555;
}
.footer-v2 h3 {
  color: #333;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
}
.footer-v2 .links-b7 li {
  height: 45px;
}
.footer-v2 .links-b7 li > a {
  color: #777;
  font-weight: 700;
}
.footer-v2 .social-links-b7 {
  padding: 0 0 20px 0;
}
.footer-v2 .social-links-b7 a {
  display: inline-block;
  padding-right: 15px;
  font-size: 20px;
  color: #333;
}
.footer-v2 a.btn {
  border: 1px solid #000;
  color: #333;
}
.copyrights-v2 {
  background-color: #fff;
  padding: 12px 0;
  border-top: 1px solid #eee;
}
.copyrights-v2 .terms-menu {
  margin: 6px 0 0;
  font-size: 14px;
}
