.owl-carousel-v1 {
  position: relative;
}
.owl-carousel-v1 .owl-nav {
  position: absolute;
  top: -46px;
  right: 0;
}
.owl-carousel-v1 .owl-nav .owl-prev,
.owl-carousel-v1 .owl-nav .owl-next {
  display: inline-block;
  margin: 0 2px;
  padding: 0 5px;
  background: grey;
  color: #fff;
}
.owl-carousel-v1 .owl-nav .owl-prev i,
.owl-carousel-v1 .owl-nav .owl-next i {
  font-size: 22px;
}
