{% for chunk in posts.chunk(4) %}
<div class="row m-b">
    {% for post in chunk%}
    <div class="col-md-3 col-sm-6 m-b">
        <div class="easy-block-v1">
            {% if s_tag %}
            <div class="easy-block-v1-badge bg-color-warning">{{ s_tag }}</div>
            {% endif %}
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li class="rounded-x active" data-target="#carousel-example-generic" data-slide-to="0"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="{{ post.image|media}}">
                    </div>
                </div>
            </div>
            <div class="overflow-h">
                <h3>{{ str_limit(post.title, 22, '...') }}</h3>
                <div class="star-vote pull-right">
                    {% if post.stars == 0 %}
                    <ul class="list-inline">
                        <li><i class="color-warning fa fa-star-o"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                    </ul>
                    {% endif %}
                    {% if post.stars == 1 %}
                    <ul class="list-inline">
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                    </ul>
                    {% endif %}
                    {% if post.stars == 2 %}
                    <ul class="list-inline">
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                    </ul>
                    {% endif %}
                    {% if post.stars == 3 %}
                    <ul class="list-inline">
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                    </ul>
                    {% endif %}
                    {% if post.stars == 4 %}
                    <ul class="list-inline">
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star-o"></i></li>
                    </ul>
                    {% endif %}
                    {% if post.stars == 5 %}
                    <ul class="list-inline">
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star"></i></li>
                        <li><i class="color-warning fa fa-star"></i></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
           <!-- <p class="color-777 small">
                {{ str_limit(post.summary, 60, '...') }}
            </p>-->
            <!--<ul class="list-unstyled">
                <li><span class="color-warning small">发布时间 :</span> <span class="time small color-777">{{ post.published_at|date('Y ,m月 d') }}</span></li>
            </ul>-->
            <a class="btn btn-line-warning btn-sm" href="/courses/course/{{ post.id }}">查看</a>

        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}