{% for chunk in posts.chunk(4) %}
<div class="row">
    {% for post in chunk %}
    <div class="col-md-3 col-sm-6 m-b">
        <div class="easy-block-v2">
            {% if s_tag %}
            <div class="easy-bg-v2 bg-color-warning">{{ s_tag }}</div>
            {% endif %}
            {% if post.image %}
            <img alt="{{ post.title }}" src="{{ post.image|media}}">
            {% else %}
            <img src="http://placehold.it/800x400?text=没有缩略图" alt="">
            {% endif %}
            <h5 class="color-444" style="height:40px;line-height: 1.3;overflow: hidden;margin-bottom: 5px;">
                {{ str_limit(post.title, 60, '...') }}
            </h5>
            <ul class="list-unstyled">
                <li><span class="color-warning small">发布时间:</span> <span class="small">{{ post.published_at|date('Y ,m月 d') }}</span></li>
            </ul>
            <a class="btn btn-line-warning btn-sm" href="/courses/course/{{ post.slug }}">查看</a>
            <a class="btn btn-warning btn-sm" href="/courses/course/{{ post.slug }}">加入收藏</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}