description = "Default layout"

[session]
security = "all"
[b7Search]
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>渭源 | {{ this.page.title }}</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/logo.png'|theme }}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="description" content="{{ this.page.meta_description }}">
        <link rel="icon" type="image/png" href="{{ 'assets/images/logo.png'|theme }}">

        <link rel="stylesheet" href="{{ 'assets/vendor/light7/css/light7.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/css/font-awesome.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/vendor/light7/css/light7-swiper.css'|theme }}">
        <link href="{{ 'assets/css/app.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>
        <div class="page">
            <!--header-->
            {% partial 'site/header' %}
            <!--toolbar-->
            {% partial 'site/toolbar' %}

            <div class="content">
                {% page %}
            </div>
        </div>
        {% partial 'site/side-panel' %}

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/light7/js/light7.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/light7/js/light7-swiper.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>