@charset "UTF-8";
//本地电商——列表
.bdds-list {
  margin-top: 30px;
  margin-bottom: 50px;
  overflow: hidden;
  border-bottom: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-radius: 4px;
  .hd {
    text-align: left;
    padding-left: 0;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: url(../images/title-1.png) no-repeat center;
    border-bottom: 0;
    i {
      padding: 8px 15px;
      color: #ffffff;
      background: $page-color;
      border-radius: 3px;
    }
  }
  .dd {
    ul {
      margin-bottom: 30px;
      padding-top: 10px;
      overflow: hidden;
      padding-left: 20px;
      li {
        float: left;
        border: 1px solid $border-color;
        margin-bottom: 20px;
        width: 250px;
        margin-right: 20px;
        text-align: center;
        a img {
          width: 240px;
          height: 120px;
        }
        a p {
          color: $border-color;
        }

      }
      li:hover {
        border: 1px solid #ffffff;
        box-shadow: 3px 3px 8px 8px rgba(93, 93, 93, 0.4);
        transition: all 0.5s ease;

        a p {
          color: #333333;
        }
      }
    }
  }

}