@charset "UTF-8";

html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, th, td, header, footer, section, article, nav {
  padding: 0;
  margin: 0
}

body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", arial, Tahoma, SimSun, sans-serif;
  font-size: 14px;
  color: #444;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

blockquote {
  padding: 11px 22px;
  margin: 0 0 22px;
  font-size: 20px;
  border-left: 5px solid #eeeeee;
}

a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
}

i {
  font-style: normal;
}

a:hover, a:link {
  text-decoration: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.main {
  width: 1120px;
  margin: 0 auto;
}

.box {
  margin: $margin-15 auto;
  .hd {
    color: #20102A;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px dashed $border-color;
    padding-left: $padding-15;
    span {
      font-size: 14px;
      font-weight: 100;
      color: #BBBBBB;
      float: right;
      margin-right: $margin-10;
    }
  }
}

.margin-left-right-5 {
  margin: 0 $margin-5;
}

.margin-left-right-10 {
  margin: 0 $margin-10 !important;
}

.margin-left-5 {
  margin-left: $margin-5;

}

.margin-left-25 {
  margin-left: 25px;
}

.margin-right-5 {
  margin-right: $margin-5;

}

.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-10 {
  margin-bottom: $margin-10;
}

.margin-bottom-25 {
  margin-bottom: $margin-25;
}

.margin-top-10 {
  margin-top: $margin-10;
}

.breadcrumb {
  margin: $margin-15 auto;
  height: 36px;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  padding: 0;
  background-color: #fff;
  /* border-radius: 4px; */

  li {
    float: left;
    margin: 8px 5px;
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: #316FBC;
  }
  > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
  }
}

.pagination {
  margin: 0 auto;
  padding: 20px 0 30px 0;
  display: table;
  text-align: center;
  li {
    float: left;
    margin: 5px;
  }
}

.pagination {
  margin: 0 auto;
  padding: 20px 0 30px 0;
  display: table;
  text-align: center;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: 8px 20px;
      line-height: 1.4;
      text-decoration: none;
      color: #337ab7;
      background-color: #fff;
      //border: 1px solid #ddd;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    &:last-child {
      > a,
      > span {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      z-index: 2;
      color: #23527c;
      background-color: #eee;
      border-color: #ddd;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: #fff;
      background-color: $nav-background;
      border-color: $nav-background;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: lighten(#000, 46.7%);
      background-color: #fff;
      border-color: #ddd;
      cursor: not-allowed;
    }
  }
}

.jumbotron {
  background: url("../images/fwsc/home-header-bg-1.jpg");
  height: 260px;
  .container {
    padding: 60px 80px;
    color: #ffffff;
    h2 {
      font-size: 34px;
    }
    p {
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: 200;
      button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 40px;
        margin: 4px auto;
      }
    }
  }
}

/*
 * Images
 */
img.oc-img-rounded {
  border-radius: 100%;
  background-clip: padding-box;
}

img.oc-img-bordered {
  border: solid 10px #CCC;
  box-sizing: content-box;
}

/*img {
  position: relative;
  max-width: 100%;
  display: block;
  height: auto !important;
}*/
img.fr-dib {
  margin: 5px auto;
  display: block;
  float: none;
  vertical-align: top;
}

img.fr-dib.fr-fir {
  margin-right: 0;
}

img.fr-dib.fr-fil {
  margin-left: 0;
}

/*
 * Text
 */
.oc-text-gray {
  color: #AAA !important;
}

.oc-text-bordered {
  border-top: solid 1px #222;
  border-bottom: solid 1px #222;
  padding: 10px 0;
}

.oc-text-spaced {
  letter-spacing: 1px;
}

.oc-text-uppercase {
  text-transform: uppercase;
}

/*
 * Links
 */
a.oc-link-strong {
  font-weight: 700;
}

a.oc-link-green {
  color: green;
}

/*
 * Table
 */
table.oc-dashed-borders td,
table.oc-dashed-borders th {
  border-style: dashed;
}

table.oc-alternate-rows tbody tr:nth-child(2n) {
  background: #f5f5f5;
}

/*
 * Table cell
 */
table td.oc-cell-highlighted,
table th.oc-cell-highlighted {
  border: 1px double red;
}

table td.oc-cell-thick-border,
table th.oc-cell-thick-border {
  border-width: 2px;
}


