@charset "UTF-8";
.come {
  background: rgba(0, 0, 0, 0.89);
  height: 100%;
  width: 100%;
  .coming-soon {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .coming-soon:before {
    top: 0;
    left: 0;
    bottom: 30px;
    z-index: -1;
    width: 100%;
    content: " ";
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
  }
  .content {
      line-height: 45px;
      position: absolute;
      color: #fff;
      min-width: 300px;
      text-align: center;
      top: 38%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      h1 {
        font-size: 45px;
        text-transform: uppercase;
        margin: 45px 0;
      }
      p {
        font-size: 18px;
        margin: 15px 0;
      }
      .count span {
        font-size: 35px;
        font-weight: normal;
        font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
        padding: 5px 10px;
      }
      p .btn {
        color: #f3f3f3;
        background: rgba(255, 255, 255, 0.45);
        border: 1px solid rgba(255, 255, 255, 0.45);
        padding: 10px 20px;
        border-radius: 60px;
        box-shadow: 0 2px 50px 0 rgb(255, 255, 255);
        //       box-shadow: 0 2px 50px 0 rgb(208, 23, 23);
      }
    }
}

.wy-audit {
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  .audit {
    line-height: 60px;
    padding: 176px 0;
    text-align: center;
    font-size: 18px;
    i {
      font-size: 50px;

    }
  }
}