@charset "UTF-8";
//企业品牌样式
.content-qypp {
  height: 700px;
  box-shadow: 1px 2px 2px 1px #CCCCCC;
  border-top: 1px solid rgba(204, 204, 204, 0.39);
  margin-bottom: 30px;
  .ppqy-top {
    height: 300px;
    .content-qypp-left {
      width: 500px;
      margin-right: 20px;
      img {
        margin: 20px;
        height: 200px;
        padding: 30px 0;
        width: 400px;
        border: 1px solid $border-color;
        border-radius: 3px;

      }
    }
    .content-qypp-right {
      width: 600px;
      margin: 40px 0;
      height: 230px;
      .qypp-content {
        h1 {
          letter-spacing: 5px;
        }
        p {
          margin: 25px 0;
          font-size: 18px;
        }
      }

    }
  }
  .ppqy-body {
    .ppqy-body-post1 {
      margin-bottom: 30px;
      height: 130px;
      ul {
        margin: 30px;
        li {
          border-bottom: 1px solid #ddd;
          padding: 10px 0;
          span {
            font-size: 14px;
            border-bottom: 2px solid $nav-background; //#0b7fc6
            padding: 10px 15px;
          }

        }

      }
      .service_item {
        height: 55px;
        overflow: hidden;
        margin: 20px 60px;
        word-wrap: break-word;
        line-height: 26px;
        color: #666;
      }
    }

  }

}

//本地电商样式
.content-bdds {
  box-shadow: 1px 2px 2px 1px #CCCCCC;
  margin-bottom: 30px;
  .bdds-top {
    height: 550px;
    .bdds-title {
      margin-bottom: 30px;
      letter-spacing: 3px;
      height: 50px;
      line-height: 50px;
      padding-left: 30px;
      background: #d7d7d7;
      font-size: 18px;
      font-weight: 600;
    }
    .content-bdds-left {
      width: 335px;
      margin-right: 20px;
      img {
        margin: 20px 40px;

      }
    }
    .content-bdds-right {
      width: 765px;
      margin: 40px 0;
      height: 230px;
      .bdds-content {
        width: 620px;
        h1 {
          letter-spacing: 5px;
        }
        p {
          margin: 25px 0;
          font-size: 18px;
          label {
            color: #2d2c89;
            font-weight: 700;
            font-size: 14px;
          }
          span {
            line-height: 24px;
            float: right;
            width: 530px;
            color: #333;
            font-weight: 700;
            font-size: 14px;
          }

        }

      }

    }
  }
  .bdds-body {
    height: 300px;
    margin: 20px 40px;
    p.title {
      margin-bottom: 20px;
      span {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        padding: 0 15px;
        border-left: 10px solid $nav-background;
        border-bottom-left-radius: 40%;
        border-top-left-radius: 40%;
        font-size: 18px;
        color: #333;
        font-weight: bold;
      }
      border-bottom: 2px solid $nav-background;
      border-bottom-left-radius: 15%;
    }

    .bdds-content-mian p {
      margin: 0;
      line-height: 35px;
      text-indent: 2em;
      color: rgba(56, 73, 94, 0.72);
    }
  }

}