@charset "UTF-8";
//服务市场——列表
.fwsc-list {
  border: 1px solid $border-color;
  border-radius: 5px;
  .hd {
    text-align: left;
    padding-left: 0;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid $nav-background;
    border-radius: 5px;
    i {
      padding: 10px 15px;
      color: #ffffff;
      background: $page-color;
      border-radius: 3px;
    }
  }
  .dd {
    height: 100%;
    text-align: left;
    overflow: hidden;
    margin: 30px;
    color: #494546;
    ul li {
      height: 40px;
      list-style: circle;
      margin-left: 40px;
      padding: 0 15px;
      a {
        color: #494546;
        line-height: 40px;
        display: inline-flex;
        span {
          width: 500px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      a:hover {
        color: $page-color;
      }
      span.time {
        float: right;
        color: #777;
        font-size: 12px;
        letter-spacing: -0.11em;
        margin-right: 30px;
      }
    }
  }
}

//服务市场——分类
.fwsc-fl-list {
  .fl-Lfet {
    width: 770px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px #ddd;
    padding: 10px 15px;
    margin-bottom: 15px;
    .hd {
      position: absolute;
      top: 7px;
      right: -30px;
      border-bottom: 0;
      span.fl-span {
        display: block;
        height: 25px;
        line-height: 25px;
        text-align: center;
        width: 120px;
        background: #fe7050;
        color: #fff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(30deg);
        font-size: 14px;

      }

    }
    .dd {
      ul.fl-dd-post {
        li {
          line-height: 60px;
          height: 60px;
          border-bottom: 1px dotted #CCCCCC;
          .post-img {
            display: table-cell;
            height: 60px;
            img {
              margin-top: 5px;
              width: 50px;
              height: 50px;
              max-width: 100%;
              border-radius: 30px;
              margin-right: 20px;
            }
          }
          .post-body {
            display: inline-block;
            > strong {
              > a {
                width: 70px;
                color: #0f0f0f;
              }
            }
            a {
              float: left;
              width: 300px;
              display: block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin-right: 20px;
              color: #797676;
            }
            .label {
              padding: .2em .6em .3em;
              font-size: 75%;
              font-weight: bold;
              color: #fff;
              text-align: center;

            }
            .label-ly {
              background: $nav-background;
            }
            .label-tj {
              background: #3092f6;
            }

          }
          .sj-span {
            float: right;
            color: #777;
            font-size: 12px;
            letter-spacing: 0.11em;
            margin-right: 30px;
          }

        }
        > li:last-child {
          border-bottom: 0;
          text-align: center;
          > a {
            margin-top: 20px;
            padding: 8px 35px;
            background: #a5a5a5;
            color: #fff;

          }
        }
      }
    }

  }

  .fl-Right {
    width: 330px;
    .Publish-button {
      margin-bottom: 20px;
      text-align: center;
      box-shadow: 1px 1px 5px 1px #ddd;
      a {
        letter-spacing: 4px;
        font-size: 14px;
        color: $nav-background;
        font-weight: 600;
        display: block;
        padding: 15px;
      }
      a > i {
        font-size: 26px;

      }
    }
    .Publish-button:hover {
      background: $nav-background;
      box-shadow: 1px 1px 2px 1px $nav-background;
      border-radius: 6px;
      a {
        color: #fff;
        font-weight: 600;
      }
    }
    .Column {
      position: relative;
      box-shadow: 1px 1px 5px 1px #ddd;
      margin-bottom: 20px;
      .Column-header {
        color: $nav-background;
        display: block;
        padding: 10px;
        border-bottom: 1px solid #f4f4f4;
        h3 {
          display: inline-block;
          a {
            color: $nav-background;
          }
        }
      }

      .Column-body {
        padding: 10px 10px 10px 20px;
        li {
          line-height: 25px;
          a.item {
            color: #333;
            display: inline-block;
            width: 240px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            i {
              margin-right: 15px;
            }
          }

          a:hover {
            color: #6e6d6e;
          }
        }
        > a {
          color: #333;
          display: inline-block;
          line-height: 25px;
          padding: 5px 10px;

        }
        > p {
          border-top: 1px solid #CCCCCC;
          margin-top: 10px;
          line-height: 40px;
          > a {
            padding: 5px 10px;
          }
        }
      }
    }

  }
}

.fwsc-fl-header {
  box-shadow: 1px 1px 5px 1px #ddd;
  padding: 10px 15px;
  margin-bottom: 15px;
  // 信息分类中用到的图标
  .nav-cat__icon {
    height: 45px;
    width: 45px;
    margin: 0 auto;
    margin-bottom: 8px;
    display: block;
    position: relative;
    background-size: 45px 45px;
    background-repeat: no-repeat;
  }
  .nav-cat_icon-zhaopin {
    background-image: url("../images/fwsc/tubiao/jobs.png");
  }

  .nav-cat_icon-fangchan {
    background-image: url("../images/fwsc/tubiao/house.png");
  }
  .nav-cat_icon-ershou {
    background-image: url("../images/fwsc/tubiao/second-hand.png");
  }
  .nav-cat_icon-chongwu {
    background-image: url("../images/fwsc/tubiao/pet.png");
  }

  .nav-cat_icon-jiaoyou {
    background-image: url("../images/fwsc/tubiao/humans.png");
  }
  .nav-cat_icon-bendifuwu {
    background-image: url("../images/fwsc/tubiao/service.png");
  }
  .nav-cat_icon-qita {
    background-image: url("../images/fwsc/tubiao/more.png");
  }

  .nav-cat {
    text-align: center;
    padding: 15px 36px;
    display: inline-block;
  }

  .nav-cat > .nav-cat__name {
    color: #888;
    margin-bottom: 0;
    font-size: 18px;
  }

}

//服务市场——列表——1
.fwsc-list1 {
  height: 100% !important;
  .fw-list-L {
    width: 800px;
    .hd {
      ul {
        display: inline-block;
        li {
          text-align: left;
        }
        .active {
          a {
            color: #3e3e3e;
            border-bottom: 1px $nav-background;
          }

        }

      }
      border-bottom: 1px solid #CCCCCC;
      border-top: hidden;
      border-left: hidden;
      border-right: hidden;
    }
    .dd {
      height: 100% !important;
    }
  }
  .fw-list-R {
    .kj-dszx {
      box-shadow: 1px 1px 1px 1px #CCCCCC;
    }
  }
}
