@charset "UTF-8";
header {
  box-shadow: 1px 1px 1px 1px #CCCCCC;
  .topbar {
    width: 100%;
    height: 36px;
    line-height: 36px;
    box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.43);
    //background: rgba(231, 231, 231, 0.28);
    // background: #474747;
    .inner {
      width: 1000px;
      height: 36px;
      margin-left: auto;
      margin-right: auto;
      //font-size: 16px;
      .left {
        color: #A0A1A2;
        height: 36px;
        float: left;
        .welcome {
          color: #444;
        }
        .time {
          color: #777;
          padding: 0 10px 0 0;
          font-size: 12px;
          //letter-spacing: -0.05em;
        }
      }
      .right {
        a {
          color: #78BDEB;
        }
        float: right;
        height: 36px;
        li {
          float: left;
        }
        li:before {
          content: "|";
          padding: 0 5px;
          color: #999;
        }
        li:first-child:before {
          content: '';
        }
      }
    }
  }

  .head-long {
    height: 130px;
    margin: 0 auto;
    overflow: hidden;
    // text-align: center;
    width: $page-width;
    .logo {
      img {
        height: 80px;
        width: 400px;
        margin: 23px 20px;
      }
    }
    .head-sousuo {
      margin: 50px 0 50px 30px;
      display: inline-block;
      border: 1px solid $nav-background;
      width: 330px;
      select {
        border-top: 0;
        border-left: 0;
        border-bottom: 0;
        border-right: 1px solid $nav-background;
        color: $nav-background;
        height: 30px;
        font: 13px/20px arial, sans-serif !important;
        line-height: 30px;
      }
      input {
       // border: 1px solid $nav-background;
        padding: 6px 20px 6px 12px;
        border-left: 0;
        height: 30px;
        line-height: 30px;
        font: 13.3333px Arial;
        margin-left: -4px;
      }
      .btn {
        height: 30px;
        line-height: 30px;
        border-top: 0;
        border-left: 1px solid $nav-background;
        border-bottom: 0;
        border-right: 0;
        padding: 0 12px;
        margin-left: -4px;
        background: #fff;
        border-radius: 0;
        font: 13.3333px Arial !important;
        color: #333333;
      }
    }
    .head-right {
      //width: 720px;
      margin: 28px 0 0 0;
      ul {
        margin-bottom: 0;
        li {
          float: right;
          text-align: center;
          width: 100px;
          p {
            font-weight: 600;
            color: #000000;
            margin: 0 !important;
            padding: 0 !important;
          }
          img {
            width: 50px;
            height: 50px;
            transition: all 0.8s ease-in-out;
          }
          img:hover {
            opacity: 0.8;
            transform: scale(1.3) rotate(-13deg)
          }
        }

      }
    }
  }

  nav {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    position: relative;
    z-index: 999;
    //overflow: hidden;
    background-color: $nav-background;
    //color: $nav-color;
    ul {
      width: $page-width;
      overflow: hidden;
      margin: 0 auto;
      li {
        float: left;
        text-align: center;
        width: $page-width/9;
        position: relative;
        a {
          padding: 10px 30px;
          color: $nav-color;
        }
        ul.ul-xl {
          width: 140px;
          display: none;
          li {
            float: left;
            text-align: center;
            position: relative;
            width: 140px;
            background: $nav-hover;

          }
          li:hover {
            background: $nav-background;

          }
        }

      }
      li:hover {
        background: $nav-hover;
        a {
          color: #ffffff;
          text-decoration: none;
        }
        ul.ul-xl {
          display: block;
        }
      }
    }

  }

}
