@charset "UTF-8";

//电商咨询
.dszx {
  height: 370px;
  .dszx-left {
    width: 300px;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    height: 370px;
    .th {
      .dd {
        overflow: hidden;
        margin: $margin-5;
        ul li {
          height: 28px;
          line-height: 28px;
          a {
            color: #494546;
            display: inline-block;
            width: 180px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

          }
          span.time {
            float: right;
            color: #777;
            font-size: 12px;
            letter-spacing: -0.11em;
          }
        }

      }
      .td {
        height: 174px;
        a:hover {
          color: blue;
        }
      }
      .td1 {
        height: 136px;
        a:hover {
          color: blue;
        }
      }
    }

  }
  .dszx-right {
    width: 808px;
    height: 370px;
    overflow: hidden;
    .title {
      position: absolute;
      width: 100%;
      line-height: 30px;
      background: rgba(36, 68, 81, 0.65);
      bottom: 0;
      font-size: 14.4px;
      color: #fff;
      padding: 5px 10px 5px 20px;
    }
    p {
      width: 350px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    #slide ul.page {
      bottom: 10px;
      left: 630px;
      li {
        cursor: pointer;
        color: #fff;
        width: 20px;
        height: 20px;
        background: #000;
        text-align: center;
        margin: 0 5px;
        border-radius: 50%;
      }
      li.on {
        background: $nav-background
      }
    }
  }

}

//政策咨询
.zcdx {
  height: 300px;
  .hd {
    padding-left: 0;
    height: 40px;
    line-height: 40px;
    border-top: 2px solid $border-color;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    i {
      border-bottom: 3px solid $nav-background;
      padding-bottom: 6px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .dd {
    ul {
      float: left;
      width: ($page-width - 60) /3;
      height: 240px;
      overflow: hidden;
      li {
        height: 30px;
        line-height: 30px;
        a {
          color: #494546;
          display: inline-block;
          width: 200px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        a:hover {
          color: $nav-background;
          /*color: #0844B6*/
        }
        span.time {
          float: right;
          color: #777;
          font-size: 12px;
          letter-spacing: -0.11em;
          margin-right: 25px;
        }
      }
    }
    ul > li:first-child {
      height: 113px;
      line-height: 22px;
      a {
        display: initial;
        float: left;
        img {
          width: 180px;
          height: 100px;
          padding-right: 15px;
        }
      }
      p {
        font-size: 15px;
        color: #20102A;
        font-weight: 600;
        margin-top: $margin-10;
      }
      span {
        font-size: 12px;
        display: block;
        height: 40px;
        overflow: hidden;
      }
      border-bottom: 1px dashed $border-color;

    }
    ul:nth-child(2) {
      margin: 0 30px;
    }
  }
}

//线上培训
.xspx {
  height: 385px;
  .hd {
    text-align: left;
    padding-left: 0;
    height: 40px;
    line-height: 40px;
    border-top: 2px solid $border-color;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    i {
      border-bottom: 3px solid $nav-background;
      padding-bottom: 6px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .dd {
    height: 340px;
    padding-top: $margin-5;
    .xspx-left {
      width: 448px;
      height: 326px;
      overflow: hidden;
      text-align: left;
      ul {
        margin-top: 15px;
      }
      ul li {
        float: left;
        width: 224px;
        a:hover {
          color: #224caf;
        }
        img {
          width: 210px;
          height: 105px;
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 15px;
          width: 200px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

    }
    .xspx-right {
      width: 672px;
      height: 325px;
      overflow: hidden;
      ul li {
        float: left;
        width: 296px;
        text-align: left;
        margin-left: 20px;
        ol li {
          height: 40px;
          line-height: 40px;
          text-align: left;
          list-style: circle;
          a {
            display: inline-flex;
          }
          span {
            width: 210px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

          }
          a:hover {
            color: $nav-background;
          }

        }
      }
    }
  }
}

//服务市场
.fwsc {
  height: 350px !important;
  overflow: hidden;
  .hd {
    text-align: left;
    padding-left: 0;
    height: 40px;
    line-height: 40px;
    border: 1px solid $border-color;
    i {
      border-bottom: 3px solid $nav-background;
      padding-bottom: 6px;
      padding-left: 15px;
      padding-right: 15px;
      width: 300px;
    }
    ul {
      display: inline;
      li {
        width: 80px;
        float: left;
        text-align: center;
        a {
          font-size: 14px;
          letter-spacing: 3px;
          color: #999999;
        }

      }
      .active {
        a {
          color: #3e3e3e;
        }
        border: none;
      }

    }
  }
  .dd {
    height: 300px !important;
    overflow: hidden;
    margin: $margin-10 0;
    ul li {
      height: 38px;
      line-height: 38px;
      width: 450px;
      text-align: left;
      a {
        color: #494546;
        display: inline-block;
        width: 280px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

      }
      span.time {
        float: right;
        color: #777;
        font-size: 12px;
        letter-spacing: -0.11em;
      }
    }
    .fw-left {
      //width: 500px;
      text-align: center;
      ul {
        margin-bottom: 20px !important;
      }
      .fw-left-a {
        width: 100px;
        background: $nav-background;
        padding: 10px 40px;
        color: #fff;
        line-height: 60px;
      }

    }
    .fw-right {
      width: 500px;
    }

    .fade {
      opacity: 0;
      -webkit-transition: opacity 0.15s linear;
      -o-transition: opacity 0.15s linear;
      transition: opacity 0.15s linear;
    }
    .fade.in {
      opacity: 1;
    }
    .tab-pane {
      display: none;
    }
    .active {
      display: block;
    }

  }
}

//服务市场
.fwsc1 {
  .dd {

    ul li {
      text-align: center;
      a {
        text-align: center;
        line-height: 50px;
        margin: 50px 0;
        color: #c6c6c6;
        span {
          font-size: 30px;
        }
        i {
          font-size: 60px;
          margin-right: 20px;
        }
      }
    }
    ul li:hover {
      a {
        color: #FFFFFF;
      }
    }

    .ul-left {
      width: 360px;
      li {
        width: 360px;
        height: 150px;
        background: #707bba;
      }
      .ul-li1 {
        background: #ff4400;
      }
    }

    .ul-center {
      li {
        background: #009944;
        width: 180px;
        height: 310px;
        .cen-li-top {
          height: 155px;
          border-bottom: 3px solid #26699c;
          a {
            margin: 0;
            width: 100%;
            img {
              max-width: 100%;
              width: 145px;
            }
          }
        }
        .cen-li-chang {
          height: 100%;
          a {
            .list-zp-img {
              width: 180px;
              margin-top: 5px;
            }
          }
        }

      }
      .cen-li {
        background: #2f92dc;
      }

    }

    .ul-right {
      width: 380px;
      padding-left: 10px;
      li {
        background: #ff4400;
        width: 180px;
        height: 150px;
        margin-bottom: 5px;
        margin-right: 5px;
        a {
          margin: 0;
          width: 100%;
          span {
            color: #FFFFFF;
            font-size: 18px;
            margin-top: 15px;
            display: block;
          }
          i {
            color: #FFFFFF;
            // font-size: 35px;
            //margin-top: 10px;

            margin-right: 0;
          }
          img {
            width: 150px;
            max-width: 150%;
          }
        }
      }
      .li1 {
        background: #6290ff
      }
      .li2 {
        background: #ffa037;
      }
      .li3 {
        background: #ff50d2;
      }
    }
  }

}

//便民服务
.bmfw {
  height: 280px;
  .hd {
    text-align: left;
    padding-left: 0;
    height: 40px;
    line-height: 40px;
    border-top: 2px solid $border-color;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    i {
      border-bottom: 3px solid $nav-background;
      padding-bottom: 6px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .dd {
    height: 220px;
    padding-top: $margin-15;

    ul li {
      float: left;
      //background: rebeccapurple;
      //background: #0000CC;
      background: #5b40a3;

      width: $page-width/4-5;
      margin-right: 5px;

      /*    a.bm-fw-img {
            transition: all 2s;
          }*/
      .info-box__content {
        text-align: center;
        display: block;
        padding: 20px 10px 10px 10px;
        color: #FFFFFF;
        a {
          color: #FFFFFF;
          font-size: 22px;
          display: block;
        }
        p {
          font-size: 14px;
        }
      }
      img {
        max-width: 100%;

      }
      ul li:last-child {

        margin-right: 0;

      }
    }
  }
}

//优秀网站
.yxwd {
  .hd {
    text-align: left;
    padding-left: 0;
    height: 40px;
    line-height: 40px;
    border-top: 2px solid $border-color;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    i {
      border-bottom: 3px solid $nav-background;
      padding-bottom: 6px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .dd {

    .zzsc {
      overflow: hidden;

      .rotatesimg {
        -webkit-animation: transform-5 2s ease 500ms alternate none 1;
        animation: transform-5 2s ease 500ms alternate none 1;
      }

      @-webkit-keyframes transform-5 {
        from {
          -webkit-transform: perspective(400px) rotateY(180deg);
          transform: perspective(400px) rotateY(180deg);
        }
        to {
          -webkit-transform: perspective(400px) rotateY(0deg);
          transform: perspective(400px) rotateY(0deg);
        }
      }

      @keyframes transform-5 {
        from {
          -webkit-transform: perspective(400px) rotateY(180deg);
          transform: perspective(400px) rotateY(180deg);
        }
        to {
          -webkit-transform: perspective(400px) rotateY(0deg);
          transform: perspective(400px) rotateY(0deg);
        }
      }

      .slider-wrap {
        width: 1050px;
        overflow: hidden;
        position: relative;
        height: 172px;
        margin-left: 38px;
        margin-right: 40px;
        margin-top: 10px;
        ul {
          zoom: 1;
          position: absolute;
          left: 0;
          top: 0;
          width: 9999px;
        }

        ul li {
          float: left;
          width: 252px;
          padding: 5px 0;
          margin-right: 12px;
          border: 1px solid #CCCCCC;
          border-radius: 5px;
          img {
            max-width: 100%;
          }
          p {
            text-align: center;
            margin-top: 10px;
            color: #6e6d6e;
          }

        }

        li:hover {
          box-shadow: 1px 1px 1px 1px #CCCCCC;
          border: 1px solid #eeeeee;
          p {
            color: #393839;
          }
        }

      }

      #prev, #next {
        position: absolute;
        top: 40px;
        left: 0px;
        width: 25px;
        padding: 25px 0;
        background: $nav-background;
        color: #FFFFFF;
        border: 0;
      }

      #next {
        left: auto;
        right: 0px
      }
    }

    #img-slider {
      position: relative;
      width: 1120px;

    }

  }
}

//品牌企业
.ppqy {
  height: 300px;
  .hd {
    text-align: left;
    padding-left: 0;
    height: 40px;
    line-height: 40px;
    border-top: 2px solid $border-color;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    i {
      border-bottom: 3px solid $nav-background;
      padding-bottom: 6px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .dd {
    height: 246px;
    overflow: hidden;
    margin: $margin-10 0;
    ul {
      height: 118px;
    }
    ul li {
      float: left;
      text-align: center;
      width: 216px;
      height: 108px;
      margin: 0 5px 0 5px;
      img {
        width: 214px;
        height: 106px;
        border: 1px solid $border-color;
      }

    }
    ul li:first-child {
      margin-left: 0;
    }
    ul li:last-child {
      margin-right: 0;
    }
  }
}
