@charset "UTF-8";
.dszx-content-right {
  width: 800px;
}

.dszx-content {
  width: 800px;
  float: left;
  //box-shadow: 1px 2px 20px 1px #CCCCCC;
  border: 1px solid #ededed;
  margin: 0 0 20px 0;
  padding: 5px 15px 10px 15px;
  h4.title {
    border-bottom: 1px dashed #B2B2B2;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    font-size: 21px;
    font-weight: normal;
  }
  p {
    line-height: 32px;
    font-size: 15px;
    margin: 4px 0 8px 0;
    color: #333;
    word-wrap: break-word;
    //padding: 8px 0 0;
  }
  img {
    /*  margin: 0 auto;*/
    max-width: 100%;
    //display: block;
  }
  ul,ol{
    padding-left: 40px!important;
    list-style-type: disc!important;
    line-height: 30px;

  }
  .title-time {
    text-align: center;
    padding: 10px 0;
    background: #fafafa;


  }

}

//评论样式
.comment_tontainer {
  height: auto;
  float: left;
  //box-shadow: 1px 2px 20px 1px #CCCCCC;
  border: 1px solid #ededed;
  margin: 0 0 20px 0;
  padding: 5px 15px 10px 15px;
  width: 100%;
  .comment_title {
    line-height: 40px;
    color: #FF6600;
    text-align: left;
    background-image: url(../images/fwsc/comment-title.png);
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 35px;
  }
  .comment_textarea {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 100px;
    padding: 15px;
    color: #464646;
    border: 1px solid #FF6600;
    border-bottom: 0;
  }
  .comment-frame {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 50px;
    text-align: center;
    height: 45px;
    color: #c1bfbf;
    border: 1px solid #FF6600;
    margin-top: -4px;
    border-top: 1px dashed #e2e2e2;
    .comment_issue {
      line-height: 50px;
      text-align: center;
      float: right;
      width: 60px;
      color: #FF6600;
      cursor: pointer;
      background-image: url("../images/fwsc/comment-fb.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    .comment_issue:hover {
      background-image: url(../images/fwsc/comment-fb1.png);
      background-repeat: no-repeat;
      background-position: center;
      color: white;
    }
  }

  .new_comment_container {
    float: left;
    width: 100%;
    margin-top: 20px;
    .new_comment_title {
      width: 12%;
      float: left;
      height: 30px;
      text-align: center;
      border-left: 1px solid #FF6600;
      border-right: 1px solid #FF6600;
      border-top: 1px solid #FF6600;
      font-size: 13px;
      color: #FF6600;
      line-height: 30px;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
    }
    .new_comment_title_number {
      float: left;
      height: 30px;
      border-bottom: 1px solid #FF6600;
      width: 87%;
      color: #FF6600;
      font-size: 14px;
      line-height: 40px;
      text-align: right;
    }
    .new_comment {
      float: left;
      width: 100%;
      margin-top: 30px;
    }
    .new_comment_li {
      float: left;
      width: 100%;
      position: relative;
      padding: 20px 20px 20px 100px;
      margin: 0;
      line-height: 1.5rem;
      min-height: 90px;
      font-size: 14px;
      border-bottom: 1px solid #e0e0e0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      .img-circle {
        position: absolute;
        left: 10px;
        max-width: 100%;
        width: 80px;
        height: 80px;
        vertical-align: middle;
        display: inline-block;
        border-radius: 50%;
        float: left;
        margin-right: 20px;
      }
      .title {
        font-weight: 700;
        font-size: 16px;
      }
      .time {
        font-size: 12px;
        color: #777;
        display: block;
        margin-bottom: 5px;
      }
      .comments-body {
        color: #808080;
      }
      .secondary-content {
        position: absolute;
        top: 18px;
        right: 25px;
        float: right;
        text-decoration: none;
        font-size: 14px;
        a {
          margin-right: 15px;
          color: $nav-background;

        }
      }
    }
  }

}

.dszx-kjnav {
  width: 300px;
  margin: 0 0 40px 20px;
  .kj-dszx {
    padding-bottom: 15px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px #CCCCCC;
    border: 1px solid #f3f3f3;
    .kj-title {
      margin-bottom: 10px;
      border-bottom: 1px solid $nav-background;
      //border-bottom-left-radius: 20%;
      font-size: 15px;
      font-weight: bold;
      padding: 0 15px;
      height: 32px;
      line-height: 32px;
      a {
        color: #6d6d6d;
        letter-spacing: 3px;
      }
    }
    ul li {
      padding-left: 15px;
      height: 40px;
      line-height: 40px;
      width: 230px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      a {
        color: #333333;
      }
      a:hover {
        color: #FE4400;
      }
      .aurora__title::after {
        text-shadow: 0 0 5px currentColor;
        font-size: 18px;
        content: '🔥';
      }

      .aurora100 {
        color: red;
      }
      .aurora90 {
        color: #f00000;
      }
      .aurora80 {
        color: #d20000;
      }
      .aurora70 {
        color: #b40000;
      }
      .aurora60 {
        color: #9b0000;
      }
      .aurora50 {
        color: #7b0000;
      }
    }
  }
  .rmkc {
    em {
      margin: 5px 10px 0 0;
      color: #999999;
      padding: 0 5px 0 2px;
    }
    .topSpan {
      text-shadow: 0 0 5px currentColor;
      border: 1px solid $nav-background;
      border-radius: 50%;
      color: $nav-background;
    }
  }

  .kjnav-ggo {
    width: 300px;
    overflow: hidden;
    padding-bottom: 20px;
    position: relative;
    span {
      position: absolute;
      width: 30px;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      font-size: 12px;
      line-height: 15px;
      color: #fff;
      text-align: center;
    }
  }

}

