@charset "UTF-8";
//留言咨询
.index-lyzx {
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  margin-bottom: 30px;
  .lyzx-title {
    //margin-bottom: 30px;
    letter-spacing: 3px;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    background: #d7d7d7;
    font-size: 18px;
    font-weight: 600;
  }
  .lyzx-body {
    /*liuyan*/
    .liuyan_box01 {
      .box02 {
        padding: 30px 15px;
        .t01 {
          input {
            width: 810px;
            color: #939393;
            text-indent: 1em;
            padding: 5px 0;
          }
          select {
            width: 117px;
            height: 33px;
            margin-left: 12px;
          }
          input, select {
            border: #d5d5d5 1px solid;
            vertical-align: middle;
            background: #fff;
            height: 31px;
            line-height: 31px;
          }
        }
        .t02 {
          padding: 10px 0 0;
          height: 350px;
          overflow: hidden;
          textarea {
            color: #939393;
            width: 1068px;
            height: 328px;
            padding: 10px;
            border: #d5d5d5 1px solid;
          }
        }
        .t03 {
          clear: both;
          height: 64px;
          padding-bottom: 15px;
          padding-top: 15px;
          background: #fff;
          border: #d5d5d5 1px solid;
          border-top: none;
          em {
            float: left;
            padding-left: 20px;
            margin-right: 25px;
            font-size: 18px;
            color: #e29760;
            line-height: 64px;
            font-style: normal;
          }
          div {
            width: 65px;
            height: 64px;
            background: url(../images/add_attchment.png);
            cursor: pointer;
            float: left;
            margin-right: 20px;
          }
          i {
            padding-top: 10px;
            float: left;
          }
        }
        .t04 {
          text-align: center;
          height: 64px;
          background: #fff;
          border-top: none;
          em {
            float: left;
            padding-left: 20px;
            margin-right: 25px;
            color: #e29760;
            line-height: 64px;
            font-style: normal

          }
          em input {

            /* vertical-align: middle; */
            margin-left: 12px;
            margin-right: 12px;
            background: #fff;
            /* width: 115px; */
            /* height: 30px; */
            border: #d5d5d5 1px solid;
            color: #9c9c9c;
            padding-left: 5px;
            line-height: 30px;

          }

        }
        .t05 {
          text-align: center;
          height: 38px;
          padding: 20px 0;
          i input {
            width: 160px;
            height: 38px;
            background: #ce1c00;
            color: #fff;
            line-height: 38px;
            font-size: 16px;
            text-align: center;
            border: none;
          }

        }

      }

    }
  }
}