@charset "UTF-8";

.content-holder {
  background: url("../images/login/loginbg.jpg") no-repeat;
  height: 600px;
  .content {
    width: 950px;
    padding: 30px 0 50px;
    margin: 0 auto;

    .show-pic {
      margin-top: 70px;
      position: relative;
      img {
        margin-top: 100px;
        margin-left: 120px;
      }
      .login {
        width: 300px;
        position: absolute;
        top: 0;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.72);
        border: 1px solid #CCCCCC;
        p {
          text-align: right;
          right: 5%;
          line-height: 35px;
          color: #0580D1;
          border-bottom: 1px solid rgba(18, 113, 171, 0.25);
          a {
            color: #0580D1;
            font-size: 14px;
            margin: 0 8px 0 5px;
          }
        }
        .form-ct {

          .form-body {
            padding: 22px 0;
            dl {
              _margin: 2px 0;
              overflow: hidden;
              width: 100%;
            }
            dl .pwd-forget a {
              color: #098CD0;
              margin-left: 40px;
              i {
                font-size: 16px;
              }
              i.fa-github {
                font-size: 20px;
              }
            }
            dl .pwd-forget a:hover {
              color: #1a6480;
            }
            dd {
              float: left;
              line-height: 30px
            }
            input, select, textarea {
              letter-spacing: 4px;
            }
            .go-login dd {
              width: 75%;
              height: 40px;
              padding: 5px 0;
              .btn-smb {
                background: $nav-background;
                //background-position: -11px -89px;
                height: 38px;
                width: 100%;
                line-height: 38px;
                font-size: 18px;
                color: #fff;
                font-weight: bold;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

input.text-name, input.text-pwd, input.text-verify {
  padding: 2px 10px;
  font-size: 15px;
  height: 30px;
}

input {
  border-width: 0;
}





