@charset "UTF-8";
/*品牌企业列表页*/
.ppqy-list {
  border: 1px solid $border-color;
  .ppqy-list-v1 {
    margin: 50px 90px;
    height: 680px;
    overflow: hidden;
    padding: 10px;
    li {
      float: left;
      border: 1px solid $border-color;
      margin-bottom: 20px;
      width: 280px;
      margin-right: 20px;
      text-align: center;
      a img {
        width: 240px;
        height: 120px;
      }
      a p {
        color: $border-color;
        margin-bottom: $margin-10;
      }

    }
    li:hover {
      border: 1px solid #ffffff;
      box-shadow: 3px 3px 8px 8px rgba(93, 93, 93, 0.4);
      a p {
        color: #333333;
      }
    }
  }

}