@charset "UTF-8";
/*****搜索文章后的列表（样式仿百度）****/
.sousou {
  //box-shadow: 1px 2px 20px 1px #CCCCCC;
  border: 1px solid #eee;
  padding: 0 25px;
  .sou-p {
    color: #999;
    padding: 20px 12px;

  }
  .sou-list {
    .sou-img {
      width: 180px;
    }
    .sou-list-title {
      font-size: 16px;
      color: #00C;

    }
    .sou-list-des {
      line-height: 30px;
      margin-top: 3px;
      margin-bottom: $margin-10;
      color: #999;
      text-indent: 2em;
      padding: 12px;
      border-bottom: 1px #F0F0F0 solid;
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }

}

/*搜索图片样式*/
.sousou1 {
  .sou-list li {
    border-top: 1px #fff solid;
    border-bottom: 1px #F0F0F0 solid;
    padding: 25px 10px 5px 10px;
    .sou-list-des {
      border-bottom: 0 !important;
      padding-bottom: 0 !important;
    }

  }
  ul li:hover {
    background: rgba(246, 255, 240, 0.19);
  }
}

/*无搜索信息样式*/
.souNo {
  .noPagesou {
    background: url("../images/sou-no.png") no-repeat left center !important;
    .sou-leadP {
      padding-left: 48%;
      padding-top: 10%;
      padding-bottom: 15%;
      line-height: 33px;
      .sou-txt {
        color: #f85151;
        font-size: 16px;
        margin-top: 25px;
        .text-danger {
          margin: 10px;
          font-size: 18px;
          font-style: italic;
        }
      }
    }

  }
}


