@charset "UTF-8";
.user {
  margin-top: 30px;
  .mainLeft {
    box-sizing: border-box;
    width: 230px;
    min-height: 260px;
    box-shadow: 1px 1px 10px 1px #CCCCCC;
    margin-bottom: 30px;
    ul {
      margin: 35px;
      li {
        padding-bottom: 20px;
        position: relative;
        a {
          font-size: 16px;
          color: #666;
          i {
            margin-right: 5px;
          }
        }
        a:hover {
          color: rgba(0, 0, 0, 0.85);
        }
      }
      .active a {
        color: #0b7fc6;
      }

    }

    .myClass span {
      background-position: 0 -34px;
    }
    .myCollect span {
      background-position: 0 -68px;
    }

  }

  .mainRight {
    box-shadow: 1px 1px 10px 1px #CCCCCC;
    margin-bottom: 30px;
    width: 870px;
    box-sizing: border-box;
    position: relative;
    .content-title {
      display: block;
      border-bottom: 1px solid #e0e0e0;
      margin: 50px 75px;
      text-align: center;
      a {
        font-size: 16px;
        color: #0b7fc6;
      }
      span {
        display: block;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-bottom: 6px solid #e0e0e0;
        margin-left: 353px;
        margin-top: 5px;
      }

    }
    .content {
      margin: 0 75px 50px;
      overflow: hidden;
      .imgFile {
        display: block;
        width: 105px;
        line-height: 35px;
        text-align: center;
        height: 35px;
        background: #0b7fc6;
        color: #fff;
        font-size: 12px;
        border-radius: 3px;
        margin: 20px 43px;
        position: relative;
      }

      .leftBar {
        text-align: center;
        h4 {
          margin: 0 50px 25px 50px;
        }

        #img_title_container {
          border: 1px solid #ddd;
          text-align: center;
          width: 190px;
          height: 190px;
          position: relative;
          top: 2px;
          overflow: hidden;
          img {
            width: 190px;
            height: 190px;
            border-radius: 50%;
          }
        }

        .imgFile input[type="file"] {
          width: 105px;
          height: 35px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        }
      }

      .rightBar {
        margin-left: 35px;
        div {
          width: 460px;
          height: 55px;
          line-height: 55px;
          border-bottom: 1px solid #e0e0e0;
          font-size: 14px;
          color: #444;
          span {
            display: inline-block;
            margin-left: 30px;
            width: 85px;
            text-align: left;
          }
          input {
            border: 1px solid #e0e0e0;
            border-radius: 3px;
            padding: 4px 10px;
            display: inline-block;
            height: 30px;
            width: 300px;
            max-width: 100%;
            margin-right: 5px;

          }
        }
      }
    }

  }

}

//用户空间
.box-widget {
  border: none;
  position: relative;
}

.widget-user {
  //zenjia
  border: 1px solid #000000;
  background-image: url("../images/user/66.png");
  border-radius: 3px;

  .widget-user-header {
    padding: 20px;
    height: 120px;

    //background: #00a7d0;

    color: #fff;
    .user-name {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 25px;
      font-weight: 300;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    .user-desc {
      margin-top: 0;
      font-size: 14px;
    }

  }
  .widget-user-image {
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -45px;
    > img {
      width: 90px;
      height: auto;
      border: 3px solid #fff;
    }
  }

  .description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
    > .description-header {
      margin: 0;
      padding: 0;
      font-weight: 600;
      font-size: 16px;
    }
    > .description-text {
      text-transform: uppercase;

      //zenjia
      > i {
        font-size: 20px;
      }
    }
  }

  .box-footer {
    padding-top: 30px;
    color: #FFFFFF;
    letter-spacing: 5px;
  }
}

//修改密码
.user-pwd {
  #changeCode {
    div {
      width: 685px;
      height: 55px;
      line-height: 55px;
      border-bottom: 0;
      font-size: 14px;
      color: #444;
      text-align: center;
      label {
        display: inline-block;
        width: 70px;
        text-align: right;
        margin-right: 20px;
      }
    }
  }

  input[type="submit"] {
    padding: 6px 55px;
    border-radius: 3px;
    background: #0b7fc6;
    color: #fff;
    font-size: 14px;
    display: block;
    margin: 30px auto;
  }
}

//用户头像
.user-portr {
  .portr {
    margin: 0 auto;
    display: table;
    .responsiv-uploader-fileupload {
      .upload-object h4 {
        border: 1px solid rgba(78, 73, 73, 0.13);
        border-radius: 6px;
        padding: 5px;
        background: rgba(132, 109, 109, 0.18);
        box-shadow: 0 2px 10px 0 rgb(239, 227, 227);
        margin: 10px 0;
      }
      .style-image-single .upload-object .icon-container {
        border: 1px solid #BBC5E7;
        width: 250px;
        padding: 30px;
        background: rgba(187, 197, 231, 0.48);
        border-radius: 30px;
        img {
          border-radius: 20%;
          border: 1px solid rgba(187, 197, 231, 0.46);
        }
      }
    }
  }
  .callout {
    margin-top: 35px;
    margin-bottom: 22px;
    padding: 20px;
    border-left: 3px solid #eeeeee;
    line-height: 30px;
    background-color: rgba(84, 109, 195, 0.4);
    border-color: rgba(50, 88, 208, 0.74);
    h4 {
      color: #1631bd;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

}

//公司
.user-gs {
  .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    .panel-heading {
      background-color: #f5f5f5;
      padding: 10px 15px;
      border-bottom: 1px solid #ddd;
    }
    .panel-body {
      padding: 15px;
      .form-group {
        margin-bottom: 15px;
        label {
          display: inline-block;
          margin-bottom: 5px;
          font-weight: 700;
        }
        .form-control {
          display: block;
          width: 100%;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        textarea.form-control {
          height: auto;
        }
        .note-frame {
          border: 1px solid #a9a9a9;
        }
      }
    }

  }

  //公司图片
  .gs-img {
    .gs-log {
      max-width: 100%;
      width: 300px;
      height: 150px;
    }
  }

  //公司——查看
  .content .content-dptp {
    h4 {
      font-size: 15px !important;
    }
    .gs-content {
      text-align: left;
      p {
        font-size: 18px;
        label {
          color: #2d2c89;
          font-weight: 700;
          font-size: 14px;
        }
        span {
          line-height: 24px;
          font-size: 14px;
        }

      }
    }
    .gs-xq {
      text-align: left;
      padding: 15px 0;
      strong {
        color: #2d2c89;
        display: block;
        margin-bottom: 15px;
      }
      p {
        line-height: 35px;
        color: #5d5d5d;
        text-indent: 2em;
      }
    }
  }

}

//查看
.gs-user-Su {

}

//店铺
.user-dp {
  .content {
    .btn-warning {
      color: #fff;
      background-color: #f39c12;
      border-color: #e08e0b;
    }
    .btn {
      display: inline-block;
      padding: 8px 25px;
      border: 1px solid #ff6218;
      background: #FF4400;
      color: #FFFFFF;

      a {
        color: #FFFFFF;
        padding: 10px 25px;
      }

    }

    .headline {
      display: block;
      margin: 35px 0 20px 0;
      border-bottom: 1px dotted #e4e9f0;
      h3 {
        margin: 0 0 -2px 0;
        padding-bottom: 5px;
        display: inline-block;
        border-bottom: 3px solid $nav-background;
      }
    }
    .content-dptp {
      text-align: center;
      margin-left: 40px;
      h4.dpxx-h4 {

        text-align: left;
        border-bottom: 1px dashed #CCCCCC;
        span {
          border-bottom: 2px dashed $nav-background;
        }
      }
      img {
        max-width: 100%;
        padding: 15px;

      }
      .dptp-xx {
        text-align: left;
        p {
          line-height: 35px;
        }

      }
    }
  }

  .panel {
    .dp-but {
      padding: 8px 15px;
      border: 1px solid #ff6218;
      background: $nav-background;
      color: #FFFFFF;
      margin: 0 auto;
      display: -webkit-box;
      a {
        color: #FFFFFF;
        padding: 10px 25px;

      }
    }
  }

  .con-img {
    text-align: center;
    .portr .portr-img {
      border: 1px dashed #CCCCCC;
      padding: 20px 40px;
      i {
        font-size: 82px;
      }

    }
    .callout {
      text-align: left;
      margin-top: 35px;
      margin-bottom: 22px;
      padding: 20px;
      border-left: 3px solid #eeeeee;
      line-height: 30px;
      background-color: rgba(244, 89, 18, 0.22);
      border-color: rgba(225, 82, 18, 0.5);
      h4 {
        color: #bd4b12;
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
    .callout-info {
      text-align: left;
      background-color: #d1ecff;
      border-color: #a6d0d9;
    }
  }

}

//店铺——查看
.dp-see {
  .content {
    border: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding: 20px 15px;
    .see-left {
      width: 600px;
      h4 {
        font-size: 22px;
        margin-left: 20px;
        margin-bottom: 20px;
      }
      p {
        line-height: 40px;
        font-size: 14px;
      }
    }
    .see-right {
      width: 400px;
      margin-left: 55px;
      img {
        max-width: 100%;
      }
      .seeR-content {
        .seeR-title {
          text-align: center;
          margin: 15px 0;
          background: #cccccc;
          padding: 12px;
          letter-spacing: 4px;
          a {
          }
        }
        .alert {
          padding: 15px;
          margin: 15px 0;
          i {
            font-size: 20px;
          }
        }
        .alert-info {
          background-color: #d9edf7;
          border-color: #bce8f1;
          color: #31708f;

        }
        .alert-success {
          background-color: #dff0d8;
          border-color: #d6e9c6;
          color: #3c763d;
        }
        .callout {
          padding: 10px 20px 20px 10px;
          border-left: 3px solid #eeeeee;
        }
        .callout-danger {
          background-color: #fdf7f7;
          border-color: #ebccd1;
          h4 {
            color: #a94442;
          }
          p {
            margin: 5px 15px;

          }
        }
      }

    }

  }
}

//店铺——更新
.dp-update {
  .dpslt {
    border-bottom: 1px solid #CCCCCC;
    .dp-tp {
      margin-bottom: 20px;
      width: 200px;
      height: 100px;
      border: 1px dotted #CCCCCC;
      i {
        text-align: center;
        display: block;
        font-size: 22px;
        height: 22px;
        width: 22px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.1);
        font-weight: 700;
        margin: 38px auto;
        vertical-align: middle;
        text-decoration: none;
      }
    }

  }

}

//个人收藏
.user-collect {
  .mainRight {
    .content {
      ul {
        li {
          line-height: 50px;
        }
        span {
          margin-right: 40px;
          color: #0b7fc6;
        }
      }
      .but {
        padding: 30px 0 0 0;
        button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 10px 40px;
          margin: 4px auto;
        }
      }
    }
  }

}

//设置
.suer-setting {
  .mainRight {
    background: url("../images/user/setting.png") no-repeat;
    .content {
      padding: 10% 0 15% 28%;
      line-height: 45px;
      min-width: 300px;
      text-align: center;
      h1 {
        font-size: 45px;
        text-transform: uppercase;
        margin: 25px 0;
      }
      p {
        font-size: 18px;
        margin: 15px 0;
      }
      .count span {
        font-size: 35px;
        font-weight: normal;
        font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
        padding: 5px 10px;
      }
      p .btn {
        color: #fff;
        background: rgb(255, 68, 0);
        border: 1px solid rgba(247, 194, 194, 0.27);
        padding: 10px 20px;
        margin-left: 25px;
        border-radius: 60px;

      }
    }
  }
}