@charset "UTF-8";

//common
$margin-15:15px;
$margin-10:10px;
$margin-5:5px;
$padding-5:5px;
$padding-10:10px;
$padding-15:15px;
$border-color:#CCCCCC;
$page-color:#FF4400;


//page de width
$page-width:1120px;



 // nav is color
$nav-background: #FF4400;
$nav-color: #fff;
$nav-hover:#EC2E2C;


//footer
$footer-background:#222C38;


