@charset "UTF-8";
.xqfb {
  .xqfb-title {
    a {
      margin-right: 20px;
      font-size: 16px;
    }
  }
  .xqfb-body {
    .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 25px;
      thead th {
        padding: 18px;
        width: 160px;
        border-top: 0;
        border-right: 1px dashed rgba(204, 204, 204, 0.37);
      }
      tbody {
        tr > th, td {
          padding: 18px;
          line-height: 1.6;
          vertical-align: top;
          border-top: 1px solid #ddd;
          text-align: center;
          border-right: 1px dashed rgba(204, 204, 204, 0.37);
        }
        .list {
          text-align: left;
        }
      }
    }
  }

}

//需求发布的浏览
.xqfb-browse {
  .xqfb-browse-title {
    margin: 0 80px;
    border-bottom: 1px solid #dddddd;
    padding: 60px 0 20px 0;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
  }
  .xqfb-browse-body {
    margin: 30px 180px;
    padding-bottom: 50px;
    p {
      margin: $margin-10 0 $margin-25 $margin-25;
      line-height: 30px;
      color: #656565;
      font-size: 14px;
    }
    span {
      line-height: 30px;
      color: #656565;
      font-size: 14px;
    }
    .p-ct {
      letter-spacing: 3px;
      font-size: 15px;
      color: #000000;
      line-height: 50px;
      margin: 0;
    }
    dl {
      padding: 0 20px 20px 30px;
      background: rgba(239, 244, 246, 0.38);
      dt {
        line-height: 40px;
      }
    }
    h4, h5 {
      margin: $margin-10 0;
    }
    ul li {
      line-height: 35px;
    }

  }

}

//需求发布1
.xqfb-list1 {
  padding-top: 0;
  .content-holder {
    background: 0;
    .content {
      width: 1120px !important;
      height: auto;
      .signup-center {
        .signup-main {
          height: auto;
          border-right: 0;
          border-left: 0;
          .step-contain {
            .step {
              width: 264px;
              a {
                color: #4d4c4d;
              }
            }
            .active {
              a {
                color: #FFFFFF;
              }
            }
          }
          //需求发布——分类
          .xqfb-fl {
            width: 823px;
            margin: 70px auto;
            li {
              display: inline-block;
              width: 270px;
              padding-left: 80px;
              line-height: 50px;
              i {

                margin-right: 15px;
                font-size: 25px;
                color: $nav-background;
              }
              a:hover {
                color: $nav-background;
              }
            }
          }
          //需求发布——填写
          .fb-form {
            width: 823px;
            margin: 40px auto;
            line-height: 60px;
            padding-left: 25px;
            .form-group {
              .label-title {
                display: inline-block;
                margin-bottom: 5px;
                font-weight: 700;
              }

              .note-frame {
                border: 1px solid #a9a9a9;
              }

              label {
                margin-right: 15px;
                width: 60px;
                input {
                  margin-right: 10px;
                }
              }
              .form-control {
                width: 400px;
                padding: 6px 12px;
                line-height: 1.42857143;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                input {
                  margin-right: 15px;
                }
              }
            }

          }
          //需求发布——成功
          .xqfb-cg {
            li {
              i {
                font-size: 35px;
              }
            }
          }

          .sip-bottom {
            margin-top: 100px;
          }
        }
      }

    }

  }

}

