@charset "UTF-8";
// 线上培训列表页的相关课程
.xspx-list {
  .dd {
    ul {
      li {
        border: 0 !important;
        margin-left: 16px;
        margin-right: 0 !important;
        a {
          img {
            max-width: 100%;
            margin: 5px 0;

          }
        }
        p {
          letter-spacing: 2px;
          margin-bottom: 20px;
          a {
            display: block;
            width: 220px;
            margin: 0 8px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis
          }
          a:hover {
            color: rgba(11, 99, 159, 0.91);
          }

        }
      }
      li:hover {
        box-shadow: 1px 1px 8px 1px rgba(93, 93, 93, 0.4) !important;
      }
    }
  }
}

//线上培训-列表——版本2
.xspx-list-wy-v2 {
  box-shadow: 1px 1px 10px 1px rgba(204, 204, 204, 0.33);
  border: 1px solid #ededed;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 50px;
  .breadcrumb {
    border-top: 0;
    .li-left25 {
      margin: 8px 5px 8px 35px;
    }
  }

  .xspx-list-title {
    padding: 10px 20px 0 20px;
    ul > {
      li {
        height: 30px;
        float: left;
        padding: 5px 10px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 20px;
        a {
          color: #8d8d8d;
        }
      }
      .active {
        border-top: 2px solid $page-color;
        border-bottom: none;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        a {
          color: #4e4e4e;
        }
      }
    }

  }

  .xspx-list-body {
    overflow: hidden;
    padding: 0 20px;
    .xspx-list-body-post {
      float: left;
      border: 1px solid #e4e2e2;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      width: 339.3px;
      margin: 10px;
      a {
        display: block;
        overflow: hidden;
        img {
          max-width: 100%;
        }
      }
      .des {
        padding: 0 10px;
        color: #888888;
        h3 {
          text-align: center;
          border-bottom: 1px solid #e7e7e7;
          padding-bottom: 5px;
          margin-bottom: 12px;

        }
        a {
          display: block;
          width: 247px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          padding: 0 10px 15px 10px;
        }
        p {
          margin: 0 10px 10px 10px;
          font-size: 12px;
          i{
            cursor:pointer
          }
        }
      }
    }

    /*斜标*/
    .ribbon {
      display: inline-block;
      background-size: cover;
      text-transform: uppercase;
      color: white;
      position: relative;

      .ribbon6 {
        text-align: center;
        width: 90px;
        left: -10px;
        height: 26px;
        line-height: 24px;
        position: absolute;
        top: 22px;
        font-size: 12px !important;
        -ms-transform: rotate(-12deg);
        -moz-transform: rotate(-12deg);
        -webkit-transform: rotate(-12deg);
        -o-transform: rotate(-12deg);
        border: 1px dashed;
        z-index: 1;
      }
      .green {
        box-shadow: 0 0 0 3px #57DD43, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
        background: #57DD43;
      }
      .red {
        box-shadow: 0 0 0 3px $page-color, 0px 21px 5px -18px rgba(0, 0, 0, 0.2);
        background: $page-color;
      }
    }

  }

  .pagination {
    margin-top: 30px;
  }

}

//线上培训内容页 视频页面 xspx-content.html
.xspx-video {
  .vid-wrapper {
    border: 1px solid $border-color;
    overflow: hidden;
    background: #000000;
    .title {
      color: #ffffff;
      margin: 15px 20px 10px 20px;
      letter-spacing: 3px;
    }
    video {
      width: $page-width;
      margin: 0 auto;

    }
  }
  .vid-cont {
    .divfelt {
      border: 1px solid $border-color;
      width: 850px;
      display: inline-block;
      .vid-body {
        margin: $margin-35;
        line-height: 40px;
        .vid-title {
          height: 85px;
          h3 {
            text-align: center;
          }
          span {
            float: right;
            margin-right: 30%;
            //margin-top: $margin-10;
          }
        }
        h5 {
          border-bottom: 1px solid #eaeaea;
          span {
            border-left: 3px solid #498d99;
            padding: 0 15px;
            font-weight: bold;
            background-color: #eaeaea;
            display: inline-block;
          }

        }
        .ul-h5 {
          margin: $margin-10 $margin-25;
        }
        ul li {
          margin: 10px 40px;
          list-style: square;
        }
        ol {
          list-style: trad-chinese-informal;
          margin-left: 40px;
        }
        p {
          text-indent: 2em;
          margin: $margin-10 0;

        }
      }
    }
    .dszx-kjnav {
      .vid-message {
        padding-bottom: 30px;
        margin-bottom: 20px;
        box-shadow: 1px 1px 1px 1px #CCCCCC;
        border: 1px solid #f3f3f3;

        text-align: center;
        display: inline-block;
        .btn {
          width: 150px;
          text-align: center;
          margin: 15px auto;

        }
        p {
          i, a {
            color: #f39c12 !important;
            margin: 0 8px;

          }
          a:hover {
            color: #0b7fc6 !important;
          }
        }

      }
      width: 250px;
      margin: 0 0 40px 20px;
    }
  }
}

//线上培训-分类列表页
.syjc-list {
  box-shadow: 1px 1px 10px 1px rgba(204, 204, 204, 0.33);
  border: 1px solid #ededed;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 50px;
  .breadcrumb {
    border-top: 0;
    .li-left25 {
      margin: 8px 5px 8px 35px;
    }
  }
  .book-list {
    overflow: hidden;
    li {
      float: left;
      border: 1px solid $border-color;
      margin: 20px;
      img {
        margin: 40px 35px;
        width: 260px;

      }
      .des {
        margin: 0 35px 15px 35px;
        a {
          h2 {
            font-size: 16px;
            color: #444;
            margin: 8px 0;
            line-height: 18px;
            height: 18px;
            width: 202px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        p {
          line-height: 25px;
          font-size: 14px;
          color: #a4a3a3;
        }
      }
    }
  }
  .pagination {
    margin-top: 30px;
  }

}


