title = "News Post"
url = "/news/post/:id"
layout="default"

[newsPost]
==
function onEnd(){
// 最新发布
$this['latestPosts'] = \Buuug7\News\Models\Post::displayLatest(8);

// 推荐 特色
$this['featuredPosts'] = \Buuug7\News\Models\Post::displayFeatured(8);

// 推荐课程
$this['courseTuiJian']=\Buuug7\Courses\Models\Course::displayByTags(['tui-jian'],8);

//var_dump($this->post);

if($this->post){
    $this->page->title=$this->post->title;
    $this->page->summary=$this->post->summary;
}

}
==

<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li>
        {% for category in post.categories %}
        <a href="{{ category.url }}">{{ category.name }}</a>&nbsp;
        {% endfor %}
    </li>
    <li class="active">{{ post.title }}</li>
</ol>
<section class="box clearfix">

    <div class="float-left dszx-content">
        <h4 class="title">{{ post.title }}</h4>
        <div class="title-time">
            <span class="margin-right-20">发布时间：[{{ post.published_at|date('Y-m-d')}}]</span>
            <span>信息来源：<a href="">渭源县电子商务公共服务中心</a> </span>
        </div>
        {{ post.content|raw }}

        {% if post.images %}
        <div class="post-images" style="margin:15px 0 15px 0">
            <h3>图片</h3>
            {% for item in post.images %}
            <a href="{{ item.img_path|media }}">
                <img src="{{ item.img_path|media}} " alt="{{ item.img_name }}">
            </a>
            {% endfor %}
        </div>
        {% endif %}

        {% if post.files %}

        <div class="post-files" style="margin:15px 0 15px 0">
            <h3>附件</h3>
            <ul>
                {% for item in post.files %}
                <li style="line-height: 2"><a href="{{ item.file_path|media }}" style="color:blue;">{{ item.file_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="float-right dszx-kjnav">
        <div class="kj-dszx">
            <div class="kj-title">
                <a href="javascript:void(0);"> <span>最新新闻</span></a>
            </div>
            <ul>
                {% for post in latestPosts %}
                <li>
                    <i class="aurora__title aurora100"></i>
                    <a href="/news/post/{{ post.id }}">
                        <span>{{ post.title|length > 25 ? post.title|slice(0,25)~'...' :post.title }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="kj-dszx rmkc">
            <div class="kj-title">
                <a href="xspx-list.html"> <span>推荐新闻</span></a>
            </div>
            <ul>
                {% for post in featuredPosts %}
                <li>
                    <em class="topSpan ">{{ loop.index }}</em>
                    <a href="/news/post/{{ post.id }}">
                        <span> {{ post.title|length > 25 ? post.title|slice(0,25)~'...' :post.title }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="kj-dszx rmkc">
            <div class="kj-title">
                <a href="xspx-list.html"> <span>推荐课程</span></a>
            </div>
            <ul>
                {% for post in courseTuiJian %}
                <li>
                    <em class="topSpan ">{{ loop.index }}</em>
                    <a href="/courses/course/{{ post.id }}">
                        <span> {{ post.title|length > 25 ? post.title|slice(0,25)~'...' :post.title }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>


