<p class="lead">
    请检查你的电子邮件获取激活代码。
</p>

<!--<form
    data-request="resetPassword::onResetPassword"
    data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'">
    <div class="form-group">
        <label for="resetCode">激活码</label>
        <input name="code" type="text" class="form-control" id="resetCode" placeholder="输入激活码" value="{{ resetPassword.code }}">
    </div>

    <div class="form-group">
        <label for="resetPassword">新密码</label>
        <input name="password" type="password" class="form-control" id="resetPassword" placeholder="输入新密码">
    </div>

    <button type="submit" class="btn btn-default">重置密码</button>
</form>-->
