<ul class="nav nav-pills nav-stacked ">
    <li class="bg-white {% if viewBag.userActiveMenu == 'account' %}active{% endif %}"><a href="/user/center/account"><i class="fa fa-fw fa-user-o"></i> 账号</a>
    </li>
    <li class="bg-white {% if viewBag.userActiveMenu == 'avatar' %}active{% endif %}"><a href="/user/center/avatar"><i class="fa fa-fw fa-user-circle"></i> 头像</a></li>
    <li class="bg-white {% if viewBag.userActiveMenu == 'companies' %}active{% endif %}"><a href="/user/center/companies"><i class="fa fa-fw fa-home"></i> 公司</a></li>
    <li class="bg-white {% if viewBag.userActiveMenu == 'shops' %}active{% endif %}"><a href="/user/center/shops"><i class="fa fa-fw fa-shopping-basket"></i> 我的店铺</a></li>
    <li class="bg-white {% if viewBag.userActiveMenu == 'courses' %}active{% endif %}"><a href="/user/center/courses"><i class="fa fa-fw fa-folder-open"></i> 收藏课程</a>
    </li>
    <li class="bg-white {% if viewBag.userActiveMenu == 'needs' %}active{% endif %}"><a href="/user/center/needs"><i class="fa fa-fw fa-feed"></i> 我的发布</a></li>
    <li class="bg-white {% if viewBag.userActiveMenu == 'settings' %}active{% endif %}"><a href="/user/center/settings"><i class="fa fa-fw fa-gear"></i> 设置</a></li>
</ul>