title = '数据分析'
url = '/statisticones/analysis'
layout = 'default'
==
function onStart(){

$this->addJs('https://cdn.bootcss.com/Chart.js/2.5.0/Chart.bundle.min.js');

$this['analysisByMonth']=\Buuug7\Statistics\Models\StatisticOne::getAnalysisByDateRange('2016-04-30','2017-12-31','%Y-%m');

$this['analysisByYear']=\Buuug7\Statistics\Models\StatisticOne::getAnalysisByDateRange('2016-04-30','2017-12-31','%Y');

//var_dump($this['analysis']);
}
==


<ol class="box breadcrumb">
    <li><a href="index.html">首页</a></li>
    <li><a href="user.html">用户中心</a></li>
    <li><a href="Data-Statistics.html">数据统计</a></li>
    <li class="active">数据分析</li>
</ol>
<section class="box user xqfb data-analyze">

    <div class="mainRight  xqfb-body ">
        <div class="panel-heading">
            数据分析 <span>（按年统计）</span>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>时间</th>
                <th>购进(万元)(平均值)</th>
                <th>外销(万元)(平均值)</th>
                <th>贫困电商交易额(万元)(平均值)</th>
                <th>电商交易额(万元)(平均值)</th>
                <th>购进(万元)(总和)</th>
                <th>外销(万元)(总和)</th>
                <th>贫困电商交易额(万元)(总和)</th>
                <th>电商交易额(万元)(总和)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2017</td>
                <td>16.199074074074</td>
                <td>20.101851851852</td>
                <td>11.083333333333</td>
                <td>36.393518518519</td>
                <td>3499</td>
                <td>4342</td>
                <td>2394</td>
                <td>7861</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="mainRight  xqfb-body">
        <div class="panel-heading">
            数据分析 ( 按月统计 )
        </div>

        <div class="table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>购进(万元)(平均值)</th>
                    <th>外销(万元)(平均值)</th>
                    <th>贫困电商交易额(万元)(平均值)</th>
                    <th>电商交易额(万元)(平均值)</th>
                    <th>购进(万元)(总和)</th>
                    <th>外销(万元)(总和)</th>
                    <th>贫困电商交易额(万元)(总和)</th>
                    <th>电商交易额(万元)(总和)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>201701</td>
                    <td>14.516129032258</td>
                    <td>18.612903225806</td>
                    <td>10.41935483871</td>
                    <td>33.451612903226</td>
                    <td>450</td>
                    <td>577</td>
                    <td>323</td>
                    <td>1037</td>
                </tr>
                <tr>
                    <td>201702</td>
                    <td>11.607142857143</td>
                    <td>14.964285714286</td>
                    <td>9.6785714285714</td>
                    <td>26.571428571429</td>
                    <td>325</td>
                    <td>419</td>
                    <td>271</td>
                    <td>744</td>
                </tr>
                <tr>
                    <td>201703</td>
                    <td>17.129032258065</td>
                    <td>20.096774193548</td>
                    <td>10.41935483871</td>
                    <td>37.225806451613</td>
                    <td>531</td>
                    <td>623</td>
                    <td>323</td>
                    <td>1154</td>
                </tr>
                <tr>
                    <td>201704</td>
                    <td>16.766666666667</td>
                    <td>19.533333333333</td>
                    <td>10.4</td>
                    <td>36.3</td>
                    <td>503</td>
                    <td>586</td>
                    <td>312</td>
                    <td>1089</td>
                </tr>
                <tr>
                    <td>201705</td>
                    <td>14.516129032258</td>
                    <td>18.612903225806</td>
                    <td>10.41935483871</td>
                    <td>33.451612903226</td>
                    <td>450</td>
                    <td>577</td>
                    <td>323</td>
                    <td>1037</td>
                </tr>
                <tr>
                    <td>201706</td>
                    <td>12.5</td>
                    <td>16.2</td>
                    <td>10.4</td>
                    <td>28.7</td>
                    <td>375</td>
                    <td>486</td>
                    <td>312</td>
                    <td>861</td>
                </tr>
                <tr>
                    <td>201707</td>
                    <td>17</td>
                    <td>20.129032258065</td>
                    <td>11.064516129032</td>
                    <td>37.129032258065</td>
                    <td>527</td>
                    <td>624</td>
                    <td>343</td>
                    <td>1151</td>
                </tr>
                <tr>
                    <td>201708</td>
                    <td>97.666666666667</td>
                    <td>53.666666666667</td>
                    <td>38.333333333333</td>
                    <td>151.33333333333</td>
                    <td>293</td>
                    <td>161</td>
                    <td>115</td>
                    <td>454</td>
                </tr>
                <tr>
                    <td>201709</td>
                    <td>45</td>
                    <td>289</td>
                    <td>72</td>
                    <td>334</td>
                    <td>45</td>
                    <td>289</td>
                    <td>72</td>
                    <td>334</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-footer">

        </div>
    </div>


</section>    <ol class="box breadcrumb">
    <li><a href="/">首页</a></li>
    <li><a href="/user/center/account">用户中心</a></li>
    <li><a href="/user/center/statisticones">数据统计</a></li>
    <li class="active">数据分析</li>
</ol>
<section class="box user xqfb data-analyze">

    <div class="mainRight  xqfb-body ">
        <div class="panel-heading">
            数据分析 <span>（按年统计）</span>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>时间</th>
                <th>购进(万元)(平均值)</th>
                <th>外销(万元)(平均值)</th>
                <th>贫困电商交易额(万元)(平均值)</th>
                <th>电商交易额(万元)(平均值)</th>
                <th>购进(万元)(总和)</th>
                <th>外销(万元)(总和)</th>
                <th>贫困电商交易额(万元)(总和)</th>
                <th>电商交易额(万元)(总和)</th>
            </tr>
            </thead>
            <tbody>
            {% for item in analysisByYear %}
            <tr>
                <td>{{ item.dates }}</td>
                <td>{{ item.avgBuy }}</td>
                <td>{{ item.avgSales }}</td>
                <td>{{ item.avgPovertyTotal }}</td>
                <td>{{ item.avgTotal }}</td>
                <td>{{ item.sumBuy }}</td>
                <td>{{ item.sumSales }}</td>
                <td>{{ item.sumPovertyTotal }}</td>
                <td>{{ item.sumTotal }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="mainRight  xqfb-body">
        <div class="panel-heading">
            数据分析 ( 按月统计 )
        </div>

        <div class="table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>购进(万元)(平均值)</th>
                    <th>外销(万元)(平均值)</th>
                    <th>贫困电商交易额(万元)(平均值)</th>
                    <th>电商交易额(万元)(平均值)</th>
                    <th>购进(万元)(总和)</th>
                    <th>外销(万元)(总和)</th>
                    <th>贫困电商交易额(万元)(总和)</th>
                    <th>电商交易额(万元)(总和)</th>
                </tr>
                </thead>
                <tbody>
                {% for item in analysisByMonth %}
                <tr>
                    <td>{{ item.dates }}</td>
                    <td>{{ item.avgBuy }}</td>
                    <td>{{ item.avgSales }}</td>
                    <td>{{ item.avgPovertyTotal }}</td>
                    <td>{{ item.avgTotal }}</td>
                    <td>{{ item.sumBuy }}</td>
                    <td>{{ item.sumSales }}</td>
                    <td>{{ item.sumPovertyTotal }}</td>
                    <td>{{ item.sumTotal }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel-footer">

        </div>
    </div>


</section>


{% put scripts %}
<script>
    //
    // line chart for group by month
    //
    var ctxLineChartByMonth = document.getElementById('line-chart-by-month');
    var lineChartDataByMonth = {
        labels: [{% for item in analysisByMonth %}"{{ item.dates }}",{% endfor %}],
        datasets:[
            {
                label:'电商交易额(万元)(总和)',
                fill: true,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointRadius: 3,
                data: [{% for item in analysisByMonth %}{{ item.sumTotal }},{% endfor%}],
            },
            {
                label:'贫困电商交易额(万元)(总和)',
                fill: true,
                backgroundColor: "rgba(153,51,0,0.4)",
                borderColor: "rgba(153,51,0,1)",
                pointBorderColor: "rgba(5,192,192,1)",
                pointBackgroundColor: "#fff",
                pointRadius: 3,
                data: [{% for item in analysisByMonth %}{{ item.sumPovertyTotal }},{% endfor%}],
            },
            {
                label:'外销(万元)(总和)',
                fill: true,
                backgroundColor: "rgba(0,51,204,0.4)",
                borderColor: "rgba(0,51,204,1)",
                pointBorderColor: "rgba(5,192,192,1)",
                pointBackgroundColor: "#fff",
                pointRadius: 3,
                data: [{% for item in analysisByMonth %}{{ item.sumSales }},{% endfor%}],
            },
            {
                label:'购进(万元)(总和)',
                fill: true,
                backgroundColor: "rgba(0,204,0,0.4)",
                borderColor: "rgba(0,204,0,1)",
                pointBorderColor: "rgba(5,192,192,1)",
                pointBackgroundColor: "#fff",
                pointRadius: 3,
                data: [{% for item in analysisByMonth %}{{ item.sumBuy }},{% endfor%}],
            }
        ]
    };
    var lineChartOptionsByMonth = {};
    var lineChartByMonth = new Chart(ctxLineChartByMonth, {
        type: 'line',
        data: lineChartDataByMonth,
        options: lineChartOptionsByMonth
    });
</script>
{% endput %}