//
// Variables file
//
// Space for any custom variables used by this application
//

//Primary
@light-blue: #3c8dbc;
//Danger
@red: #dd4b39;
//Success
@green: #00a65a;
//Info
@aqua: #00c0ef;
//Warning
@yellow: #f39c12;

// Brands
// --------------------------------------------------
@brand-primary:         #3c8dbc;
@brand-success:         #00a65a;
@brand-info:            #00c0ef;
@brand-warning:         #f39c12;
@brand-danger:          #dd4b39;

// Typography
// --------------------------------------------------
@font-family-sans-serif:  Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
@line-height-base: 1.6;
@font-size-base: 16px;
@text-color: #586667;
@headings-color: #1f3f50;
@jumbotron-heading-color: @headings-color;

// Spacing
// --------------------------------------------------
@spacer: 20px;
@spacer-y: @spacer;
@spacer-x: @spacer;

// Navbar
// --------------------------------------------------
@navbar-height: 70px;
@navbar-margin-bottom: 0;

@navbar-inverse-bg: #000;
@navbar-inverse-link-color: rgba(255,255,255,0.6);

@navbar-link-stripe-color-active: #000;
@navbar-link-stripe-color-hover: #e67e22;

// Callouts
// --------------------------------------------------
@callout-padding:               20px;
@callout-border-radius:         @border-radius-base;
@callout-border:                @gray-lighter;

@callout-info-bg:               #f4f8fa;
@callout-info-text:             @state-info-text;
@callout-info-border:           @state-info-border;

@callout-warning-bg:            #faf8f0;
@callout-warning-text:          @state-warning-text;
@callout-warning-border:        @state-warning-border;

@callout-danger-bg:             #fdf7f7;
@callout-danger-text:           @state-danger-text;
@callout-danger-border:         @state-danger-border;

@callout-success-bg:            #f9fdf7;
@callout-success-text:          @state-success-text;
@callout-success-border:        @state-success-border;

// add buuug7
// Buttons
@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;
@btn-default-color: @text-color;

// Inputs
@input-border: lighten(@text-color, 40%);
@input-border-focus: lighten(@brand-primary, 25%);
@input-color-placeholder: lighten(@text-color, 30%);

// Panels
@panel-default-heading-bg: #fff;

//Jumbotron
@jumbotron-bg: #fff;

// Link
@link-color: @brand-primary;
@link-hover-color: darken(@link-color, 15%);
@link-hover-decoration: none;

//== Pagination
//
//##

@pagination-color:                     @link-color;
@pagination-bg:                        #fff;
@pagination-border:                    #ddd;

@pagination-hover-color:               @link-hover-color;
@pagination-hover-bg:                  @gray-lighter;
@pagination-hover-border:              #ddd;

@pagination-active-color:              #fff;
@pagination-active-bg:                 @brand-warning;
@pagination-active-border:             @brand-warning;

@pagination-disabled-color:            @gray-light;
@pagination-disabled-bg:               #fff;
@pagination-disabled-border:           #ddd;




@screen-sm-min:              1200px;
