title = '公司'
url = '/companies/company/:id'
layout = 'default'
[b7Company]
==
function onStart(){

}
==

<div class="container m-t">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ company.name }}
                </div>
                <div class="panel-body">
                    {% if user.id == company.user.id %}
                    {% if not company.checked %}
                    {% if company.status == 'committed' %}
                    <div class="alert alert-info">
                        <strong>您的公司信息已经提交，我们会尽快审核</strong>
                    </div>
                    {% elseif company.status == 'checking' %}
                    <div class="alert alert-info">
                        <strong>您提交的信息正在审核中</strong>
                    </div>
                    {% elseif company.status == 'passed' %}
                    <div class="alert alert-success">
                        <strong>您提交的公司信息已经通过审核</strong>
                    </div>
                    {% elseif company.status == 'not_passed' %}
                    <div class="alert alert-info">
                        <strong>您提交的公司信息未通过审核,具体原因如下,修复后可重新提交进行审核</strong>
                    </div>
                    <div class="callout callout-danger">
                        <h4>需要修复的问题</h4>
                        <p class="m-t">
                            {{ company.not_passed_message }}
                        </p>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endif %}

                    {% if company.checked %}
                    {% if user.id == company.user.id %}
                    <div class="alert alert-success">
                        <strong>您提交的公司信息已经通过审核</strong>
                    </div>
                    {% endif %}
                    <ul class="list-unstyled">
                        <li>公司地址：{{ company.address }}</li>
                        <li>联系电话：{{ company.contact_phone }}</li>
                        <li>推荐企业：{{ company.featured ? '是' : '否' }}</li>
                    </ul>

                    <h4>公司介绍</h4>
                    {{ company.description }}
                    <h4>公司详情</h4>
                    {{ company.detail|raw }}
                    {% endif %}
                </div>
            </div>
        </div>

        {% if company.checked %}
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="{{ company.getAvatarThumb(400,200) }}" alt="" class="img-responsive">
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>