/*
|--------------------------------------------------------------------------
| _alert
|--------------------------------------------------------------------------
|
| Created by buuug7 on 2017/5/6.
| 
|
*/

// alert
.alert-danger {
    background-color: $brand-danger;
    color: #fff;
}

.alert-success {
    background-color: $brand-success;
    color: #fff;
}

.alert-warning {
    background-color: $brand-warning;
    color: #fff;
}

.alert-info {
    background-color: $brand-info;
    color: #fff;
}