/*
|--------------------------------------------------------------------------
| _comments
|--------------------------------------------------------------------------
|
| Created by buuug7 on 2017/5/28.
| 
|
*/

.comments-v1 {

    .list-group-item {
        position: relative;
        background: #fff;
        padding: 20px 20px 20px 80px;
        margin: 0;
        line-height: 1.5rem;
        min-height: 90px;
        font-size:14px;
        border: none;
        border-bottom: 1px solid #e0e0e0;
        @include border-top-radius(0);
        .img-circle {
            position: absolute;
            width: 60px;
            height: 60px;
            overflow: hidden;
            left: 10px;
            vertical-align: middle;
            display: inline-block;
            border-radius: 50%;
        }
        .title {
            font-weight: 700;
            font-size: 16px;
        }
        .time{
            font-size: 12px;
            color: #777;
            display: block;
            margin-bottom: 5px;
        }
        .comments-body{
            p {
                margin: 0;
            }
            a {
                color: $brand-warning;
                font-size: 14px;
            }
            blockquote{
                font-size:14px;
            }
        }

    }
    .secondary-content {
        position: absolute;
        top: 18px;
        right: 25px;
        float: right;
        text-decoration: none;
        font-size: 14px;
        a{
            color: $brand-warning;
        }
        .fa {
            padding-right: 5px !important;
        }
        .like {
            font-size: 12px;
        }

    }
}