/*
|--------------------------------------------------------------------------
| _custom
|--------------------------------------------------------------------------
|
| Created by buuug7 on 2017/5/18.
|
|
*/

/*
 * Images
 */
img.oc-img-rounded {
    border-radius: 100%;
    background-clip: padding-box;
}

img.oc-img-bordered {
    border: solid 10px #CCC;
    box-sizing: content-box;
}

img.fr-dib {
    margin: 5px auto;
    display: block;
    float: none;
    vertical-align: top;
}

img.fr-dib.fr-fir {
    margin-right: 0;
}

img.fr-dib.fr-fil {
    margin-left: 0;
}

/*
 * Text
 */
.oc-text-gray {
    color: #AAA !important;
}

.oc-text-bordered {
    border-top: solid 1px #222;
    border-bottom: solid 1px #222;
    padding: 10px 0;
}

.oc-text-spaced {
    letter-spacing: 1px;
}

.oc-text-uppercase {
    text-transform: uppercase;
}

/*
 * Links
 */
a.oc-link-strong {
    font-weight: 700;
}

a.oc-link-green {
    color: green;
}

/*
 * Table
 */
table.oc-dashed-borders td,
table.oc-dashed-borders th {
    border-style: dashed;
}

table.oc-alternate-rows tbody tr:nth-child(2n) {
    background: #f5f5f5;
}

/*
 * Table cell
 */
table td.oc-cell-highlighted,
table th.oc-cell-highlighted {
    border: 1px double red;
}

table td.oc-cell-thick-border,
table th.oc-cell-thick-border {
    border-width: 2px;
}

body {
    padding-top: 65px;
}

a {
    &:hover {
        cursor: pointer;
    }
    &:visited, &:active {
        text-decoration: none;
    }
}

blockquote {
    font-size: 16px;
}

.block-with-shadown {
    box-shadow: 1px 1px 1px #ddd;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: $brand-warning;
}

.nav-pills > li > a {
    color: #333;
}

.chart {
    position: relative;
    overflow: hidden;
    width: 100%;
}

// .....
.news-wrap {
    display: block;
    position: relative;
    overflow: hidden;
    .title {
        position: absolute;
        left: 0;
        bottom: 0;
        color: #fff;
        margin: 0;
        padding: 10px;
        text-shadow: 5px 5px 5px #000;
        font-size: 14px;
    }
}

.list-group--needs {
    .list-group-item {
        padding: 15px;
        position: relative;
        overflow: hidden;
    }
    .list-group-item__info {
        padding-left: 60px;
        position: relative;
        height: 50px;
        .list-inline-after-slash {
            padding: 8px 0 0 0;
            font-size: 14px;
            color: #999;
            a {
                color: #999;
            }
        }
    }
    .list-group-item__avatar {
        position: absolute;
        left: 0;
        width:50px;
        height:50px;
    }
    .list-group-item__name {
        display: block;
    }
    .list-group-item__time {
        color: #999;
        font-size: 14px;
    }
    .list-group-item__title {
        display: block;
        margin-top: 10px;
        a {
            font-size: 18px;
        }

    }
    .list-group-item__feature {
        position: absolute;
        top: 7px;
        right: -30px;
        display: block;
        height: 25px;
        line-height: 25px;
        text-align: center;
        width: 100px;
        background: $brand-warning;
        color: #fff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        font-size: 14px;
    }
}

.label-v1 {
    color: #bbb;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 5px;
    border: 1px solid #bbb;
    //border-radius: 2px;
    &:hover {
        color: #fff;
        background: #f39c12;
        border-color: #f39c12;
        text-decoration: none;
        transition: all 0.25s, transform 0.25s;
    }
}

.nav-cat {
    text-align: center;
    padding: 15px 36px;
    display: inline-block;
    > .nav-cat__name {
        color: #888;
        margin-bottom: 0;
        font-size: 18px;
    }
}


