/*
|--------------------------------------------------------------------------
| _custom
|--------------------------------------------------------------------------
|
| Created by buuug7 on 2017/5/18.
|
|
*/

/*
 * Images
 */
img.oc-img-rounded {
    border-radius: 100%;
    background-clip: padding-box;
}

img.oc-img-bordered {
    border: solid 10px #CCC;
    box-sizing: content-box;
}

img.fr-dib {
    margin: 5px auto;
    display: block;
    float: none;
    vertical-align: top;
}

img.fr-dib.fr-fir {
    margin-right: 0;
}

img.fr-dib.fr-fil {
    margin-left: 0;
}

/*
 * Text
 */
.oc-text-gray {
    color: #AAA !important;
}

.oc-text-bordered {
    border-top: solid 1px #222;
    border-bottom: solid 1px #222;
    padding: 10px 0;
}

.oc-text-spaced {
    letter-spacing: 1px;
}

.oc-text-uppercase {
    text-transform: uppercase;
}

/*
 * Links
 */
a.oc-link-strong {
    font-weight: 700;
}

a.oc-link-green {
    color: green;
}

/*
 * Table
 */
table.oc-dashed-borders td,
table.oc-dashed-borders th {
    border-style: dashed;
}

table.oc-alternate-rows tbody tr:nth-child(2n) {
    background: #f5f5f5;
}

/*
 * Table cell
 */
table td.oc-cell-highlighted,
table th.oc-cell-highlighted {
    border: 1px double red;
}

table td.oc-cell-thick-border,
table th.oc-cell-thick-border {
    border-width: 2px;
}

body {
    padding-top: 65px;
}

a {
    &:hover {
        cursor: pointer;
    }
    &:visited, &:active {
        text-decoration: none;
    }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: $brand-warning;
}

.nav-pills > li > a {
    color: #333;
}

.chart {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.thumbnail-v2 {
    background-color: transparent;
    .caption{
        > * {
            text-align: center;
        }
        >p{
            color: rgb(158,158,158) !important;;
        }
        > p:last-of-type {
            font-size: 14px;
        }
    }
}



// .....
.news-wrap {
    display: block;
    position: relative;
    overflow: hidden;
    .title {
        position: absolute;
        left:0;
        bottom: 0;
        color:#fff;
        margin:0;
        padding: 10px;
        text-shadow: 5px 5px 5px #000;
    }

}