/*
|--------------------------------------------------------------------------
| _news_post
|--------------------------------------------------------------------------
|
| Created by buuug7 on 2017/5/6.
| 
|
*/

/*
* news content page
*/
.news-post-detail {
    .post-image {
        img {
            width: 100%;
        }
    }

    .post-info ul {
        list-style: none;
        border-radius: 0;
        background-color: #fff;
        margin-left: 0;
        padding: 15px 15px 0 15px;
        @include li-after-slash;
    }

    .post-title {
        padding: 0 15px 20px 15px;
    }
    .post-content {
        padding: 0 15px 20px 15px;
    }
    .post-images{
        padding: 0 15px 20px 15px;
    }
    .post-files{
        padding: 0 15px 20px 15px;
    }
}


.author-info{
    background-color:#fff;
    padding:20px;
    img{
        float:left;
        height:auto;
        width:100px;
        border:0;
        vertical-align:middle;
        border-radius:0;
        margin-right:15px;
        border-radius:50%;

    }
    .detail{
        overflow:hidden;
        .upper{
            overflow:hidden;
            h4{
                float:left;
                float: left;
                font-size: 18px;
                margin: 0 0 10px;
                text-transform: uppercase;
            }
            ul{
                float:right;
                margin-top:6px;
            }
            ul li a{
                color:#333;
            }
        }
    }
}

//
// news list
//
.post-list {
    .posted-info {
        @include li-after-slash;
    }
    h4 {
        font-size: 18px;
    }
}

.latest-news {
    h3 {
        font-size: 16px;
        margin: 0 0 5px;
        line-height: 17px;
    }
}


