/*
|--------------------------------------------------------------------------
| _owl-carousel
|--------------------------------------------------------------------------
|
| Created by buuug7 on 2017/5/18.
| 
|
*/
// owl v1 v2
.owl-carousel-v1, .owl-carousel-v2 {
    position: relative;
    .owl-nav {
        position: absolute;
        top: -46px;
        right: 0;
        //width:60px;
        //height:25px;
    }
    .owl-nav .owl-prev, .owl-nav .owl-next {
        display: inline-block;
        margin: 0 2px;
        padding: 0 5px;
        background: $brand-warning;
        color: #fff;
        i {
            font-size: 22px;
        }
    }
}

.owl-carousel-v3 {
    .item {
        display: block;
        position: relative;
    }
    .item p {
        position: absolute;
        bottom:0;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.3);
        margin:0;
        padding:8px 12px;
        color:#fff;
        font-size: 14px;
        text-shadow: 5px 5px 5px #000;
    }

    .owl-dots {
        position: absolute;
        right: 0;
        height:35px;
        bottom: 0;
        overflow: hidden;
        .owl-dot {
            float: left;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            padding-right: 10px;
            span {
                display: inline-block;
                width: 11px;
                height: 11px;
                border: 1px solid $brand-warning;
                background: #fff;
            }
        }
        .active {
            span {
                background: $brand-warning;
            }
        }
    }
}

.item-block-v1{
    background-color: #f7f7f7;
    padding:12px 12px;
    >a{
        display: block;
        height:45px;
        line-height: 22px;
    }
}
.item-block-v2{
    background-color: #f7f7f7;
    padding:12px 12px;
    >a{
        display: block;
        height:45px;
        line-height: 22px;
        margin-bottom: 10px;
    }
}