/*
|--------------------------------------------------------------------------
| _panel
|--------------------------------------------------------------------------
|
| Created by buuug7 on 2017/5/18.
| 
|
*/

.panel-trans {
    background-color: transparent;
    @include panel-variant(transparent, $gray-dark, transparent, #ddd);
    .panel-heading {
        padding-right: 60px;
        position: relative;
        .more {
            position: absolute;
            right: 15px;
            top: 22px;
        }
    }
    .list-group {
        .list-group-item {
            background-color: transparent;
            padding-right: 45px;
            position: relative;

        }
        .list-group-item > .time {
            position: absolute;
            right: 15px;
        }
        .list-group-item > a {
            color: $gray-dark;
        }
    }
}

.panel-list-group-time {
    .panel-heading span.title {
        font-weight: bold;
    }

    .list-group {
        .list-group-item {
            background-color: transparent;
            padding-right: 60px;
            position: relative;
        }
        .list-group-item > a {
            color: $gray-dark;
        }

        .list-group-item > .time {
            position: absolute;
            right: 15px;
        }

    }
}