/*
|--------------------------------------------------------------------------
| _tabs
|--------------------------------------------------------------------------
|
| Created by buuug7 on 2017/5/6.
| 
|
*/

// tab-v1
.tab-v1 {
    .nav-tabs {
        border: none;
        background: none;
        border-bottom: solid 2px $brand-warning;
        a {
            font-size: 14px;
            padding: 5px 15px;
            color: #555;
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: #fff;
                border: none;
                background: $brand-warning;
            }
        }
        > li {
            > a {
                border: none;
            }
            > a:hover {
                color: #fff;
                background: $brand-warning;
            }
        }
    }
    .tab-content {
        padding: 10px 0;
        img {
            margin-top: 4px;
            margin-bottom: 15px;
        }
        img.img-tab-space {
            margin-top: 7px;
        }
    }
}

// tab-v2
.tab-v2 {
    .nav-tabs {
        border-bottom: none;
        li a {
            padding: 9px 16px;
            background: none;
            border: none;
            color: #555;
        }
        li.active a {
            background: #fff;
            padding: 7px 15px 9px;
            border: solid 1px #eee;
            border-top: solid 2px $brand-warning;
            border-bottom: none !important;
        }
    }

    .tab-content {
        padding: 10px 16px;
        border: solid 1px #eee;
    }
}

// tab-v3
.tab-v3 {
    .nav-pills {
        li a {
            color: #777;
            font-size: 17px;
            padding: 4px 8px;
            margin-bottom: 3px;
            background: #fafafa;
            border: solid 1px #eee;
        }
        li.a:hover, li.active a {
            color: #fff;
            background: $brand-warning;
            border: solid 1px $brand-warning;
        }
        li i {
            width: 1.25em;
            margin-right: 5px;
            text-align: center;
            display: inline-block;
        }
    }

    .tab-content {
        padding: 15px;
        background: #fafafa;
        border: solid 1px #eee;
    }

}

.tab-v3 .tab-content {
    padding: 15px;
    background: #fafafa;
    border: solid 1px #eee;
}

