/*
|--------------------------------------------------------------------------
| _tags
|--------------------------------------------------------------------------
|
| Created by buuug7 on 2017/5/6.
| 
|
*/

//
// tags v1
//
.tags-v1 {
    li {
        margin: 0;
        padding: 0;
    }
    li a {
        font-size: 13px;
        padding: 4px 8px;
        line-height: 32px;
        border: solid 2px #eee;
        border-radius: 20px !important;
        transition: all 0.2s ease-in-out;
        color: #555;
        &:hover {
            text-decoration: none;
            border-color: #e0e0e0;
        }
    }
}

//
// tags v2
//
.tags-v2 {
    li {
        padding: 7px 0 7px 4px;
    }
    li a {
        color: #555;
        font-size: 13px;
        padding: 5px 10px;
        border: solid 1px #bbb;
        &:hover {
            color: #fff;
            background: #555;
            border-color: #555;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
        }
    }
}

//
// tags v3
//
.tags-v3 {
    li {
        padding: 7px 0 7px 4px;
    }
    li a {
        color: #555;
        font-size: 12px;
        padding: 4px 12px;
        border: solid 1px #eee;
        &:hover {
            color: #fff;
            background: #222;
            border-color: #222;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
        }
    }
}

//
// tags v4
//
.tags-v4 {
    padding-left: 0;
    list-style: none;
    li {
        padding: 3px 2px;
        line-height: 28px;
        display: inline-block;
    }
    a {
        color: #bbb;
        font-size: 13px;
        font-weight: 400;
        padding: 4px 10px;
        border: 1px solid #bbb;
        &:hover {
            color: #fff;
            background: $brand-warning;
            border-color: $brand-warning;
            text-decoration: none;
            transition: all 0.25s,
            transform 0.25s;
        }
    }
}
