title = "公司"
url = "/user/company"
layout="default"

[b7Company]
==
function onEnd(){
$loggedIn = Auth::check();
if(!$loggedIn){
return Redirect::to('/account');
}
}
==

<div class="container margin-top-20">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    公司信息
                </div>
                <div class="panel-body">
                    {% if company %}
                        {% if not company.checked %}
                            {% if company.status == 'committed' %}
                                <p>您的公司信息已经提交.</p>
                            {% elseif company.status == 'checking' %}
                                <p>您提交的信息正在审核过程中</p>
                            {% elseif company.status == 'passed' %}
                                <p>您提交的公司信息已经通过审核!</p>
                            {% elseif company.status == 'not_passed' %}
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <p>您提交的公司信息未通过审核,具体原因如下,修复后可重新提交进行审核</p>
                                        <p class="text-danger">{{ company.not_passed_message|md }}</p>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        {% partial 'user/company_form' company=company method='onUpdateCompany' %}
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <p class="text-success">您提交的公司信息已经通过审核</p>
                            {% partial 'user/company_form' company=company method='onUpdateCompany' %}
                        {% endif %}
                    {% else %}
                        {% partial 'user/company_form' company=company method='onCreateCompany' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
